# LNDg Service
# /etc/systemd/system/lndg.service

[Unit]
Description=LNDg
Wants=www.service docker_images.service
After=www.service docker_images.service

[Service]
WorkingDirectory=/opt/mynode/lndg

ExecStartPre=/usr/bin/is_not_shutting_down.sh
ExecStartPre=/bin/bash -c 'if [ -f /usr/bin/service_scripts/pre_lndg.sh ]; then /bin/bash /usr/bin/service_scripts/pre_lndg.sh; fi'
ExecStart=/bin/bash -c "/opt/mynode/lndg/.venv/bin/supervisord && /opt/mynode/lndg/.venv/bin/python manage.py runserver 0.0.0.0:8889"
ExecStartPost=/bin/bash -c 'if [ -f /usr/bin/service_scripts/post_lndg.sh ]; then /bin/bash /usr/bin/service_scripts/post_lndg.sh; fi'
#ExecStop=TODO

# Need new user
User=lndg
Group=lndg
Type=simple
TimeoutSec=120
Restart=always
RestartSec=60
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=lndg

[Install]
WantedBy=multi-user.target