[Unit]
Description=Canary
Wants=electrs.service docker_images.service
After=electrs.service docker_images.service

[Service]
WorkingDirectory=/opt/mynode/canary

ExecStartPre=/usr/bin/is_not_shutting_down.sh
ExecStartPre=+/bin/bash -c 'if [ -f /usr/bin/service_scripts/pre_canary.sh ]; then /bin/bash /usr/bin/service_scripts/pre_canary.sh; fi'
ExecStartPre=-/usr/local/bin/docker-compose down --remove-orphans
ExecStart=/usr/local/bin/docker-compose up
ExecStop=/usr/local/bin/docker-compose down --remove-orphans

User=bitcoin
Group=bitcoin
Type=simple
TimeoutSec=120
Restart=always
RestartSec=60
StandardOutput=journal
StandardError=journal
SyslogIdentifier=canary

[Install]
WantedBy=multi-user.target
