# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Flask stuff:
instance/
.webassets-cache

# dotenv
.env

# vscode
.vscode/

.DS_Store

# Output (rootfs, etc...)
out/

# Release tarballs stuff
releases/
release.sh

