<!DOCTYPE html lang="en">
    <head>
        <title>myNode About</title>
        {% include 'includes/head.html' %}
     </head>

    <body>
        {% include 'includes/logo_header.html' %}

        <div class="mynode_back_div">
            <a class="ui-button ui-widget ui-corner-all mynode_back" href="/"><span class="ui-icon ui-icon-home"></span>home&nbsp;</a>
        </div>

        <div class="main_header">About</div>

        <br/>
        <div class="settings_block">
            <div class="settings_block_header">Contacts</div>
            <p>
                If you have any questions or comments, please contact myNode via email at the following address:
                <br/></br>
                <a href="mailto:mynode@mynodebtc.com">mynode@mynodebtc.com</a>
            </p>
        </div>

        <div class="settings_block">
            <div class="settings_block_header">Open Source</div>
            <p>Thanks to all the open source projects that make this possible!</p>
            <p>If it wasn't for these projects and people like you, Bitcoin, the Lightning Network, and all these related projects would not be possible.</p>

            <p><b>Bitcoin</b><br/><a href="https://github.com/bitcoin/bitcoin">https://github.com/bitcoin/bitcoin</a></p>
            <p><b>LND</b><br/> <a href="https://github.com/lightningnetwork/lnd">https://github.com/lightningnetwork/lnd</a></p>
            <p><b>BlueWallet</b><br/> <a href="https://github.com/BlueWallet/BlueWallet">https://github.com/BlueWallet/BlueWallet</a></p>
            <p><b>BTC RPC Explorer</b><br/> <a href="https://github.com/janoside/btc-rpc-explorer">https://github.com/janoside/btc-rpc-explorer</a></p>
            <p><b>BTCPay Server</b><br/> <a href="https://github.com/btcpayserver/btcpayserver">https://github.com/btcpayserver/btcpayserver</a></p>
            <p><b>Electrs</b><br/> <a href="https://github.com/romanz/electrs">https://github.com/romanz/electrs</a></p>
            <p><b>Electrum</b><br/> <a href="https://github.com/spesmilo/electrum">https://github.com/spesmilo/electrum</a></p>
            <p><b>FullyNoded</b><br/> <a href="https://github.com/Fonta1n3/FullyNoded">https://github.com/Fonta1n3/FullyNoded</a></p>
            <p><b>JoinMarket</b><br/> <a href="https://github.com/JoinMarket-Org/joinmarket-clientserver">https://github.com/JoinMarket-Org/joinmarket-clientserver</a></p>
            <p><b>LND Connect</b><br/> <a href="https://github.com/LN-Zap/lndconnect">https://github.com/LN-Zap/lndconnect</a></p>
            <p><b>LndHub</b><br/> <a href="https://github.com/BlueWallet/LndHub">https://github.com/BlueWallet/LndHub</a></p>
            <p><b>Lndmanage</b><br/> <a href="https://github.com/bitromortac/lndmanage">https://github.com/bitromortac/lndmanage</a></p>
            <p><b>Mempool.Space</b><br/> <a href="https://github.com/mempool-space/mempool.space">https://github.com/mempool-space/mempool.space</a></p>
            <p><b>RTL</b><br/> <a href="https://github.com/Ride-The-Lightning/RTL">https://github.com/Ride-The-Lightning/RTL</a></p>
            <p><b>Samourai Whirlpool</b><br/> <a href="https://github.com/Samourai-Wallet/Whirlpool">https://github.com/Samourai-Wallet/Whirlpool</a></p>
            <p><b>Zap</b><br/> <a href="https://github.com/LN-Zap/zap-desktop">https://github.com/LN-Zap/zap-desktop</a></p>
            
            <br/><p>Thanks to these open source projects as well!</p><br/>
            
            <p><b>Linux</b><br/> <a href="https://github.com/torvalds/linux">https://github.com/torvalds/linux</a></p>
            <p><b>Glances</b><br/> <a href="https://github.com/nicolargo/glances">https://github.com/nicolargo/glances</a></p>
            <p><b>Netdata</b><br/> <a href="https://github.com/netdata/netdata">https://github.com/netdata/netdata</a></p>
            <p><b>OpenVPN</b><br/> <a href="https://github.com/OpenVPN/openvpn">https://github.com/OpenVPN/openvpn</a></p>
            <p><b>Tor</b><br/> <a href="https://github.com/torproject/tor">https://github.com/torproject/tor</a></p>
            <p><b>Transmission</b><br/> <a href="https://github.com/transmission/transmission">https://github.com/transmission/transmission</a></p>
            <p><b>VirtualBox</b><br/> <a href="https://www.virtualbox.org/browser/vbox/trunk">https://www.virtualbox.org/browser/vbox/trunk</a></p>
            <p><b>WebSSH2</b><br/> <a href="https://github.com/billchurch/webssh2">https://github.com/billchurch/webssh2</a></p>
            
        </div>

        {% include 'includes/footer.html' %}
     </body>
</html>
