<!DOCTYPE html lang="en">
    <head>
        <title>myNode About</title>
        {% include 'includes/head.html' %}
     </head>

    <body>
        {% include 'includes/logo_header.html' %}

        <div class="mynode_top_left_div">
            <a href="/" title="Home"><img class="mynode_nav_icon" src="{{ url_for('static', filename="images/home.png")}}"/></a>
        </div>

        <div class="main_header">About</div>

        <br/>
        <div class="settings_block">
            <div class="settings_block_header">Contacts</div>
            <p>
                If you have any questions or comments, please contact myNode via email at the following address:
                <br/></br>
                <a href="mailto:mynode@mynodebtc.com">mynode@mynodebtc.com</a>
                <br/><br/>
                More information is also available on our website at <a href="https://mynodebtc.com" target="_blank">mynodebtc.com</a>.
            </p>
        </div>

        <div class="settings_block">
            <div class="settings_block_header">Projects and Licenses</div>

            <p>myNode is copyrighted, licensed under a modified CC BY-NC-ND 4.0 license, and comes with no warranty. 
               The license modifications relax restrictions on modifying and sharing the myNode codebase.</p>
            <p><a href="https://github.com/mynodebtc/mynode/blob/master/LICENSE.md" target="_blank">License</a></p>

            <p>Thanks to all the open source projects that make this possible!</p>
            <p>If it wasn't for these projects and people like you, Bitcoin, the Lightning Network, and all these related projects would not be possible.</p>

            <p>
                <b>Bitcoin</b><br/>
                <a href="https://github.com/bitcoin/bitcoin">https://github.com/bitcoin/bitcoin</a><br/>
                Bitcoin is copyrighted, licensed under the MIT license, and comes with no warranty.
            </p>
            <p>
                <b>LND</b><br/>
                <a href="https://github.com/lightningnetwork/lnd">https://github.com/lightningnetwork/lnd</a><br/>
                LND is copyrighted, licensed under the MIT license, and comes with no warranty.
            </p>
            <p><b>BlueWallet</b><br/><a href="https://github.com/BlueWallet/BlueWallet">https://github.com/BlueWallet/BlueWallet</a><br/></p>
            <p>
                <b>BTC RPC Explorer</b><br/>
                <a href="https://github.com/janoside/btc-rpc-explorer">https://github.com/janoside/btc-rpc-explorer</a><br/>
                BTC RPC Explorer is copyrighted, licensed under the MIT license, and comes with no warranty.
            </p>
            <p>
                <b>BTCPay Server</b><br/>
                <a href="https://github.com/btcpayserver/btcpayserver">https://github.com/btcpayserver/btcpayserver</a><br/>
                BTCPay Server is copyrighted, licensed under the MIT license, and comes with no warranty.
            </p>
            <p>
                <b>Caravan</b><br/>
                <a href="https://github.com/unchained-capital/caravan">https://github.com/unchained-capital/caravan</a><br/>
                Caravan is copyrighted, licensed under the MIT license, and comes with no warranty.
            </p>
            <p>
                <b>CKBunker</b><br/>
                <a href="https://github.com/Coldcard/ckbunker">https://github.com/Coldcard/ckbunker</a><br/>
                CKBunker is copyrighted, licensed under the MIT+CC license, and comes with no warranty.
            </p>
            <p>
                <b>Electrs</b><br/>
                <a href="https://github.com/romanz/electrs">https://github.com/romanz/electrs</a><br/>
                Electrs is copyrighted, licensed under the MIT license, and comes with no warranty.
            </p>
            <p>
                <b>Electrum</b><br/>
                <a href="https://github.com/spesmilo/electrum">https://github.com/spesmilo/electrum</a><br/>
            </p>
            <p><b>FullyNoded</b><br/><a href="https://github.com/Fonta1n3/FullyNoded">https://github.com/Fonta1n3/FullyNoded</a><br/></p>
            <p>
                <b>JoininBox</b><br/>
                <a href="https://github.com/openoms/joininbox">https://github.com/openoms/joininbox</a><br/>
                JoininBox is copyrighted, licensed under the MIT license, and comes with no warranty.
            </p>
            <p>
                <b>JoinMarket</b><br/>
                <a href="https://github.com/JoinMarket-Org/joinmarket-clientserver">https://github.com/JoinMarket-Org/joinmarket-clientserver</a><br/>
                JoinMarket is copyrighted, licensed under the GPLv3, and comes with no warranty.
            </p>
            <p>
                <b>LNBits</b><br/>
                <a href="https://github.com/lnbits/lnbits">https://github.com/lnbits/lnbits</a><br/>
                LNBits is copyrighted, licensed under the MIT license, and comes with no warranty.
            </p>
            <p>
                <b>LND Connect</b><br/>
                <a href="https://github.com/LN-Zap/lndconnect">https://github.com/LN-Zap/lndconnect</a><br/>
                LND Connect is copyrighted, licensed under the MIT license, and comes with no warranty.
            </p>
            <p>
                <b>LndHub</b><br/>
                <a href="https://github.com/BlueWallet/LndHub">https://github.com/BlueWallet/LndHub</a><br/>
                LndHub is copyrighted, licensed under the MIT license, and comes with no warranty.
            </p>
            <p>
                <b>Lndmanage</b><br/>
                <a href="https://github.com/bitromortac/lndmanage">https://github.com/bitromortac/lndmanage</a><br/>
                Lndmanage is copyrighted, licensed under the MIT license, and comes with no warranty.
            </p>
            <p>
                <b>Loop</b><br/>
                <a href="https://github.com/lightninglabs/loop">https://github.com/lightninglabs/loop</a><br/>
                Loop is copyrighted, licensed under the MIT license, and comes with no warranty.
            </p>
            <p>
                <b>Mempool</b><br/>
                <a href="https://github.com/mempool/mempool">https://github.com/mempool/mempool</a><br/>
                Mempool is copyrighted, licensed under the AGPLv3, and comes with no warranty.
            </p>
            <p>
                <b>Pool</b><br/>
                <a href="https://github.com/lightninglabs/pool">https://github.com/lightninglabs/pool</a><br/>
                Pool is copyrighted, licensed under the MIT license, and comes with no warranty.
            </p>
            <p>
                <b>RTL</b><br/>
                <a href="https://github.com/Ride-The-Lightning/RTL">https://github.com/Ride-The-Lightning/RTL</a><br/>
                RTL is copyrighted, licensed under the MIT license, and comes with no warranty.
            </p>
            <p>
                <b>Samourai Dojo</b><br/>
                <a href="https://code.samourai.io/dojo/samourai-dojo">https://code.samourai.io/dojo/samourai-dojo</a><br/>
                Samourai Dojo is copyrighted, licensed under the AGPLv3, and comes with no warranty.
            </p>
            <p>
                <b>Samourai Whirlpool</b><br/>
                <a href="https://code.samourai.io/whirlpool/whirlpool-client-cli">https://code.samourai.io/whirlpool/whirlpool-client-cli</a><br/>
                Samourai Whirlpool is copyrighted, licensed under the AGPLv3, and comes with no warranty.
            </p>
            <p>
                <b>Specter Desktop</b><br/>
                <a href="https://github.com/cryptoadvance/specter-desktop">https://github.com/cryptoadvance/specter-desktop</a><br/>
                Specter Desktop is copyrighted, licensed under the MIT license, and comes with no warranty.
            </p>
            <p>
                <b>Sphinx Relay</b><br/>
                <a href="https://github.com/stakwork/sphinx-relay">https://github.com/stakwork/sphinx-relay</a><br/>
                Sphinx Relay is copyrighted, licensed under the MIT license, and comes with no warranty.
            </p>
            <p>
                <b>Thunderhub</b><br/>
                <a href="https://github.com/apotdevin/thunderhub">https://github.com/apotdevin/thunderhub</a><br/>
                Thunderhub is copyrighted, licensed under the MIT license, and comes with no warranty.
            </p>
            <p><b>Zap</b><br/><a href="https://github.com/LN-Zap/zap-desktop">https://github.com/LN-Zap/zap-desktop</a></p>

            <br/><p><b>License References</b></p>
            <a href="https://opensource.org/licenses/AGPL-3.0" target="_blank">AGPLv3</a><br/>
            <a href="https://commonsclause.com/" target="_blank">CC</a><br/>
            <a href="https://opensource.org/licenses/GPL-3.0" target="_blank">GPLv3</a><br/>
            <a href="https://opensource.org/licenses/MIT" target="_blank">MIT<br/>
            
            <br/><p>Thanks to these open source projects as well!</p><br/>
            
            <p><b>Linux</b><br/> <a href="https://github.com/torvalds/linux">https://github.com/torvalds/linux</a></p>
            <p><b>Glances</b><br/> <a href="https://github.com/nicolargo/glances">https://github.com/nicolargo/glances</a></p>
            <p><b>Netdata</b><br/> <a href="https://github.com/netdata/netdata">https://github.com/netdata/netdata</a></p>
            <p><b>OpenVPN</b><br/> <a href="https://github.com/OpenVPN/openvpn">https://github.com/OpenVPN/openvpn</a></p>
            <p><b>Tor</b><br/> <a href="https://github.com/torproject/tor">https://github.com/torproject/tor</a></p>
            <p><b>Transmission</b><br/> <a href="https://github.com/transmission/transmission">https://github.com/transmission/transmission</a></p>
            <p><b>VirtualBox</b><br/> <a href="https://www.virtualbox.org/browser/vbox/trunk">https://www.virtualbox.org/browser/vbox/trunk</a></p>
            <p><b>WebSSH2</b><br/> <a href="https://github.com/billchurch/webssh2">https://github.com/billchurch/webssh2</a></p>
            
        </div>

        {% include 'includes/footer.html' %}
     </body>
</html>
