<!DOCTYPE html lang="en">
    <head>
        <title>{{ title }}</title>
        {% include 'includes/head.html' %}
        <script>
        $(document).ready(function() {
            // Show intial prompt
            $("#cli_contents").append("<b>>>></b> ");
            $("#cmd").focus();

            $("#cmd_form").submit(function( event ) {
                // Prevent "real" submission
                event.preventDefault();

                var $form = $( this );
                cmd = $form.find( "input[name='cmd']" ).val();
                url = $form.attr( "action" );

                console.log("URL    : "+url)
                console.log("Command: "+cmd)

                $("#cmd").val("");
                $("#cli_contents").append("<b>"+cmd+"</b><br/>");

                // Disable button until response
                $("#cmd").prop("disabled", true);
                $("#submit_btn").prop("disabled", true);

                var posting = $.post( "/bitcoin/cli-run", {cmd:  cmd} );
                posting.done(function( data ) {
                    console.log("Response:" + data)

                    $("#cli_contents").append( data+"<br/>" );
                    $("#cli_contents").append( "<b>>>></b> " );

                    // Re-enable button until response
                    $("#cmd").prop("disabled", false);
                    $("#submit_btn").prop("disabled", false);
                    $("#cmd").focus();

                    var objDiv = document.getElementById("cli_scrollable");
                    objDiv.scrollTop = objDiv.scrollHeight;
                });
            });
        });
        </script>
     </head>

    <body>
        {% include 'includes/logo_header.html' %}
        <div class="mynode_back_div">
            <a class="ui-button ui-widget ui-corner-all mynode_back" href="/bitcoin"><span class="ui-icon ui-icon-arrowthick-1-w"></span>back&nbsp;</a>
        </div>
        
        <div class="main_header">Bitcoin Terminal</div>

        <div class="cli_contents" id="cli_scrollable"><pre id="cli_contents"></pre></div>

        <div class="cli_command">
            <form id="cmd_form" action="/bitcoin/cli-run">
                <input class="ui-corner-all cli_command_input" id="cmd" name="cmd" type="text" autofocus>
                <input type="submit" id="submit_btn" class="ui-button ui-widget ui-corner-all cli_enter_button" value="Enter">
                <div class="small_message">Enter 'help' to see the list of possible commands.</div>
            </form>
        </div>

        <div id="loading_overlay">
            <div class="cv-spinner">
                <span class="spinner"></span>
            </div>
        </div>

        {% include 'includes/footer.html' %}
     </body>
</html>
