<!DOCTYPE html lang="en">
    <head>
        <title>{{ title }}</title>
        {% include 'includes/head.html' %}


        <script>
            $(document).ready(function() {

                $("#show_rpc_password").on("click", function() {
                    $("#show_rpc_password").hide(0);
                    $("#rpc_password").show();
                });

            });
        </script>
     </head>

    <body>
        {% include 'includes/logo_header.html' %}
        <div class="mynode_back_div">
            <a class="ui-button ui-widget ui-corner-all mynode_back" href="/"><span class="ui-icon ui-icon-home"></span>home&nbsp;</a>
        </div>

        <div class="main_header">Bitcoin Status</div>

        <br/>
        <div class="app_tile_row">
            <div class="info_tile">
                <div class="info_tile_header">Blocks</div>
                <div class="info_tile_contents">{{block_num}}</div>
            </div>
            <div class="info_tile">
                <div class="info_tile_header">Headers</div>
                <div class="info_tile_contents">{{header_num}}</div>
            </div>
            <div class="info_tile">
                <div class="info_tile_header">Difficulty</div>
                <div class="info_tile_contents">{{difficulty}}</div>
            </div>
            <div class="info_tile">
                <div class="info_tile_header">Disk Usage</div>
                <div class="info_tile_contents">{{disk_size}} GB</div>
            </div>
            <div class="info_tile">
                <div class="info_tile_header">Version</div>
                <div class="info_tile_contents">{{version}}</div>
            </div>
        </div>

        <div class="app_tile_row">
            <div class="info_tile">
                <div class="info_tile_header">Mempool TX</div>
                <div class="info_tile_contents">{{mempool_tx}}</div>
            </div>
            <div class="info_tile">
                <div class="info_tile_header">Mempool Size</div>
                <div class="info_tile_contents">{{mempool_size}}</div>
            </div>
            {% if confirmed_balance > 0.0 or unconfirmed_balance > 0.0 %}
            <div class="info_tile">
                <div class="info_tile_header">Wallet Backup</div>
                <div class="info_tile_contents">
                    <a class="ui-button ui-widget ui-corner-all mynode_button_small" style="width: 70%;" href="/bitcoind/wallet.dat">download</a>
                </div>
            </div>
            {% endif %}
            <div class="info_tile">
                <div class="info_tile_header">RPC Username</div>
                <div class="info_tile_contents">mynode</div>
            </div>
            <div class="info_tile">
                <div class="info_tile_header">RPC Password</div>
                <div class="info_tile_contents">
                    <span id="rpc_password" style="display: none;">{{rpc_password}}</span>
                    <a id="show_rpc_password" class="ui-button ui-widget ui-corner-all mynode_button_small" style="width: 70%;">show</a>
                </div>
            </div>
            <div class="info_tile">
                <div class="info_tile_header">Bitcoin Config</div>
                <div class="info_tile_contents">
                    <a class="ui-button ui-widget ui-corner-all mynode_button_small" style="width: 70%;" href="/bitcoind/config">view / edit</a>
                </div>
            </div>
            <div class="info_tile">
                <div class="info_tile_header">CLI</div>
                <div class="info_tile_contents">
                    <a class="ui-button ui-widget ui-corner-all mynode_button_small" style="width: 70%;" href="/bitcoind/cli">CLI</a>
                </div>
            </div>
        </div>

        {% if confirmed_balance > 0.0 %}
        <br/>
        <div class="main_header">Wallet balance</div>
        <table class="bitcoind_table">
            <thead class="bitcoind_table_header">
                <td>Confirmed Balance</td>
                <td>Unconfirmed Balance</td>
            </thead>
            <tbody>
                <tr>
                    <td>{{ "%.8f"|format(confirmed_balance) }}</td>
                    <td>{{ "%.8f"|format(unconfirmed_balance) }}</td>
                </tr>
            </tbody>
        </table>
        {% endif %}

        <br/>
        <div class="main_header">Recent Blocks</div>
        <table class="bitcoind_table">
            <thead class="bitcoind_table_header">
                <td>Height</td>
                <td>Age</td>
                <td>Transactions</td>
                <td>Size (kB)</td>
            </thead>
            <tbody>
                {% for block in blocks %}
                    <tr>
                        <td>{{ block.height }}</td>
                        <td>{{ block.age }}</td>
                        <td>{{ block.nTx }}</td>
                        <td>{{ block.size }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <br/>
        <div class="main_header">Peers</div>
        <table class="bitcoind_table">
            <thead class="bitcoind_table_header">
                <td>ID</td>
                <td>IP</td>
                <td>Version</td>
                <td>TX (MB)</td>
                <td>RX (MB)</td>
                <td>Ping (ms)</td>
            </thead>
            <tbody>
                {% for peer in peers %}
                    <tr>
                        <td>{{ peer.id }}</td>
                        <td>{{ peer.addr }}</td>
                        <td>{{ peer.subver }}</td>
                        <td>{{ peer.tx }}</td>
                        <td>{{ peer.rx }}</td>
                        <td>{{ peer.pingtime }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% include 'includes/footer.html' %}
     </body>
</html>