<!DOCTYPE html lang="en">
    <head>
        <title>{{ title }}</title>
        {% include 'includes/head.html' %}
     </head>

    <body>
        {% include 'includes/logo_header.html' %}
        <div class="mynode_back_div">
            <a class="ui-button ui-widget ui-corner-all mynode_back" href="/"><span class="ui-icon ui-icon-home"></span>home&nbsp;</a>
            <a class="ui-button ui-widget ui-corner-all mynode_back" href="/explorer"><span class="ui-icon ui-icon-search"></span>bitcoin&nbsp;</a>
        </div>

        <div class="main_header">Bitcoin Explorer</div>

        <br/>
        <div class="bitcoind_search">
            <form action="/explorer/search" method="POST">
                <input class="ui-corner-all bitcoind_search_input" name="search" type="text">
                <input type="submit" class="ui-button ui-widget ui-corner-all bitcoind_search_button" value="Search">
                <br/>
                <span class="bitcoind_search_text">Search for addresses, blocks, or transactions...</span>
            </form>
        </div>

        <br/>
        <div class="main_header">Transaction</div>
        <div class="app_tile_row">
            <div class="info_tile">
                <div class="info_tile_header">TX ID</div>
                <div class="info_tile_contents">{{txid}}</div>
            </div>
        </div>
        <div class="app_tile_row">
            <div class="info_tile">
                <div class="info_tile_header">Size</div>
                <div class="info_tile_contents">{{size}}</div>
            </div>
            <div class="info_tile">
                <div class="info_tile_header">Weight</div>
                <div class="info_tile_contents">{{weight}}</div>
            </div>
            <div class="info_tile">
                <div class="info_tile_header">Total</div>
                <div class="info_tile_contents">{{total}} BTC</div>
            </div>
        </div>

        <div class="app_tile_row">
            <div class="info_tile">
                <div class="info_tile_header">Confirmations</div>
                <div class="info_tile_contents">{{confirmations}}</div>
            </div>
            {% if confirmed %}
            <!--
            <div class="info_tile">
                <div class="info_tile_header">In Block</div>
                <div class="info_tile_contents"><a href="/explorer/block/{{block_hash}}">{{block_height}}</a></div>
            </div>
            -->
            <div class="info_tile">
                <div class="info_tile_header">Confirm Date</div>
                <div class="info_tile_contents">{{block_date}}</div>
            </div>
            {% endif %}
        </div>
        

        <div class="main_header">Inputs</div>
        <table class="bitcoind_table">
            <thead class="bitcoind_table_header">
                <td>Address</td>
            </thead>
            <tbody>
                {% for i in inputs %}
                    <tr>
                        {% if i == "New Coins" %}
                        <td>{{ i }}</td>
                        {% else %}
                        <td><a href="/explorer/addr/{{ i }}">{{ i }}</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <br/>
        <div class="main_header">Outputs</div>
        <table class="bitcoind_table">
            <thead class="bitcoind_table_header">
                <td>Address</td>
                <td>Amount</td>
            </thead>
            <tbody>
                {% for o in outputs %}
                    <tr>
                        <td><a href="/explorer/addr/{{ o.address }}">{{ o.address }}</a></td>
                        <td>{{ o.amount }} BTC</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% include 'includes/footer.html' %}
     </body>
</html>