<!DOCTYPE html lang="en">
    <head>
        <title>{{ title }}</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename="css/mynode.css")}}">
        <link rel="stylesheet" href="{{ url_for('static', filename="css/mynode_bitcoind.css")}}">
        <link href="{{ url_for('static', filename="jquery_ui/jquery-ui.css")}}" rel="stylesheet">
        <meta http-equiv="Content-Language" content="en">
        <meta name="google" content="notranslate">
        <script src="{{ url_for('static', filename="js/jquery-3.3.1.min.js")}}"></script>
        <script src="{{ url_for('static', filename="jquery_ui/jquery-ui.js")}}"></script>
        <script src="{{ url_for('static', filename="js/mynode.js")}}"></script>
     </head>

    <body>
        <div class="logo_header"><a href="/"><img class="logo_image" src="{{ url_for('static', filename="images/logo.png")}}"/></a></div>
        <div class="mynode_back_div">
            <a class="ui-button ui-widget ui-corner-all mynode_back" href="/"><span class="ui-icon ui-icon-home"></span>home&nbsp;</a>
            <a class="ui-button ui-widget ui-corner-all mynode_back" href="/explorer"><span class="ui-icon ui-icon-search"></span>bitcoin&nbsp;</a>
        </div>
        <div class="main_header">Bitcoin Explorer</div>

        <br/>
        <div class="bitcoind_search">
            <form action="/explorer/search" method="POST">
                <input class="ui-corner-all bitcoind_search_input" name="search" type="text">
                <input type="submit" class="ui-button ui-widget ui-corner-all bitcoind_search_button" value="Search">
                <br/>
                <span class="bitcoind_search_text">Search for addresses, blocks, or transactions...</span>
            </form>
        </div>

        <br/>
        <div class="main_header">Block {{height}}</div>
        <div class="app_tile_row">
            <div class="info_tile">
                <div class="info_tile_header">Hash</div>
                <div class="info_tile_contents">{{hash}}</div>
            </div>
        </div>
        <div class="app_tile_row">
            <div class="info_tile">
                <div class="info_tile_header">Confirmations</div>
                <div class="info_tile_contents">{{confirmations}}</div>
            </div>
            <div class="info_tile">
                <div class="info_tile_header">Transactions</div>
                <div class="info_tile_contents">{{num_tx}}</div>
            </div>
            <div class="info_tile">
                <div class="info_tile_header">Difficulty</div>
                <div class="info_tile_contents">{{difficulty}}</div>
            </div>
            <div class="info_tile">
                <div class="info_tile_header">Size</div>
                <div class="info_tile_contents">{{size}} kB</div>
            </div>
            <div class="info_tile">
                <div class="info_tile_header">Date</div>
                <div class="info_tile_contents">{{date}}</div>
            </div>
        </div>
        <div class="main_header">Transactions</div>
        <table class="bitcoind_table">
            <thead class="bitcoind_table_header">
                <td>TX ID</td>
            </thead>
            <tbody>
                {% for tx in txs %}
                    <tr>
                        <td><a href="/explorer/tx/{{ tx }}">{{ tx }}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% include 'includes/footer.html' %}
     </body>
</html>