<!DOCTYPE html lang="en">
    <head>
        <title>{{ title }}</title>
        {% include 'includes/head.html' %}
     </head>

    <body>
        {% include 'includes/logo_header.html' %}
        <div class="mynode_back_div">
            <a class="ui-button ui-widget ui-corner-all mynode_back" href="/"><span class="ui-icon ui-icon-home"></span>home&nbsp;</a>
            <a class="ui-button ui-widget ui-corner-all mynode_back" href="/explorer"><span class="ui-icon ui-icon-search"></span>bitcoin&nbsp;</a>
        </div>
        <div class="main_header">Bitcoin Explorer</div>

        <br/>
        <div class="bitcoind_search">
            <form action="/explorer/search" method="POST">
                <input class="ui-corner-all bitcoind_search_input" name="search" type="text">
                <input type="submit" class="ui-button ui-widget ui-corner-all bitcoind_search_button" value="Search">
                <br/>
                <span class="bitcoind_search_text">Search for addresses, blocks, or transactions...</span>
            </form>
        </div>

        <br/>
        <div class="main_header">Address</div>
        <div class="app_tile_row">
            <div class="info_tile">
                <div class="info_tile_header">Address</div>
                <div class="info_tile_contents">{{address}}</div>
            </div>
        </div>
        <div class="app_tile_row">
            <div class="info_tile">
                <div class="info_tile_header">Confirmed Balance</div>
                <div class="info_tile_contents">{{confirmed_balance}} BTC</div>
            </div>
            <div class="info_tile">
                <div class="info_tile_header">Unconfirmed Balance</div>
                <div class="info_tile_contents">{{unconfirmed_balance}} BTC</div>
            </div>
        </div>

        <div class="main_header">Transactions</div>
        <table class="bitcoind_table">
            <thead class="bitcoind_table_header">
                <td>TX ID</td>
                <td>Block</td>
            </thead>
            <tbody>
                {% for tx in txs %}
                    <tr>
                        <td><a href="/explorer/tx/{{ tx.tx_hash }}">{{ tx.tx_hash }}</a></td>
                        <td>{% if tx.height %} {{ tx.height }} {% else %} Unconfirmed {% endif %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% include 'includes/footer.html' %}
     </body>
</html>