<!DOCTYPE html lang="en">
    <head>
        <title>{{ title }}</title>
        {% include 'includes/head.html' %}
    </head>
    <body>
        {% include 'includes/logo_header.html' %}
        <div class="mynode_top_left_div">
            <a href="/" title="Home"><img class="mynode_nav_icon" src="{{ url_for('static', filename="images/home.png")}}"/></a>
        </div>

        {% include 'includes/message_display.html' %}

        <div class="main_header">Balance of Satoshis</div>
        <br/>

        <div class="app_tile_row">
            <div class="info_tile">
                <div class="info_tile_header">Status</div>
                <div class="info_tile_contents">Ready</div>
            </div>
        </div>


        <div class="instructions">
            <div class="instructions-header">Instructions to run Balance of Satoshis</div>
            <ol class="instructions-steps">
                <li>Balance of Satoshis (bos) is a tool for viewing and interacting with lnd.</li>
                <li>To get started, you need access to the Linux terminal of your myNode device.</li>
                <ul>
                    <li>A guide to access the Linux terminal is available here - <a href="https://mynodebtc.github.io/advanced/linux-terminal.html" target="_blank">guide</a></li>
                </ul>
                <li>Once you have terminal access, run commands starting with 'bos'. For example:</li>
                <ul>
                    <li><pre>bos peers</pre></li>
                    <li><pre>bos balance</pre></li>
                    <li><pre>bos utxos</pre></li>
                    <li><pre>bos report</pre></li>
                    <li><pre>bos help</pre></li>
                </ul>
                <li>Enjoy Balance of Satoshis!</li>
            </ol>

            <br/><br/>

            <!--
            <div class="instructions-header">Tips and Notes</div>
            <ul style="font-size: 12px;">
                <li>Add tips and notes</li>
            </ul>
            -->
        </div>

        {% include 'includes/footer.html' %}
    </body>
</html>
