<!DOCTYPE html lang="en">
    <head>
        <title>{{ title }}</title>
        {% include 'includes/head.html' %}
     </head>

    <body>
        {% include 'includes/logo_header.html' %}

        <div class="main_header">{{ header_text }}</div>

        {% include 'includes/message_display.html' %}

        <br/>
        <div class="main_header_sub_text" style="width: 600px;">Welcome! It appears you are setting up a new MyNode device or are
            still using the default password. Please set a new password to continue.</div>

        <br/>

        <div class="login_div">
            <form action="/change-default-password" method="POST">
                <p style="text-align: center; font-size: 12px;">{{ password_requirements }}</p>
                <input type="password" id="password1" name="password1" placeholder="new password" class="ui-corner-all login_password" autofocus/>
                <br/>
                <input type="password" id="password2" name="password2" placeholder="confirm new password" class="ui-corner-all login_password"/>
                <br/>
                <input type="submit" id="password_submit" value="Set Password" class="ui-button ui-widget ui-corner-all login_submit"/>
            </form>
        </div>

     </body>
</html>
