<!DOCTYPE html lang="en">
    <head>
        <title>{{ title }}</title>
        {% include 'includes/head.html' %}
     </head>

    <body>
        {% include 'includes/logo_header.html' %}

        <div class="main_header">{{ header_text }}</div>

        {% include 'includes/message_display.html' %}

        <div class="main_page_warning_block">
            <p style="text-align: center;"><b>Warning!</b></p>
            <p style="text-align: center;">Your device is still using the default password. Anyone who can reach your
                device over the network can take control of it and your funds. You must choose a new password
                before you can continue.</p>
        </div>

        <div class="login_div">
            <form action="/change-default-password" method="POST">
                <p style="text-align: center;">{{ password_requirements }}</p>
                <input type="password" id="password1" name="password1" placeholder="new password" class="ui-corner-all login_password" autofocus/>
                <br/>
                <input type="password" id="password2" name="password2" placeholder="confirm new password" class="ui-corner-all login_password"/>
                <br/>
                <input type="submit" id="password_submit" value="Set Password" class="ui-button ui-widget ui-corner-all login_submit"/>
            </form>
        </div>

     </body>
</html>
