<!DOCTYPE html lang="en">
    <head>
        <title>{{ title }}</title>
        {% include 'includes/head.html' %}

        {% if refresh_rate is defined and refresh_rate is not none %}  
        <meta http-equiv="refresh" content="{{ refresh_rate }}"> 
        {% else %}
        <meta http-equiv="refresh" content="30">
        {% endif %}

        <style>
            td {
                border: none;
            }
        </style>

        <script>
            $(document).ready(function() {

                $("#format-confirm").on("click", function() {
                    window.location.href="/?clone_confirm=1"
                });
                $("#reboot-device").on("click", function() {
                    window.location.href="/settings/reboot-device"
                });
            });
        </script>
     </head>

    <body>
        {% include 'includes/logo_header.html' %}
        
        <div class="state_header">{{ header_text }}</div>
        
        <div class="format_div" style="width: 600px;">
            <table style="margin: auto; width: 600px; text-align: center;">
                <tr>
                    <td><img style="width: 140px; margin: auto;" src="{{ url_for('static', filename="images/drive2.png")}}"/></td>
                    <td><img style="width: 120px; margin: auto;" src="{{ url_for('static', filename="images/right_arrow.png")}}"/></td>
                    <td><img style="width: 140px; margin: auto;" src="{{ url_for('static', filename="images/drive2.png")}}"/></td>
                </tr>
                <tr>
                    <tr>
                        <td><b>Source Drive</b></td>
                        <td></td>
                        <td><b>Target Drive</b></td>
                    </tr>
                </tr>
                <tr>
                    <td>
                        {{source_drive_info['size']}}<br/>
                        {{source_drive_info['model']}}<br/>
                        {{source_drive_info['vendor']}}<br/>
                        /dev/{{source_drive_info['name']}}<br/>
                    </td>
                    <td></td>
                    <td>
                        {{target_drive_info['size']}}<br/>
                        {{target_drive_info['model']}}<br/>
                        {{target_drive_info['vendor']}}<br/>
                        /dev/{{target_drive_info['name']}}<br/>
                    </td>
                </tr>
                {% if target_drive_has_mynode %}
                <tr>
                    <td></td>
                    <td></td>
                    <td>
                        <span style="color: red;">myNode Data Detected!</span>
                    </td>
                </tr>
                {% endif %}
            </table>

            <p><b>Warning!</b></p>
            {% if target_drive_has_mynode %}
            <p>myNode data was detected on the target drive! This can be caused by a previous clone failure. Be sure the target drive is the new drive you want to overwrite!</p>
            {% endif %}
            <p>All existing data will be lost on the target drive. If this is not OK, remove the additional drive now and click Reboot.</p>
            <p>It is highly recommended that both drives be externally powered. Running two drives from USB power on the device can cause clone failures.</p>

            <br/>
            <button id="format-confirm" value="Login" class="ui-button ui-widget ui-corner-all format_button">Confirm Clone</button>
            <br/><br/>
            <button id="reboot-device" value="Login" class="ui-button ui-widget ui-corner-all format_button">Reboot</button>

            <br/><br/>
        </div>

        <div style="height: 40px;">&nbsp;</div>
        {% include 'includes/footer.html' %}
     </body>
</html>