<!DOCTYPE html lang="en">
    <head>
        <title>{{ title }}</title>
        {% include 'includes/head.html' %}
        <meta http-equiv="refresh" content="30">

        <script>
            $(document).ready(function() {

                $("#format-confirm").on("click", function() {
                    window.location.href="/?format=1"
                });
                $("#reboot-device").on("click", function() {
                    window.location.href="/settings/reboot-device-no-format"
                });
            });
        </script>

     </head>

    <body>
        {% include 'includes/logo_header.html' %}
        
        <div class="state_header">Drive Found</div>

        <div class="format_div">
            <p>A new drive has been detected! This drive will be formatted for use by myNode.</p>
            <p><i>Note: All existing data will be lost. If this is not OK, remove the drive now and click Reboot.</i></p>
            <br/>
            <button id="format-confirm" value="Login" class="ui-button ui-widget ui-corner-all format_button">Format Drive</button>
            <br/><br/>
            <button id="reboot-device" value="Login" class="ui-button ui-widget ui-corner-all format_button">Reboot</button>

            <br/><br/>
        </div>

        <div style="height: 40px;">&nbsp;</div>
        {% include 'includes/footer.html' %}
     </body>
</html>