<!DOCTYPE html lang="en">
    <head>
        <title>{{ title }}</title>
        {% include 'includes/head.html' %}
    </head>
    <body>
        {% include 'includes/logo_header.html' %}
        <div class="mynode_back_div">
            <a class="ui-button ui-widget ui-corner-all mynode_back" href="/"><span class="ui-icon ui-icon-home"></span>home&nbsp;</a>
        </div>

        <div class="main_header">Samourai Dojo</div>
        </br>
        <div class="app_tile_row">
            <div class="info_tile">
                <div class="info_tile_header">Status</div>
                <div class="info_tile_contents">{{dojo_status}}</div>
            </div>
            {% if dojo_enabled %}
            <div class="info_tile">
                <div class="info_tile_header">Tracker Status</div>
                <div class="info_tile_contents">{{dojo_tracker_status}}</div>
            </div>
            <div class="info_tile">
                <div class="info_tile_header">Electrum Server Status</div>
                <div class="info_tile_contents">{{electrs_status}}</div>
            </div>
            <div class="info_tile">
                <div class="info_tile_header">Restart</div>
                <div class="info_tile_contents">
                    <a class="ui-button ui-widget ui-corner-all mynode_button_small" style="width: 70%;" href="/restart-dojo">Restart</a>
                </div>
            </div>
            {% endif %}
            <div class="info_tile">
                <div class="info_tile_header">Uninstall</div>
                <div class="info_tile_contents">
                    <a class="ui-button ui-widget ui-corner-all mynode_button_small" style="width: 70%;" href="/toggle-dojo-install">Uninstall</a>
                </div>
            </div>
        </div>
        </br>
        {% if dojo_enabled and dojo_initialized and electrs_status == "Running" %}
            <div class="app_tile_row">
                <div class="info_tile">
                    <div class="info_tile_header">Dojo V3 Onion Address</div>
                    <div class="info_tile_contents">{{DOJO_V3_ADDR}}</div>
                </div>
            </div>
            </br>
            <div class="app_tile_row">
                <div class="info_tile">
                    <div class="info_tile_header">NODE_ADMIN_KEY</div>
                    <div class="info_tile_contents">{{NODE_ADMIN_KEY}}</div>
                </div>

            </div>
        {% elif electrs_status != "Running" %}
            <div class="app_tile_row">
                <div class="info_tile">
                    <div class="info_tile_header">Note</div>
                    <div class="info_tile_contents">Please enable electrum server and wait for it to sync...</div>
                </div>
            </div>
        {% endif %}
        <div class="instructions">
            <div class="instructions-header"><u><strong>Instructions to CONNECT Samourai Wallet to Dojo</u></strong></div>
            </br>
            <ol class="instructions-steps">
                <li>Enable Samourai Dojo and come back to this page. The status must be "Running".</li>
                <li>Download and install <a target="_blank" href="https://www.torproject.org/download/">Tor browser</a></li>
                <li>You don't have to wait till your Dojo is synced, but all transactions in your wallet might be missing until it's completely synced.</li>
                <li>Open Tor Browser and copy/paste the <b>Dojo V3 Onion Address</b> provided above onto the address bar. It should reach the <b>DOJO MAINTENANCE TOOL</b>.</li>
                <li>On the login page, copy/paste your <b>NODE_ADMIN_KEY</b> onto the input box and press enter.</li>
                <li>Once authenticated, the pairing tab with a QR code is shown.</li>
                <li>Open Samourai mobile app. On the main wallet creation screen, click on the three dots on the top-right corner and select <b>Connect to existing Dojo</b>.</li>
                <li><b>NOTE:</b> Currently, you must create a new wallet to pair to your Dojo. You must first delete your existing wallet using the instructions below.</li>
                <li>Scan the Dojo's QR Code on your Tor browser.</li>
                <li>Complete the wallet creation process or restore your previous wallet (instructions below).</li>
                <li>Check your setup by tapping the network icon at the top. You should see "Dojo Full Node" enabled with a green dot.</li>
                <li>Wait till the Dojo is completely synced before using Samourai wallet. (shown above on the tracker status tile).</li>
                <li>Congratulations! You are now your own bank.</li>
            </ol>
        </br>
        <div class="instructions-header"><u><strong>Instructions to DELETE existing Samourai wallet</u></strong></div>
        </br>
            <ol class="instructions-steps">
                <li><b>NOTE:</b> If you are going to delete your wallet, make sure you have your seed phrase and passphrase handy so you can restore your wallet after pairing.</li>
                <li>To delete your wallet, go to Settings &rarr; Wallet &rarr; Secure erase wallet</li>
                <li>On the main screen, to create a new wallet select "Connect to existing Dojo" and scan your QR Code.</li>
                <li>Once connected, press back and now go to the option "Import external wallet" and restore your wallet using your seed phrase and BIP39 passphrase.</li>
            </ol>
        </div>

        {% include 'includes/footer.html' %}
     </body>
</html>
