<!DOCTYPE html lang="en">
    <head>
        <title>{{ title }}</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename="css/mynode.css")}}">
        <link rel="stylesheet" href="{{ url_for('static', filename="css/mynode_bitcoind.css")}}">
        <link href="{{ url_for('static', filename="jquery_ui/jquery-ui.css")}}" rel="stylesheet">
        <meta http-equiv="Content-Language" content="en">
        <meta name="google" content="notranslate">
        <script src="{{ url_for('static', filename="js/jquery-3.3.1.min.js")}}"></script>
        <script src="{{ url_for('static', filename="jquery_ui/jquery-ui.js")}}"></script>
        <script src="{{ url_for('static', filename="js/mynode.js")}}"></script>
     </head>

    <body>
        <div class="logo_header"><a href="/"><img class="logo_image" src="{{ url_for('static', filename="images/logo.png")}}"/></a></div>
        <div class="mynode_back_div">
            <a class="ui-button ui-widget ui-corner-all mynode_back" href="/"><span class="ui-icon ui-icon-home"></span>home&nbsp;</a>
        </div>

        <div class="main_header">Electrum Server Status</div>
        <br/>
        
        <div class="app_tile_row">
            <div class="info_tile">
                <div class="info_tile_header">Status</div>
                <div class="info_tile_contents">{{status}}</div>
            </div>
            <div class="info_tile">
                <div class="info_tile_header">Current Block</div>
                <div class="info_tile_contents">{{current_block}}</div>
            </div>
        </div>

        <div class="app_tile_row">
            <div class="info_tile">
                <div class="info_tile_header">Electrum Server IP</div>
                <div class="info_tile_contents">{{server_ip}}</div>
            </div>
            <div class="info_tile">
                <div class="info_tile_header">Standard Port</div>
                <div class="info_tile_contents">{{server_standard_port}}</div>
            </div>
            <div class="info_tile">
                <div class="info_tile_header">Secure Port</div>
                <div class="info_tile_contents">{{server_secure_port}}</div>
            </div>
        </div>

        <div class="app_tile_row">
            <div class="info_tile">
                <div class="info_tile_header">Electrum CLI Command</div>
                <div class="info_tile_contents">{{electrs_command}}</div>
            </div>
        </div>

        <div class="divider" style="width: 800px;"></div>

        <div class="app_tile_row">
            <div class="info_tile">
                <div class="info_tile_header">Electrum Tor Service</div>
                <div class="info_tile_contents">{% if not product_key_skipped %}Enabled{% else %}Premium Feature{% endif %}</div>
            </div>
{% if not product_key_skipped %}
            <div class="info_tile">
                <div class="info_tile_header">Electrum Tor Hostname</div>
                <div class="info_tile_contents">{{electrs_onion_hostname}}</div>
            </div>
            <div class="info_tile">
                <div class="info_tile_header">Electrum Tor Password</div>
                <div class="info_tile_contents">{{electrs_onion_password}}</div>
            </div>
        </div>
        <div class="app_tile_row">
            <div class="info_tile">
                <div class="info_tile_header">Electrum Tor Command</div>
                <div class="info_tile_contents">{{electrs_onion_command}}</div>
            </div>
            <div class="info_tile">
                <div class="info_tile_header">Electrum Tor Help</div>
                <div class="info_tile_contents"><a href="http://docs.electrum.org/en/latest/tor.html" target="_blank">Link</a></div>
            </div>
{% endif %}
        </div>

        <br/><br/>
        <div class="main_header">Using Electrum Wallets</div>
        <div class="main_header_sub_text">
            You can use your myNode to serve your mobile and PC-based Electrum clients securely and remotely!
        </div>
        <div class="app_tile_row">
            <div class="app_tile_short">
                <div class="app_status_icon"></div>
                <div class="app_logo"><img class="app_logo_icon" src="{{ url_for('static', filename="images/electrum_logo.png")}}"/></div>
                <div class="app_title">Local<br/>PC Wallet</div>
                <div class="app_status"></div>
                <div class="app_contents">
                        <a class="ui-button ui-widget ui-corner-all mynode_button" href="https://mynodebtc.com/guide/electrum_server" target="_blank">Guide</a>
                </div>
            </div>

            <div class="app_tile_short">
                <div class="app_status_icon"></div>
                <div class="app_logo"><img class="app_logo_icon" src="{{ url_for('static', filename="images/electrum_logo.png")}}"/></div>
                <div class="app_title">Local<br/>Mobile Wallets</div>
                <div class="app_status"></div>
                <div class="app_contents">
                    <a class="ui-button ui-widget ui-corner-all mynode_button" href="https://mynodebtc.com/guide/electrum_server" target="_blank">Guide</a>
                </div>
            </div>

            <div class="app_tile_short">
                <div class="app_status_icon"></div>
                <div class="app_logo"><img class="app_logo_icon" src="{{ url_for('static', filename="images/tor.png")}}"/></div>
                <div class="app_title">Remote<br/>PC Wallet</div>
                <div class="app_status"></div>
                <div class="app_contents">
                    <a class="ui-button ui-widget ui-corner-all mynode_button" href="https://mynodebtc.com/guide/electrum_server_tor" target="_blank">Guide</a>
                </div>
            </div>

            <div class="app_tile_short">
                <div class="app_status_icon"></div>
                <div class="app_logo"><img class="app_logo_icon" src="{{ url_for('static', filename="images/tor.png")}}"/></div>
                <div class="app_title">Remote<br/>Mobile Wallet</div>
                <div class="app_status"></div>
                <div class="app_contents">
                    <a class="ui-button ui-widget ui-corner-all mynode_button" href="https://mynodebtc.com/guide/electrum_server_tor" target="_blank">Guide</a>
                </div>
            </div>

        </div>

        {% include 'includes/footer.html' %}
     </body>
</html>