<!DOCTYPE html lang="en">
    <head>
        <title>{{ title }}</title>
        {% include 'includes/head.html' %}
     </head>

    <body>
        {% include 'includes/logo_header.html' %}
        <div class="mynode_back_div">
            <a class="ui-button ui-widget ui-corner-all mynode_back" href="/"><span class="ui-icon ui-icon-home"></span>home&nbsp;</a>
        </div>
        
        <div class="main_header">myNode Error</div>

        <div class="bitcoind_error_message">{{message}}</div>

        {% include 'includes/footer.html' %}
     </body>
</html>