<!DOCTYPE html lang="en">
    <head>
        <title>myNode Help</title>
        {% include 'includes/head.html' %}
     </head>

    <body>
        {% include 'includes/logo_header.html' %}
        
        <div class="mynode_top_left_div">
            <a href="/"><img class="mynode_nav_icon" src="{{ url_for('static', filename="images/home.png")}}"/></a>
        </div>

        <div class="main_header">Help</div>

        <br/>
        <div class="settings_block">
            <div class="settings_block_header">Community</div>
            <p>
                The fastest way to get support from the community is via our Telegram channel. Use the link below to join!
                <br/></br>
                <a href="https://t.me/mynode_btc" target="_blank">Telegram</a>
            </p>
        </div>

        <div class="settings_block">
            <div class="settings_block_header">Guides</div>
            <p>
                Guides for setting up your myNode as well as associated wallets and apps are available on our
                website for guides, troubleshooting and other documentation.
                <br/></br>
                <a href="https://mynodebtc.github.io/intro/introduction.html" target="_blank">mynodebtc.github.io</a>

                <br/><br/>
                For tips and notes about application-specific behavior, see the system notes on GitHub.
                <br/><br/>
                <a href="https://github.com/mynodebtc/mynode/blob/master/SYSTEM_NOTES.md" target="_blank">System Notes</a>
            </p>
        </div>

        <div class="settings_block">
            <div class="settings_block_header">Support Tickets</div>
            <p>
                Please use the following links below and see if your problem can be resolved. If you are still
                having issues, you can log a support ticket.
                <br/><br/>
                <a href="https://mynodebtc.com/support" target="_blank">mynodebtc.com</a>
            </p>
        </div>


        {% include 'includes/footer.html' %}
     </body>
</html>
