<!DOCTYPE html lang="en">
    <head>
        <title>myNode Help</title>
        {% include 'includes/head.html' %}
     </head>

    <body>
        {% include 'includes/logo_header.html' %}
        
        <div class="mynode_back_div">
            <a class="ui-button ui-widget ui-corner-all mynode_back" href="/"><span class="ui-icon ui-icon-home"></span>home&nbsp;</a>
        </div>

        <div class="main_header">Help</div>

        <br/>
        <div class="settings_block">
            <div class="settings_block_header">Contacts</div>
            <p>
                The fastest way to get support is via our Telegram or Reddit. Use the links below to join!
                <br/></br>
                <a href="https://t.me/mynode_btc" target="_blank">Telegram</a>
                <a href="https://www.reddit.com/r/mynodebtc/" target="_blank">Reddit</a>
            </p>
            <p>
                Please use the following links below and see if your problem can be resolved. If you are still
                having issues, please contact myNode via email at the following address:
                <br/><br/>
                <a href="mailto:help@mynodebtc.com">help@mynodebtc.com</a>
            </p>
            
        </div>

        <div class="settings_block">
            <div class="settings_block_header">Tutorials</div>
            <p>
                Tutorials for setting up your myNode as well as associated wallets and apps are available on our
                website.
                <br/></br>
                <a href="https://www.mynodebtc.com">mynodebtc.com</a>
            </p>

        </div>

        <div class="settings_block">
            <div class="settings_block_header">FAQ</div>
            <p>
                Answers to frequently asked questions can be found on our website.
                <br/></br>
                <a href="https://www.mynodebtc.com">mynodebtc.com</a>
            </p>
        </div>

        {% include 'includes/footer.html' %}
     </body>
</html>
