<!DOCTYPE html lang="en">
    <head>
        <title>{{ title }}</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
        {% include 'includes/mynode_css.html' %}
        <link rel="stylesheet" href="{{ url_for('static', filename="css/mynode_bitcoind.css")}}">
        <link href="{{ url_for('static', filename="jquery_ui/jquery-ui.css")}}" rel="stylesheet">
        <meta http-equiv="Content-Language" content="en">
        <meta name="google" content="notranslate">
        <script src="{{ url_for('static', filename="js/jquery-3.3.1.min.js")}}"></script>
        <script src="{{ url_for('static', filename="jquery_ui/jquery-ui.js")}}"></script>
        <script src="{{ url_for('static', filename="js/mynode.js")}}"></script>
     </head>

    <body>
        {% include 'includes/logo_header.html' %}
        <div class="mynode_back_div">
            <a class="ui-button ui-widget ui-corner-all mynode_back" href="/"><span class="ui-icon ui-icon-home"></span>home&nbsp;</a>
            <a class="ui-button ui-widget ui-corner-all mynode_back" href="/lnd"><span class="ui-icon ui-icon-transfer-e-w"></span>ln wallet&nbsp;</a>
        </div>

        <div class="main_header">Create Lightning Wallet</div>

        <br/>
        <div class="content_block">
            <p><b>Wallet Seed</b></p>
            <div class="divider"></div>
            <p>{{ seed }}</p>
            <div class="divider"></div>
            <p><b>Attention!</b> This seed is required to recover your wallet if anything happens to your device.
                Write this seed down and keep it in a safe location. Anyone with access to this seed will have
                access to your Bitcoin.</p>
            <a class="ui-button ui-widget ui-corner-all" style="float: right;" href="/lnd/create_wallet_confirm">Continue</a>
        </div>

        {% include 'includes/footer.html' %}
     </body>
</html>