<!DOCTYPE html lang="en">
    <head>
        <title>{{ title }}</title>
        {% include 'includes/head.html' %}
     </head>

    <body>
        {% include 'includes/logo_header.html' %}
        <div class="mynode_top_left_div">
            <a href="/lnd" title="Back"><img class="mynode_nav_icon" src="{{ url_for('static', filename="images/back.png")}}"/></a>        </div>
        <div class="main_header">Create Lightning Wallet</div>

        <br/>
        <div class="content_block">
            <p><b>Wallet Seed</b></p>
            <div class="divider"></div>
            <p>{{ seed }}</p>
            <div class="divider"></div>
            <p><b>Attention!</b> This seed is required to recover your wallet if anything happens to your device.
                Write this seed down and keep it in a safe location. Anyone with access to this seed will have
                access to your Bitcoin.</p>
            <a class="ui-button ui-widget ui-corner-all" style="float: right;" href="/lnd/create_wallet_confirm">Continue</a>
        </div>

        {% include 'includes/footer.html' %}
     </body>
</html>