<!DOCTYPE html lang="en">
    <head>
        <title>{{ title }}</title>
        {% include 'includes/head.html' %}
     </head>

    <body>
        {% include 'includes/logo_header.html' %}
        <div class="mynode_top_left_div">
            <a href="/lnd" title="Back"><img class="mynode_nav_icon" src="{{ url_for('static', filename="images/back.png")}}"/></a>
        </div>

        {% include 'includes/message_display.html' %}

        <div class="main_header">LND Custom Config</div>

        <div class="text_block">
            You can edit the LND config. However, using your own config will prevent any future automatic updates and may have adverse effects.
            <br/><br/>
            Saving will reboot your device.
            <br/>
            {% if using_lnd_custom_config %}
            <br/>
            <div class="settings_block_subheader_status_icon yellow"></div>
            <i>You are currently using a custom LND config.</i>
            <div class="settings_block_subheader_status_icon yellow"></div>
            {% endif %}
        </div>

        <div class="centered_text_div">
            <form action="/lnd/config" method="POST">
                <textarea class="config_textarea" name="custom_config" id="custom_config">{{ lnd_config }}</textarea>
                <br/><br/>
                <input class="ui-button ui-widget ui-corner-all" type="submit" value="Save"/>
                <a href="/lnd/reset_config" class="ui-button ui-widget ui-corner-all">Reset Config</a>
            </form>
        </div>


        {% include 'includes/footer.html' %}
     </body>
</html>