<!DOCTYPE html lang="en">
    <head>
        <title>{{ title }}</title>
        {% include 'includes/head.html' %}
        <script>
            $(document).ready(function() {

                // Disable button so submit cannot get hit twice
                $('input[type=submit]').click(function() {
                    $(this).attr('disabled', 'disabled');
                    $(this).parents('form').submit();
                });
                
            });
        </script>
     </head>

    <body>
        {% include 'includes/logo_header.html' %}
        <div class="mynode_top_left_div">
            <a href="/lnd" title="Back"><img class="mynode_nav_icon" src="{{ url_for('static', filename="images/back.png")}}"/></a>        </div>
        <div class="main_header">Create Lightning Wallet</div>

        <br/>
        <div class="content_block">
            <form action="/lnd/create_wallet_with_seed" method="POST" enctype="multipart/form-data">
                <p><b>Wallet Seed</b></p>
                <p>Enter your 24 word wallet seed.</p>
                <textarea id="seed" name="seed" class="seed_textbox"></textarea>
                <p>
                    <b>Channel Backup File</b>
                    <br/>
                    <small>optional</small>
                </p>
                <input type="file" name="channel_backup">
                <br/>
                <input type="submit" class="ui-button ui-widget ui-corner-all" style="float: right;" value="Create">
            </form>
        </div>

        {% include 'includes/footer.html' %}
     </body>
</html>