<!DOCTYPE html lang="en">
    <head>
        <title>myNode Login</title>
        {% include 'includes/head.html' %}
     </head>

    <body>
        {% include 'includes/logo_header.html' %}

        <div class="main_header">Login</div>

        {% include 'includes/message_display.html' %}

        <div class="login_div">
            <form action="/login" method="POST">
                <input type="password" id="password" name="password" placeholder="enter password" class="ui-corner-all login_password"/>
                <br/>
                <input type="submit" id="login_submit" value="Login" class="ui-button ui-widget ui-corner-all login_submit"/>

                {% if not has_changed_password %}
                <br/><br/>
                <p style="text-align: center;"><i>The default password is bolt</i></p>
                {% endif %}
            </form>
        </div>

     </body>
</html>