<!DOCTYPE html lang="en">
    <head>
        <title>{{ title }}</title>
        {% include 'includes/head.html' %}
        <meta http-equiv="refresh" content="120">

        <script>
            $(document).ready(function() {
                electrs_enabled = {% if electrs_enabled %}1{% else %}0{% endif %}
                lndhub_enabled = {% if lndhub_enabled %}1{% else %}0{% endif %}
                vpn_enabled = {% if vpn_enabled %}1{% else %}0{% endif %}
                mempoolspace_enabled = {% if mempoolspace_enabled %}1{% else %}0{% endif %}

                $("#lndhub").on("click", function() {
                    url = 'http://'+location.hostname+':3000'
                    window.open(url,'_blank');
                })

                $("#rtl").on("click", function() {
                    url = 'http://'+location.hostname+':3010'
                    window.open(url,'_blank');
                })

                $("#lnd_admin").on("click", function() {
                    url = 'http://'+location.hostname+':3004'
                    window.open(url,'_blank');
                })

                $("#btcrpcexplorer").on("click", function() {
                    url = 'http://'+location.hostname+':3002'
                    window.open(url,'_blank');
                })

                $("#mempoolspace").on("click", function() {
                    url = 'http://'+location.hostname+':4080'
                    window.open(url,'_blank');
                })

                $("#btcpayserver").on("click", function() {
                    url = 'http://'+location.hostname+':49392'
                    window.open(url,'_blank');
                })

                $("#toggle-electrs").on("click", function() {
                    if (electrs_enabled)
                    {
                        // Disable electrs
                        window.location.href="/toggle-electrs"
                    }
                    else
                    {
                        // Enable electrs
                        var okFunction = function() {
                            window.location.href="/toggle-electrs"
                        }
                        openConfirmDialog("confirm-dialog", 
                                          "Enable Electrum Server", 
                                          "Enabling Electrum Server will take several days to fully sync for \
                                           the first time. Your myNode may run slowly during this period.<br/><br/> \
                                           Would you like to enable electrum server?",
                                           okFunction)
                    }
                    return false
                });

                $("#toggle-vpn").on("click", function() {
                    if (vpn_enabled)
                    {
                        // Disable vpn
                        window.location.href="/toggle-vpn"
                    }
                    else
                    {
                        // Enable vpn
                        var okFunction = function() {
                            window.location.href="/toggle-vpn"
                        }
                        openConfirmDialog("confirm-dialog", 
                                          "Enable VPN", 
                                          "Enabling VPN will set your IP to a static IP rather than a dynamic one via DHCP. \
                                           The initial setup may take about an hour.<br/><br/> \
                                           Would you like to enable VPN?",
                                           okFunction)
                    }
                    return false
                });

                $("#toggle-btcrpcexplorer").on("click", function() {
                        window.location.href="/toggle-btcrpcexplorer"
                });

                $("#toggle-mempoolspace").on("click", function() {
                        window.location.href="/toggle-mempoolspace"
                });

                $("#toggle-btcpayserver").on("click", function() {
                        window.location.href="/toggle-btcpayserver"
                });

                function lndconnect() {
                    $("#lndconnect_form").submit();
                    lndconnect_dialog.dialog( "close" );
                }
                lndconnect_dialog = $( "#lndconnect-dialog" ).dialog({
                    autoOpen: false,
                    resizable: false,
                    height: "auto",
                    width: 600,
                    modal: true,
                    position: { my: "center top", at: "center top", of: window, collision: "none" },
                    buttons: {
                        "View": lndconnect,
                        Cancel: function() {
                            lndconnect_dialog.dialog( "close" );
                        }
                    },
                    open: function() {
                        $("#password_lndconnect").val("")
                    }
                });
                $("#lndconnect").on("click", function() {
                    lndconnect_dialog.dialog( "open" );
                });

                $("#lndconnect_form").on("submit", function() {
                    lndconnect_dialog.dialog( "close" );
                });

                $("#https").on("click", function() {
                    location.href = 'https:' + window.location.href.substring(window.location.protocol.length);
                });

                // Show HTTPS button
                if (location.protocol != 'https:') {
                    $("#https").show();
                }

            });
        </script>
     </head>

    <body>
        {% include 'includes/logo_header.html' %}
        
        <div class="mynode_top_right_div">
            {% if upgrade_available %}
            <a class="ui-button ui-widget ui-corner-all mynode_back" href="/settings"><span class="ui-icon ui-icon-notice"></span>upgrade available&nbsp;</a>
            {% endif %}
            <a class="ui-button ui-widget ui-corner-all mynode_back" id="https" style="display: none;" href="#">&nbsp;<span class="ui-icon ui-icon-locked"></span>&nbsp;</a>
            <a class="ui-button ui-widget ui-corner-all mynode_back" href="/logout"><span class="ui-icon ui-icon-close"></span>&nbsp;</a>
        </div> 
        

        {% include 'includes/message_display.html' %}

        {% if fsck_error %}
        <div class="main_page_error_block">
            <center>
            <p>There may be an error with the filesystem on your drive.</p>
            <p>{{ fsck_results }}</p>
            </center>
        </div>
        {% endif %}

        {% if sd_rw_error %}
        <div class="main_page_error_block">
            <center>
            <p>There may be an error with the filesystem on your SD card. It was mounted as read-only and has been updated to read/write.</p>
            </center>
        </div>
        {% endif %}

        {% if not has_changed_password %}
        <div class="upgrade_ad_main_page">
            <p style="text-align: center;"><b>Warning!</b><br/>You appear to be using the default password! You should change it to something else on the <a href="/settings">settings</a> page.</p>
        </div>
        {% endif %}

        {% include 'includes/services.html' %}

        {% if product_key_error %}
        <div class="main_page_error_block">
            <center>
            <p>
                Your product key is invalid or is currently in use on other devices. This may inhibit your use of support and other premium features.
                <br/><br/>
                Please contact myNode support at <a href="mailto:help@mynodebtc.com">help@mynodebtc.com</a>
                <br/><br/>
                <a href="/product-key">Enter Product Key</a>
            </p>
            </center>
        </div>
        {% endif %}

        {% include 'includes/apps.html' %}

        {% if product_key_skipped %}
        <div class="main_header">Community Edition</div>
        <div class="upgrade_ad_main_page">
            <p>
                You are currently running myNode Community Edition. Upgrading to myNode Premium provides:
                <br/>
                <ul>
                    <li>Premium Support</li>
                    <li>One Click Upgrades!</li>
                    <li>VPN for Remote Access</li>
                    <li>Tor for Remote Access</li>
                    <li>JoinMarket</li>
                    <li>Supports the Open Source Bitcoin Community</li>
                    <li>And more!</li>
                </ul>
                Upgrade now at <a target="_blank" href="https://mynodebtc.com/order/premium">mynodebtc.com</a>!
            </p>
        </div>
        {% endif %}

        <div class="main_header">Settings and Info</div>
        <div class="app_tile_row">
            <div class="app_tile">
                <div class="app_status_icon"></div>
                <div class="app_logo"><img class="app_logo_icon" src="{{ url_for('static', filename="images/settings.png")}}"/></div>
                <div class="app_title">Settings</div>
                <div class="app_status"></div>
                <div class="app_contents"><a class="ui-button ui-widget ui-corner-all mynode_button" href="/settings">Settings</a></div>
            </div>
            <div class="app_tile">
                <div class="app_status_icon"></div>
                <div class="app_logo"><img class="app_logo_icon" src="{{ url_for('static', filename="images/drive.png")}}"/></div>
                <div class="app_title">Disk Usage</div>
                <div class="app_status"></div>
                <div class="app_contents"><div class="drive_usage">{{drive_usage}}</div></div>
            </div>
            <div class="app_tile">
                <div class="app_status_icon"></div>
                <div class="app_logo"><img class="app_logo_icon" src="{{ url_for('static', filename="images/cpu.png")}}"/></div>
                <div class="app_title">CPU</div>
                <div class="app_status"></div>
                <div class="app_contents"><div class="drive_usage">{{cpu_usage}}</div></div>
            </div>
            <div class="app_tile">
                <div class="app_status_icon"></div>
                <div class="app_logo"><img class="app_logo_icon" src="{{ url_for('static', filename="images/ram.png")}}"/></div>
                <div class="app_title">RAM</div>
                <div class="app_status"></div>
                <div class="app_contents"><div class="drive_usage">{{ram_usage}}</div></div>
            </div>
            {% if device_temp != '...' %}
            <div class="app_tile">
                <div class="app_status_icon"></div>
                <div class="app_logo"><img class="app_logo_icon" src="{{ url_for('static', filename="images/temperature.png")}}"/></div>
                <div class="app_title">Temperature</div>
                <div class="app_status"></div>
                <div class="app_contents"><div class="drive_usage">{{device_temp}} &deg;C</div></div>
            </div>
            {% endif %}
            <!--
            <div class="app_tile">
                <div class="app_status_icon"></div>
                <div class="app_logo"><img class="app_logo_icon" src="{{ url_for('static', filename="images/ram.png")}}"/></div>
                <div class="app_title">Swap</div>
                <div class="app_status"></div>
                <div class="app_contents"><div class="drive_usage">{{swap_usage}}</div></div>
            </div>
            -->
        </div>

        {% if product_key_skipped %}
        <div class="upgrade_ad_main_page">
            <p style="text-align: center;"><b>Tip Address</b><br/>bc1q75z4fj946pqucfu9gasxdrzma0z4seh8f58sfd</p>
        </div>
        {% endif %}

        <div id="confirm-dialog"></div>
        <div id="info-dialog"></div>

        <div id="lndconnect-dialog" title="LND Connect Access" style="display:none;">
            <form id="lndconnect_form" name="lndconnect_form" action="/lnd/lndconnect" method="POST">
                <p>LND Connect info will allow access to your Lightning Wallet! Do not share this info with others
                    or they will be able to control your funds.</p>
                <p>Please enter your password to view your lndconnect codes.</p>
                <b>Password:</b>
                <br/>
                <input type="password" name="password_lndconnect" id="password_lndconnect" value="" class="text ui-widget-content ui-corner-all">
                <input type="hidden" name="lndconnect_from_homepage" id="lndconnect_from_homepage" value="1"/>

                <!-- Allow form submission with keyboard without duplicating the dialog button -->
                <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
            </form>
        </div>
        
        {% include 'includes/footer.html' %}
     </body>
</html>