<!DOCTYPE html lang="en">
    <head>
        <title>myNode - {{app.name}}</title>
        {% include 'includes/head.html' %}

        <script src="{{ url_for('static', filename='js/manage_apps.js')}}"></script>

        <style>
            .hes-gallery {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-gap: 20px;
                padding: 20px;
                columns: 3;
            }
            .hes-gallery img {
                width: 100%;
                object-fit: cover;
                transition: 0.3s;
                cursor: pointer;
            }
            .hes-gallery img:hover {
                transform: scale(1.04);
                box-shadow: 2px 2px 6px #555;
            }
        </style>

        <!-- Hes Gallery -->
        <link href="{{ url_for('static', filename='css/hes-gallery.min.css')}}" rel="stylesheet">
        <script src="{{ url_for('static', filename='js/hes-gallery.min.js')}}"></script>

        <script>
            $(document).ready(function() {
                HesGallery.init({
                    disableScrolling: false,
                    wrapAround: true,
                    animations: true,
                    keyboardControl: true,
                    showImageCount: true,
                });
            });
        </script>
    </head>
    <body>
        {% include 'includes/logo_header.html' %}
        <div class="mynode_top_left_div">
            <a href="/marketplace"><img class="mynode_nav_icon" src="{{ url_for('static', filename="images/back.png")}}"/></a>
        </div>

        <div class="main_header">{{app.name}}</div>

        <div class="marketplace_app_page_container">
            <div class="marketplace_app_page_block_header">&nbsp;</div>
            <div class="marketplace_app_page_block_contents">

                <div class="marketplace_app_page_block_contents_left">
                    <img class="marketplace_app_page_icon" src="{{ url_for('static', filename="images/app_icons/")}}{{app.short_name}}.png"/>
                    <p style="font-size: 14px; text-align: center;">{{app.short_description}}</p>
                    <br/>

                    {% if not product_key_skipped or product_key_skipped and not app.is_premium %}
                        <!-- On Marketplace, only show install / uninstall (app pages show others) -->
                        {% if not app.is_installed %}
                            <!-- Install -->
                            <button class="ui-button ui-widget ui-corner-all mynode_button marketplace_app_page_button install_button" onclick="install('{{ app.name }}', '{{ app.short_name }}');">Install</button>
                        {% else %}
                            <!-- Upgrade / Re-install / Uninstall -->
                            {% if app.current_version != app.latest_version %}
                                <button class="ui-button ui-widget ui-corner-all mynode_button marketplace_app_page_button install_button" onclick="upgrade('{{ app.name }}', '{{ app.short_name }}');">Upgrade</button>
                            {% endif %}
                            {% if app.can_reinstall %}
                                <button class="ui-button ui-widget ui-corner-all mynode_button marketplace_app_page_button" onclick="reinstall('{{ app.name }}', '{{ app.short_name }}');">Reinstall</button>
                            {% endif %}
                            {% if app.can_uninstall %}
                                <button class="ui-button ui-widget ui-corner-all mynode_button marketplace_app_page_button uninstall_button" onclick="uninstall('{{ app.name }}', '{{ app.short_name }}');">Uninstall</button>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        <p style="font-size: 14px; text-align: center;"><i>Premium Feature</i></p>
                    {% endif %}

                </div>

                <div class="marketplace_app_page_block_contents_right">
                    <div class="marketplace_app_page_block_contents_heading">
                        <div class="info-page-block">Info</div>
                    </div>
                    <div class="marketplace_app_page_block_contents_text">
                        <table class="info_table" style="font-size: 12px; margin-left: 10px">
                            <tr>
                                <th>Installed Version</th>
                                <td>
                                    {% if app.is_installed %}
                                        {{app.current_version}}
                                    {% else %}
                                        Not Installed
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>Latest Version</th>
                                <td>{{app.latest_version}}</td>
                            </tr>
                            {% if app.author.name is defined and app.author.name != "" %}
                            <tr>
                                <th>Author</th>
                                <td>
                                    {% if app.author.link is defined and app.author.link != "" %}
                                        <a href="{{app.author.link}}" target="_blank">{{app.author.name}}</a>
                                    {% else %}
                                        {{app.author.name}}
                                    {% endif %}
                                </td>
                            </tr>
                            {% endif %}
                            {% if app.website.name is defined and app.website.link is defined and app.website.name != ""%}
                            <tr>
                                <th>Website</th>
                                <td>
                                    <a href="{{app.website.link}}" target="_blank">{{app.website.name}}</a>
                                </td>
                            </tr>
                            {% endif %}
                        </table>
                    </div>

                    <div class="marketplace_app_page_block_contents_heading">
                        <div class="info-page-block">Description</div>
                    </div>
                    <div class="marketplace_app_page_block_contents_text">
                        {% if app.description is defined and app.description|length > 0 %}
                            {% if app.description is string %}
                                <p>{{app.description}}</p>
                            {% elif app.description is iterable %}
                                {% for parapraph in app.description %}
                                    <p>{{parapraph}}</p>
                                {% endfor %}
                            {% else %}
                                <p>Unknown description format.</p>
                            {% endif %}
                        {% else %}
                            No description available.
                        {% endif %}
                    </div>

                    {% if app.screenshots is defined and app.screenshots|length > 0 %}
                    <div class="marketplace_app_page_block_contents_heading">
                        <div class="info-page-block">Screenshots</div>
                    </div>
                    <div class="marketplace_app_page_block_contents_text">
                        <div class="hes-gallery">
                            {% for screenshot in app.screenshots %}
                                <img src="{{ url_for('static', filename="images/screenshots/")}}{{app.short_name}}/{{screenshot}}" alt="{{app.name}} Image" data-subtext=""/>
                            {% endfor %}
                          </div>
                    </div>
                    {% endif %}
                </div>

            </div>
        </div>

        <div id="loading_spinner_overlay" class="loading_spinner_overlay" style="display:none;">
            <img id="loading_spinner" class="loading_image" src="{{ url_for('static', filename="images/loading.gif")}}"/>
            <br/>
            <span id="loading_spinner_message">Loading...</span>
        </div>

    </body>
</html>
