<!DOCTYPE html lang="en">
    <head>
        <title>{{ title }}</title>
        {% include 'includes/head.html' %}

        <script>
            $(document).ready(function() {
    
                $( "#lndconnect_tabs" ).tabs();

                $("#choose_pair").selectmenu({
                    change: function( event, data ) {
                        choice = data.item.value;
                        
                        {% for p in pairs %}
                        if (choice == "{{ p.id }}") {
                            $("#pairing_text").html("{{ p.text }}");
                            $("#pairing_qr_code").attr("src","{{ p.image_src }}");
                            return;
                        }
                        {% endfor %}
                    },
                    width: 350
                });

            });
        </script>
     </head>

    <body>
        {% include 'includes/logo_header.html' %}
        <div class="mynode_top_left_div">
            <a href="/" title="Home"><img class="mynode_nav_icon" src="{{ url_for('static', filename="images/home.png")}}"/></a>
            <a href="/lnd" title="Back"><img class="mynode_nav_icon" src="{{ url_for('static', filename="images/back.png")}}"/></a>
        </div>

        <div class="main_header">Pair Wallet</div>

        <div class="main_header_sub_text">
            Pairing a wallet uses various formats, like
            <a href="https://github.com/LN-Zap/lndconnect" target="_blank">lndconnect</a> or 
            <a href="https://github.com/BlueWallet/BlueWallet/wiki/Deeplinking" target="_blank">blue wallet</a>.
        </div>
        <br/>

        <center>
            <select id="choose_pair" style="width: 500px;">
                <option value="choose">Choose pairing option...</option>
                {% for p in pairs %}
                <option value="{{p.id}}">{{p.name}}</option>
                {% endfor %}
            </select>

            <br/><br/>

            <img id="pairing_qr_code" class="pair_wallet_qr_code" src="{{ dots_img }}"/>
            <p id="pairing_text" class="pair_wallet_text">Choose pair type...</p>
        </center>

        {% include 'includes/footer.html' %}
    </body>
</html>