<!DOCTYPE html lang="en">
    <head>
        <title>{{ title }}</title>
        {% include 'includes/head.html' %}

        <style>
            .ui-tooltip {
                
                font-size: 16px;
                width: 400px;
                max-width: 400px;
                
            }

            {% if not is_connected %}
            .connected-style {
                color: #AAAAAA;
            }
            {% else %}
            .connected-style {
                
            }
            {% endif %}
        </style>

        <script>
            $(document).ready(function() {

                function set_token() {
                    $('#loading_spinner_overlay').fadeIn();
                    $("#set_token_form").submit();
                    set_token_dialog.dialog( "close" );
                }
                set_token_dialog = $( "#set-token-dialog" ).dialog({
                    autoOpen: false,
                    resizable: false,
                    height: "auto",
                    width: 600,
                    modal: true,
                    position: { my: "center top", at: "center top", of: window, collision: "none" },
                    buttons: {
                        "Save": set_token,
                        Cancel: function() {
                            set_token_dialog.dialog( "close" );
                        }
                    },
                    open: function() {
                        $("#token").val("")
                    }
                });

                $("#change_token_button").on("click", function() {
                    set_token_dialog.dialog( "open" );
                });
                $("#set_token_button").on("click", function() {
                    set_token_dialog.dialog( "open" );
                });
                $("#clear_token_button").on("click", function() {
                    if (confirm("Are you sure you want to clear your Premium+ Access Token?")) {
                        $('#loading_spinner_overlay').fadeIn();
                        window.location.href='/premium-plus/clear-token';
                    }
                });

                $("#sync_button").on("click", function() {
                    $('#loading_spinner_overlay').fadeIn();
                    window.location.href='/premium-plus/sync';
                });


                $('#sync_status_checkbox').change(function () {
                    $("#sync_status_save").show();
                });
                $("#sync_status_save").on("click", function() {
                    $('#loading_spinner_overlay').fadeIn();
                    enabled=$('#sync_status_checkbox').is(":checked");
                    if (enabled)
                    {
                        window.location.href='/premium-plus/toggle-setting?name=sync_status&enabled=1';
                    }
                    else
                    {
                        window.location.href='/premium-plus/toggle-setting?name=sync_status&enabled=0';
                    }
                });

                $('#sync_bitcoin_and_lightning_checkbox').change(function () {
                    $("#sync_bitcoin_and_lightning_save").show();
                });
                $("#sync_bitcoin_and_lightning_save").on("click", function() {
                    $('#loading_spinner_overlay').fadeIn();
                    enabled=$('#sync_bitcoin_and_lightning_checkbox').is(":checked");
                    if (enabled)
                    {
                        window.location.href='/premium-plus/toggle-setting?name=sync_bitcoin_and_lightning&enabled=1';
                    }
                    else
                    {
                        window.location.href='/premium-plus/toggle-setting?name=sync_bitcoin_and_lightning&enabled=0';
                    }
                });

                $('#backup_scb_checkbox').change(function () {
                    $("#backup_scb_save").show();
                });
                $("#backup_scb_save").on("click", function() {
                    $('#loading_spinner_overlay').fadeIn();
                    enabled=$('#backup_scb_checkbox').is(":checked");
                    if (enabled)
                    {
                        window.location.href='/premium-plus/toggle-setting?name=backup_scb&enabled=1';
                    }
                    else
                    {
                        window.location.href='/premium-plus/toggle-setting?name=backup_scb&enabled=0';
                    }
                });

                $('#watchtower_checkbox').change(function () {
                    $("#watchtower_save").show();
                });
                $("#watchtower_save").on("click", function() {
                    $('#loading_spinner_overlay').fadeIn();
                    enabled=$('#watchtower_checkbox').is(":checked");
                    if (enabled)
                    {
                        window.location.href='/premium-plus/toggle-setting?name=watchtower&enabled=1';
                    }
                    else
                    {
                        window.location.href='/premium-plus/toggle-setting?name=watchtower&enabled=0';
                    }
                });

                $('#public_apps_checkbox').change(function () {
                    $("#public_apps_save").show();
                });
                $("#public_apps_save").on("click", function() {
                    $('#loading_spinner_overlay').fadeIn();
                    enabled=$('#public_apps_checkbox').is(":checked");
                    if (enabled)
                    {
                        window.location.href='/premium-plus/toggle-setting?name=public_apps&enabled=1';
                    }
                    else
                    {
                        window.location.href='/premium-plus/toggle-setting?name=public_apps&enabled=0';
                    }
                });

                //$( document ).tooltip();

                $( document ).tooltip({
                    items: "[title]",
                    content: function() {
                        var element = $( this );
                        if ( element.is( "[title]" ) ) {
                            text =  "<b>"+element.attr( "title" )+"</b>"
                            text += "<br/><br/>";
                            text += ""+element.attr( "msg" )+"";
                            return text;
                        }
                    }
                });
            });
        </script>
     </head>

    <body>
        {% include 'includes/logo_header.html' %}
        <div class="mynode_top_left_div">
            <a href="/"><img class="mynode_nav_icon" src="{{ url_for('static', filename="images/home.png")}}"/></a>
        </div>

        {% include 'includes/message_display.html' %}

        <div class="main_header">Premium+</div>
        <br/>

        <!-- Config and Status Row -->
        <div class="app_tile_row">
            <div class="info_tile">
                <div class="info_tile_header">Access Token and Status</div>
                <div class="info_tile_contents">
                    <table class="info_table">
                        <tr>
                            <th>Access Token</th>
                            <td>
                                {% if has_access_token %}
                                    <!-- Used to show token, now show starts for security -->
                                    ************************
                                    <button id="change_token_button" class="ui-button ui-widget ui-corner-all settings_button_small">Change</button>
                                    <button id="clear_token_button" class="ui-button ui-widget ui-corner-all settings_button_small">Clear</button>
                                {% else %}
                                    <button id="set_token_button" class="ui-button ui-widget ui-corner-all settings_button_small {% if product_key_skipped %}ui-state-disabled{% endif %}" {% if product_key_skipped %}disabled{% endif %}>Set Token</button>
                                {% endif %}
                            </td>
                        </tr>
                        {% if has_access_token %}
                        <tr>
                            <th>Status</th>
                            <td>{{status_text}}</td>
                        </tr>
                        <tr>
                            <th>Last Sync</th>
                            <td>{{last_sync}}</td>
                        </tr>
                        {% if response_data is not none and "subscription" in response_data %}
                            {% if "active" in response_data.subscription %}
                                <tr>
                                    <td>Subscription</td>
                                    <td>
                                        {% if response_data.subscription.active %}
                                            Active
                                            {% if "days_remaining" in response_data.subscription and response_data.subscription.days_remaining|int < 45 %}
                                                <br/>
                                                <small>
                                                    Expiring Soon! {{response_data.subscription.days_remaining}} days remaining. <i class="fas fa-exclamation" style="color: orange;"></i>
                                                    <br/>
                                                    <a href="https://mynodebtc.com/order/premium_plus" target="_blank" style="margin-top: 10px;" class="ui-button ui-widget ui-corner-all mynode_button_small">Extend</a>
                                                </small>
                                            {% endif %}
                                        {% else %}
                                            Expired! <i class="fas fa-exclamation" style="color: red;"></i>
                                            <br/>
                                            <a href="https://mynodebtc.com/order/premium_plus" target="_blank" style="margin-top: 10px;" class="ui-button ui-widget ui-corner-all mynode_button_small">Renew</a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endif %}
                        {% endif %}
                        <tr>
                            <th>Actions</th>
                            <td><button id="sync_button" class="ui-button ui-widget ui-corner-all mynode_button_small">Force Sync</button></td>
                        </tr>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>

        {% if product_key_skipped or not has_access_token %}
        <div class="text_block" style="width: 600px; margin-top: 15px;">
            <p>Premium+ is a service that enables a number of additional and ever-growing features along with extended 
               support. The additional features are primarily related to monitoring and simple remote access to your 
               device and information.</p>

            {% if product_key_skipped %}
                <p style="text-align: center; margin-top: 15px;">A myNode Premium Key is required to enable Premium+</p>
            {% elif not has_access_token %}
                <p>To get an Access Token, you need to link your device to an account on mynodebtc.com.</p>
                <p>
                    <ul>
                        <li>Login or register an account on <a href="https://mynodebtc.com/login" target="_blank">mynodebtc.com</a></li>
                        <li>Add your product key on the <a href="https://mynodebtc.com/account/product_keys" target="_blank">Product Keys</a> page</li>
                        <li>Subscribe to <a href="https://mynodebtc.com/order/premium_plus" target="_blank">Premium+</a></li>
                        <li>Visit the <a href="https://mynodebtc.com/account/devices" target="_blank">Your Devices</a> page to get your Access Token</li>
                        <li>Enter the Access Token above</li>
                        <li>Enjoy additional myNode features!</li>
                    </ul>
                </p>
            {% endif %}
        </div>
        {% endif %}
        <br/>

        <!-- Premium+ Services -->
        <div class="app_tile_row">
            <div class="info_tile">
                <div class="info_tile_header">Premium+ Services</div>
                <div class="info_tile_contents">
                    <table class="info_table">
                        <tr>
                            <th class="connected-style">Sync Device Status</th>
                            <td>
                                <label class="switch">
                                    <input type="checkbox" id="sync_status_checkbox" {% if premium_plus_settings['sync_status'] %}checked{% endif %} {% if not is_connected %}disabled{% endif %}>
                                    <span class="slider round"></span>
                                </label>
                                <button id="sync_status_save" style="display: none; margin-left: 10px; float: right;" class="ui-button ui-widget ui-corner-all settings_button_small">Save</button>
                            </td>
                            <td>
                                <img style="width: 16px; margin-left: 10px;" src="{{ url_for('static', filename="images/tooltip_icon.png")}}" title="Sync Device Status" msg="Syncing your node's status will allow you to see basic node information via mynodebtc.com. Info like app status, drive usage, and uptime will be available online.">
                            </td>
                        </tr>
                        <tr>
                            <th class="connected-style">Sync Bitcoin and Lightning Info</th>
                            <td>
                                <label class="switch">
                                    <input type="checkbox" id="sync_bitcoin_and_lightning_checkbox" {% if premium_plus_settings['sync_bitcoin_and_lightning'] %}checked{% endif %} {% if not is_connected %}disabled{% endif %}>
                                    <span class="slider round"></span>
                                </label>
                                <button id="sync_bitcoin_and_lightning_save" style="display: none; margin-left: 10px; float: right;" class="ui-button ui-widget ui-corner-all settings_button_small">Save</button>
                            </td>
                            <td>
                                <img style="width: 16px; margin-left: 10px;" src="{{ url_for('static', filename="images/tooltip_icon.png")}}" title="Sync Bitcoin and Lightning Info" msg="Syncing your node's Bitcoin and Lightning information will allow you to view that information via mynodebtc.com. Bitcoin information (block height, peers, etc...) and Lightning information (peers, channels, balances, etc...) will be available online. Some information may be considered sensitive.">
                            </td>
                        </tr>
                        <tr>
                            <th class="connected-style">Remote Channel Backup</th>
                            <td>
                                <label class="switch">
                                    <input type="checkbox" id="backup_scb_checkbox" {% if premium_plus_settings['backup_scb'] %}checked{% endif %} {% if not is_connected %}disabled{% endif %}>
                                    <span class="slider round"></span>
                                </label>
                                <button id="backup_scb_save" style="display: none; margin-left: 10px; float: right;" class="ui-button ui-widget ui-corner-all settings_button_small">Save</button>
                            </td>
                            <td>
                                <img style="width: 16px; margin-left: 10px;" src="{{ url_for('static', filename="images/tooltip_icon.png")}}" title="Remote Channel Backup" msg="Enabling Remote Channel Backup creates another layer of defense. An online backup of your encrypted SCB file is made to help prevent loss of funds in case of physical hardware failure.">
                            </td>
                        </tr>
                        <tr>
                            <th class="connected-style">Lightning Watchtower</th>
                            <td>
                                <label class="switch">
                                    <input type="checkbox" id="watchtower_checkbox" {% if premium_plus_settings['watchtower'] %}checked{% endif %} {% if not is_connected %}disabled{% endif %}>
                                    <span class="slider round"></span>
                                </label>
                                <button id="watchtower_save" style="display: none; margin-left: 10px; float: right;" class="ui-button ui-widget ui-corner-all settings_button_small">Save</button>
                            </td>
                            <td>
                                <img style="width: 16px; margin-left: 10px;" src="{{ url_for('static', filename="images/tooltip_icon.png")}}" title="Lightning Watchtower" msg="Enabling the Lightning Watchtower starts an external node to monitor your Lightning channels, helping detect and prevent malicious actions by peers.">
                            </td>
                        </tr>
                        <!--
                        <tr>
                            <th class="connected-style">Public Apps</th>
                            <td class="connected-style">
                                <label class="switch">
                                    <input type="checkbox" id="public_apps_checkbox" {% if premium_plus_settings['public_apps'] %}checked{% endif %} {% if not is_connected %}disabled{% endif %}>
                                    <span class="slider round"></span>
                                </label>
                                <button id="public_apps_save" style="display: none; margin-left: 10px; float: right;" class="ui-button ui-widget ui-corner-all settings_button_small">Save</button>

                            </td>
                            <td>
                                <img style="width: 16px; margin-left: 10px;" src="{{ url_for('static', filename="images/tooltip_icon.png")}}" title="Public Apps" msg="Enabling Public Apps allows others to access apps that are meant to be shared via mynodebtc.com! Get your own URL, like satoshisbtcpay.public.mynodebtc.com, to let others access your BTC Pay instance with just a few clicks! After enabling, additional settings are available via your account on mynodebtc.com.">
                            </td>
                        </tr>
                        -->
                    </table>
                </div>
            </div>
        </div>


        <div id="set-token-dialog" title="Set Premium+ Access Token" style="display:none;">
            <form id="set_token_form" name="set_token_form" action="/premium-plus/set-token" method="POST">
                <p>The Access Token is the key that connects your node with Premium+.</p>
                <b>Access Token:</b>
                <br/>
                <input type="text" name="token" id="token" value="" class="text ui-widget-content ui-corner-all" size="40" maxlength="64">

                <!-- Allow form submission with keyboard without duplicating the dialog button -->
                <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
            </form>
        </div>

        <div id="loading_spinner_overlay" class="loading_spinner_overlay" style="display:none;">
            <img id="loading_spinner" class="loading_image" src="{{ url_for('static', filename="images/loading.gif")}}"/>
            <br/>
            <span id="loading_spinner_message">Loading...</span>
        </div>

        {% include 'includes/footer.html' %}
     </body>
</html>