<!DOCTYPE html lang="en">
    <head>
        <title>{{ title }}</title>
        {% include 'includes/head.html' %}

        <!-- Backup: reload home page after 12 hours if JS didn't detect reboot -->
        <meta http-equiv="refresh" content="43200; URL=/" />

        <script>
            $(document).ready(function() {
                hasShutdown = 0
                uptime = null

                function redirectHome() {
                    window.location.replace("/");
                }

                function checkStatus() {
                    var jqxhr = $.getJSON("/api/ping", function(data) {
                        if (hasShutdown) {
                            // Redirect to home
                            setTimeout(redirectHome, 2500)
                        } else {
                            if ("uptime_seconds" in data) {
                                if (uptime == null || data["uptime_seconds"] > uptime) {
                                    uptime = data["uptime_seconds"]
                                } else if (data["uptime_seconds"] < uptime) {
                                    setTimeout(redirectHome, 2500)
                                }
                            }
                        }
                    })
                    .done(function(data) {
                        if (hasShutdown) {
                            // Redirect to home
                            setTimeout(redirectHome, 2500)
                        } else {
                            if ("uptime_seconds" in data) {
                                if (uptime == null || data["uptime_seconds"] > uptime) {
                                    uptime = data["uptime_seconds"]
                                } else if (data["uptime_seconds"] < uptime) {
                                    setTimeout(redirectHome, 2500)
                                }
                            }
                        }
                    })
                    .fail(function() {
                        hasShutdown = 1
                    })
                }

                checkStatus()
                setInterval(checkStatus, 2500);

                {% if show_upgrade_log is defined and show_upgrade_log %}
                showing_log=0;
                function update_upgrade_log () {
                    if (showing_log == 0) {
                        return;
                    }

                    console.log("Updating upgrade log...");
                    $.get("/settings/get-upgrade-log-raw", function(data) {
                        //console.log(data)
                        data = data.split("\n");
                        data.reverse();
                        log = data.join("\n")
                        console.log("Displaying " + data.length + " lines")
                        $("#upgrade_log_contents").html(log)
                    });
                }
                $("#show_upgrade_log").on("click", function() {
                    if (!showing_log) {
                        $("#show_upgrade_log").html("Hide Upgrade Log");
                        $("#loading_spinner").hide(0);
                        $("#upgrade_log").show();
                        update_upgrade_log();
                        showing_log=1;
                    } else {
                        $("#show_upgrade_log").html("Show Upgrade Log");
                        $("#loading_spinner").show();
                        $("#upgrade_log").hide(0);
                        showing_log=0;
                    }

                    setInterval(update_upgrade_log, 4000);
                });
                {% endif %}
            });
        </script>

     </head>

    <body>
        {% include 'includes/logo_header.html' %}
        
        <div class="state_header">{{ header_text }}</div>
        <div class="state_subheader">
            {{ subheader_text }}

            <br/>
            <p class="shutoff_warning">please do not power off or unplug device</p>
            
            <br/>
            <img id="loading_spinner" class="loading_image" src="{{ url_for('static', filename="images/loading.gif")}}"/>

            {% if show_upgrade_log is defined and show_upgrade_log %}
            <div class="cli_contents" id="upgrade_log" style="display: none; width: 1000px; height: 300px; max-height: 300px;">
                <pre id="upgrade_log_contents" style="text-align: left; font-size: 10px;"></pre>
            </div>

            <br/><br/>

            <button id="show_upgrade_log" class="ui-button ui-widget ui-corner-all settings_button_small">Show Upgrade Log</button>
            {% endif %}
        </div>

     </body>
</html>