<!DOCTYPE html lang="en">
    <head>
        <title>{{ title }}</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename="css/mynode.css")}}">
        <meta http-equiv="Content-Language" content="en">
        <meta name="google" content="notranslate">
        <script src="{{ url_for('static', filename="js/jquery-3.3.1.min.js")}}"></script>
        <script src="{{ url_for('static', filename="js/mynode.js")}}"></script>

        <script>
            $(document).ready(function() {
                hasShutdown = 0

                function redirectHome() {
                    window.location.replace("/");
                }

                function checkStatus() {
                    var jqxhr = $.get("/settings/ping", function() {
                        if (hasShutdown) {
                            // Redirect to home
                            setTimeout(redirectHome, 2500)
                        }
                    })
                    .done(function() {
                        if (hasShutdown) {
                            // Redirect to home
                            setTimeout(redirectHome, 2500)
                        }
                    })
                    .fail(function() {
                        hasShutdown = 1
                    })
                }
                
                checkStatus()
                setInterval(checkStatus, 5000);
            });
        </script>

     </head>

    <body>
        <div class="logo_header"><a href="/"><img class="logo_image" src="{{ url_for('static', filename="images/logo.png")}}"/></a></div>
        
        <div class="state_header">{{ header_text }}</div>
        <div class="state_subheader">
            {{ subheader_text }}
            
            <br/><br/>
            <img src="{{ url_for('static', filename="images/loading.gif")}}"/>
        </div>

     </body>
</html>