<!DOCTYPE html lang="en">
    <head>
        <title>{{ title }}</title>
        {% include 'includes/head.html' %}

        <script>
            $(document).ready(function() {

                var showChangelog=0;

                $("#upgrade").on("click", function() {
                    // Enable electrs
                    var okFunction = function() {
                        window.location.href="/settings/upgrade"
                    }
                    openConfirmDialog("confirm-dialog", 
                                      "Upgrade myNode",
                                      "<p>This will upgrade your myNode to the latest version and reboot your device.</p>" +
                                      "<p>Would you still like to upgrade your device?</p>",
                                      okFunction)
                });
                $("#upgrade-beta").on("click", function() {
                    // Enable electrs
                    var okFunction = function() {
                        window.location.href="/settings/upgrade-beta"
                    }
                    openConfirmDialog("confirm-dialog", 
                                      "Upgrade myNode",
                                      "<p>This will upgrade your myNode to the latest beta version and reboot your device.</p>" +
                                      "<p>Would you still like to upgrade your device?</p>",
                                      okFunction)
                });

                function deleteLndWallet() {
                    $("#delete_lnd_wallet_form").submit();
                    delete_lnd_wallet_dialog.dialog( "close" );
                }

                delete_lnd_wallet_dialog = $( "#delete-lnd-wallet-dialog" ).dialog({
                    autoOpen: false,
                    resizable: false,
                    height: "auto",
                    width: 600,
                    modal: true,
                    position: { my: "center top", at: "center top", of: window, collision: "none" },
                    buttons: {
                        "Delete Wallet": deleteLndWallet,
                        Cancel: function() {
                            delete_lnd_wallet_dialog.dialog( "close" );
                        }
                    },
                    open: function() {
                        $("#password_lnd_delete").val("")
                    }
                });

                $("#delete_lnd_wallet").on("click", function() {
                    delete_lnd_wallet_dialog.dialog( "open" );
                });


                function resetTor() {
                    $("#reset_tor_form").submit();
                    reset_tor_dialog.dialog( "close" );
                }
                reset_tor_dialog = $( "#reset-tor-dialog" ).dialog({
                    autoOpen: false,
                    resizable: false,
                    height: "auto",
                    width: 600,
                    modal: true,
                    position: { my: "center top", at: "center top", of: window, collision: "none" },
                    buttons: {
                        "Reset Tor": resetTor,
                        Cancel: function() {
                            reset_tor_dialog.dialog( "close" );
                        }
                    },
                    open: function() {
                        $("#password_reset_tor").val("")
                    }
                });
                $("#reset_tor").on("click", function() {
                    reset_tor_dialog.dialog( "open" );
                });



                $("#reset-blockchain").on("click", function() {
                    // Enable electrs
                    var okFunction = function() {
                        window.location.href="/settings/reset-blockchain"
                    }
                    openConfirmDialog("confirm-dialog",
                                      "Reset Bitcoin Blockchain",
                                      "Resetting the blockchain will restart bitcoind from scratch or from QuickSync, " +
                                      "depending on your settings. This may take a long time. "+
                                      "Would you still like to reset the bitcoin blockchain?",
                                      okFunction)
                });

                $("#restart-quicksync").on("click", function() {
                    // Enable electrs
                    var okFunction = function() {
                        window.location.href="/settings/restart-quicksync"
                    }
                    openConfirmDialog("confirm-dialog",
                                      "Reset QuickSync",
                                      "<p>Restarting QuickSync will delete all current bitcoind blockchain data and redownload " +
                                      "the pre-synced blockchain. This will take a while.</p>"+
                                      "<p>Would you still like to restart QuickSync?</p>",
                                      okFunction)
                });

                $("#reboot-device").on("click", function() {
                    // Enable electrs
                    var okFunction = function() {
                        window.location.href="/settings/reboot-device"
                    }
                    openConfirmDialog("confirm-dialog",
                                      "Reboot Device",
                                      "Are you sure you want to reboot your device?",
                                      okFunction)
                });

                $("#shutdown-device").on("click", function() {
                    // Enable electrs
                    var okFunction = function() {
                        window.location.href="/settings/shutdown-device"
                    }
                    openConfirmDialog("confirm-dialog",
                                      "Shutdown Device",
                                      "Are you sure you want to shutdown your device?",
                                      okFunction)
                });

                $("#reindex-blockchain").on("click", function() {
                    // Enable electrs
                    var okFunction = function() {
                        window.location.href="/settings/reindex-blockchain"
                    }
                    openConfirmDialog("confirm-dialog",
                                      "Reindex Bitcoin Blockchain",
                                      "Reindexing may take a VERY LONG time. "+
                                      "Would you still like to reindex the bitcoin blockchain?",
                                      okFunction)
                });

                $("#rescan-blockchain").on("click", function() {
                    // Enable electrs
                    var okFunction = function() {
                        window.location.href="/settings/rescan-blockchain"
                    }
                    openConfirmDialog("confirm-dialog",
                                      "Rescan Bitcoin Blockchain",
                                      "This will take a few hours. " +
                                      "Would you still like to rescan the bitcoin blockchain?",
                                      okFunction)
                });

                function factoryReset() {
                    $("#factory_reset_form").submit();
                    factory_reset_dialog.dialog( "close" );
                }

                factory_reset_dialog = $( "#factory-reset-dialog" ).dialog({
                    autoOpen: false,
                    resizable: false,
                    height: "auto",
                    width: 600,
                    modal: true,
                    position: { my: "center top", at: "center top", of: window, collision: "none" },
                    buttons: {
                        "Reset Device": factoryReset,
                        Cancel: function() {
                            factory_reset_dialog.dialog( "close" );
                        }
                    },
                    open: function() {
                        $("#password_factory_reset").val("")
                    }
                });

                $("#factory-reset").on("click", function() {
                    factory_reset_dialog.dialog( "open" );
                });

                $("#show_startup_status").on("click", function() {
                    $("#show_startup_status").hide(0);
                    $("#startup_status").show();
                });

                $("#show_quicksync_status").on("click", function() {
                    $("#show_quicksync_status").hide(0);
                    $("#quicksync_status").show();
                });

                $("#show_bitcoin_status").on("click", function() {
                    $("#show_bitcoin_status").hide(0);
                    $("#bitcoin_status").show();
                });

                $("#show_lnd_status").on("click", function() {
                    $("#show_lnd_status").hide(0);
                    $("#lnd_status").show();
                });

                $("#show_lndhub_status").on("click", function() {
                    $("#show_lndhub_status").hide(0);
                    $("#lndhub_status").show();
                });

                $("#show_tor_status").on("click", function() {
                    $("#show_tor_status").hide(0);
                    $("#tor_status").show();
                });

                $("#show_electrs_status").on("click", function() {
                    $("#show_electrs_status").hide(0);
                    $("#electrs_status").show();
                });

                $("#show_rtl_status").on("click", function() {
                    $("#show_rtl_status").hide(0);
                    $("#rtl_status").show();
                });

                $("#show_docker_status").on("click", function() {
                    $("#show_docker_status").hide(0);
                    $("#docker_status").show();
                });

                $("#show_docker_image_build_status").on("click", function() {
                    $("#show_docker_image_build_status").hide(0);
                    $("#docker_image_build_status").show();
                });

                $("#show_netdata_status").on("click", function() {
                    $("#show_netdata_status").hide(0);
                    $("#netdata_status").show();
                });

                $("#show_dojo_status").on("click", function() {
                    $("#show_dojo_status").hide(0);
                    $("#dojo_status").show();
                });

                $("#show_btcpayserver_status").on("click", function() {
                    $("#show_btcpayserver_status").hide(0);
                    $("#btcpayserver_status").show();
                });

                $("#show_mempoolspace_status").on("click", function() {
                    $("#show_mempoolspace_status").hide(0);
                    $("#mempoolspace_status").show();
                });

                $("#show_upgrade_status").on("click", function() {
                    $("#show_upgrade_status").hide(0);
                    $("#upgrade_status").show();
                });

                $("#show_upgrade_status_beta").on("click", function() {
                    $("#show_upgrade_status_beta").hide(0);
                    $("#upgrade_status_beta").show();
                });

                $("#show_firewall_status").on("click", function() {
                    $("#show_firewall_status").hide(0);
                    $("#firewall_status").show();
                });

                $("#show_firewall_rules").on("click", function() {
                    $("#show_firewall_rules").hide(0);
                    $("#firewall_rules").show();
                });

                $("#show_product_key").on("click", function() {
                    $("#show_product_key").hide(0);
                    $("#product_key").show();
                });

                $("#show_mynode_changelog").on("click", function() {
                    if (showChangelog)
                    {
                        $("#show_mynode_changelog").text("Show Change Log");
                        $("#mynode_changelog").hide();
                        showChangelog=0;
                    }
                    else
                    {
                        $("#show_mynode_changelog").text("Hide Change Log");
                        $("#mynode_changelog").show();
                        showChangelog=1;
                    }
                });

                $("#upgrade_changelog").on("click", function() {
                    $.get("https://raw.githubusercontent.com/mynodebtc/mynode/master/CHANGELOG")
                        .done(function( data ) {
                            var parts = data.split("=== v{{current_version}} ===");
                            var changes = parts[0];
                            parts = changes.split("=== v{{latest_version}} ===")
                            if (parts.length > 1) {
                                changes = "=== v{{latest_version}} ===" + parts[1];
                            }

                            changes = "<pre style='font-size: 10px;'>"+changes+"</pre>";
                            openInfoDialog("upgrade-changelog-info",
                                    "Recent Changes",
                                    changes);
                        }
                    );
                });

                $("#glances").on("click", function() {
                    url = 'http://'+location.hostname+':61208'
                    window.open(url,'_blank');
                })

                $("#netdata").on("click", function() {
                    url = 'http://'+location.hostname+':19999'
                    window.open(url,'_blank');
                })

                $("#linux_terminal").on("click", function() {
                    url = 'http://'+location.hostname+':2222/ssh/host/'+"{{local_ip}}"
                    window.open(url,'_blank');
                })

                $( function() {
                    var downloadHandle = $( "#download-handle" );
                    var uploadHandle = $( "#upload-handle" );
                    $( "#download-slider" ).slider({
                        value: {{download_rate}} / 100,
                        orientation: "horizontal",
                        range: "min",
                        animate: true,
                        create: function() {
                            rate = parseInt($( this ).slider( "value" ) * 100)
                            text = rate + " kbps"
                            downloadHandle.text(text);
                            $('#download-rate').val(rate);
                        },
                        slide: function( event, ui ) {
                            rate = parseInt(ui.value * 100)
                            text = rate + " kbps"
                            downloadHandle.text( text );
                            $('#download-rate').val(rate);
                        }
                    });
                    $( "#upload-slider" ).slider({
                        value: {{upload_rate}} / 100,
                        orientation: "horizontal",
                        range: "min",
                        animate: true,
                        create: function() {
                            rate = parseInt($( this ).slider( "value" ) * 100)
                            text = rate + " kbps"
                            uploadHandle.text(text);
                            $('#upload-rate').val(rate);
                        },
                        slide: function( event, ui ) {
                            rate = parseInt(ui.value * 100)
                            text = rate + " kbps"
                            uploadHandle.text( text );
                            $('#upload-rate').val(rate);
                        }
                    });
                } );

                {% if product_key_skipped %}
                $( "#upgrade" ).button({
                    disabled: true
                });
                {% endif %}

                var reinstall_app_choice="";
                $("#reinstall_app").selectmenu( {
                    change: function( event, data ) {
                        reinstall_app_choice = data.item.value;
                        if (data.item.value == "none")
                        {
                            $("#reinstall_button").button("disable");
                        }
                        else
                        {
                            $("#reinstall_button").button("enable");
                        }
                    }
                });
                
                $("#reinstall_button").button({
                    disabled: true
                });
                $("#reinstall_button").on("click", function() {
                    window.location.href='/settings/reinstall-app?app='+reinstall_app_choice
                });

                $('#btc_lnd_tor_checkbox').change(function () {
                    $("#btc_lnd_tor").show();
                });
                $("#btc_lnd_tor").on("click", function() {
                    enabled=$('#btc_lnd_tor_checkbox').is(":checked")
                    if (enabled)
                    {
                        window.location.href='/settings/enable_btc_lnd_tor?enable=1'
                    }
                    else
                    {
                        window.location.href='/settings/enable_btc_lnd_tor?enable=0'
                    }
                });
            });
        </script>
     </head>

    <body>
        {% include 'includes/logo_header.html' %}
        <div class="mynode_back_div">
            <a class="ui-button ui-widget ui-corner-all mynode_back" href="/"><span class="ui-icon ui-icon-home"></span>home&nbsp;</a>
        </div>

        <div class="main_header">Settings</div>

        {% include 'includes/message_display.html' %}

        <br/>
        <div class="settings_block">
            <div class="settings_block_header">myNode</div>
            
            <div class="settings_block_subheader">Version</div>
            <table border="0">
                <tr>
                    <td>Current Version</td>
                    <td>{{current_version}}</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Latest Version</td>
                    <td>{{latest_version}}</td>
                    <td>&nbsp;<a href="/settings/get-latest-version" class="ui-button ui-widget ui-corner-all settings_button_small">Check for Updates</a></td>
                </tr>
            </table>
            {% if current_version != latest_version and latest_version != "" %}
                <button id="upgrade" class="ui-button ui-widget ui-corner-all settings_button">Upgrade</button>
                <button id="upgrade_changelog" class="ui-button ui-widget ui-corner-all settings_button">See Changes</button>
                {% if product_key_skipped %}
                    <p>Upgrade to myNode Premium to get one-click updates!</p>
                    <p>For manual upgrades, see our <a target="_blank" href="https://mynodebtc.com/guide/upgrading_your_device">upgrade guide</a>!</p>
                {% endif %}
            {% elif not product_key_skipped and upgrade_error %}
                <p style="color: red;">It appears a recent upgrade may not have fully completed.</p>
                <button id="upgrade" class="ui-button ui-widget ui-corner-all settings_button">Retry Upgrade</button>
                <button id="show_upgrade_status" class="ui-button ui-widget ui-corner-all settings_button">Show Upgrade Logs</button>
                <div id="upgrade_status" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{upgrade_logs}}</pre></div>
            {% endif %}

            <div class="divider"></div>


            <div class="settings_block_subheader">
                Info
            </div>
            <table border="0">
                <tr>
                    <td>Serial Number</td>
                    <td style="padding-left: 20px;">{{serial_number}}</td>
                </tr>
                <tr>
                    <td>Product Key</td>
                    <td style="padding-left: 20px;">
                        {% if product_key_skipped %}
                            {{product_key}}
                            &nbsp;<a href="/product-key" class="ui-button ui-widget ui-corner-all settings_button_small">Enter Product Key</a>
                        {% else %}
                            <button id="show_product_key" class="ui-button ui-widget ui-corner-all settings_button_small">Show</button>
                            <div id="product_key" style="display: none;">{{product_key}}</div>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Device Type</td>
                    <td style="padding-left: 20px;">{{device_type}}</td>
                </tr>
                <!--
                <tr>
                    <td>Public IP</td>
                    <td style="padding-left: 20px;">
                        {{public_ip}}
                        {% if 'Failed to find' in public_ip %}
                            <a href="/settings/check-in" class="ui-button ui-widget ui-corner-all settings_button_small">Refresh</a>
                        {% endif %}
                    </td>
                </tr>
                -->
                <tr>
                    <td>Local IP</td>
                    <td style="padding-left: 20px;">{{local_ip}}</td>
                </tr>
                
            </table>
            <div class="divider"></div>

            <div class="settings_block_subheader">Status</div>
            <table border="0">
                <tr>
                    <td>Details</td>
                    <td style="padding-left: 20px;">
                        {% if is_netdata_enabled %}
                        <a id="netdata" class="ui-button ui-widget ui-corner-all settings_button_small" href="#">Open Netdata</a>
                        {% endif %}
                        <a id="glances" class="ui-button ui-widget ui-corner-all settings_button_small" href="#">Open Glances</a>
                    </td>
                </tr>
                <tr>
                    <td>Manage</td>
                    <td style="padding-left: 20px;">
                        <a id="linux_terminal" class="ui-button ui-widget ui-corner-all settings_button_small" href="#">Linux Terminal</a>
                    </td>
                </tr>
                <tr>
                    <td>Disk Usage</td>
                    <td style="padding-left: 20px;">{{drive_usage}}</td>
                </tr>
                <tr>
                    <td>CPU</td>
                    <td style="padding-left: 20px;">{{cpu_usage}}</td>
                </tr>
                <tr>
                    <td>RAM</td>
                    <td style="padding-left: 20px;">{{ram_usage}}</td>
                </tr>
                {% if device_temp != '...' %}
                <tr>
                    <td>Temperature</td>
                    <td style="padding-left: 20px;">{{device_temp}} &deg;C</td>
                </tr>
                {% endif %}
                <tr>
                    <td>Uptime</td>
                    <td style="padding-left: 20px;">{{uptime}}</td>
                </tr>
                <tr>
                    <td>Date</td>
                    <td style="padding-left: 20px;">{{date}}</td>
                </tr>
            </table>
            <div class="divider"></div>

            <div class="settings_block_subheader">Change Log</div>
            <button id="show_mynode_changelog" class="ui-button ui-widget ui-corner-all settings_button">View Change Log</button>
            <div id="mynode_changelog" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{changelog}}</pre></div>
            <div class="divider"></div>

            <div class="settings_block_subheader">Change Password</div>
            {{password_message}}
            This will change the password you use in the myNode GUI, the password for SSH, and the password for apps like RTL.
            <br/><br/>
            <form action="/settings/password" method="POST">
                <table border="0">
                    <tr>
                        <td>Current Password</td>
                        <td><input type="password" id="current_password" name="current_password" width="20" class="ui-corner-all settings_input"/></td>
                    </tr>
                    <tr>
                        <td>Password</td>
                        <td><input type="password" id="password1" name="password1" width="20" class="ui-corner-all settings_input"/></td>
                    </tr>
                    <tr>
                        <td>Repeat Password</td>
                        <td><input type="password" id="password2" name="password2" width="20" class="ui-corner-all settings_input"/></td>
                    </tr>
                </table>
                <input type="submit" id="password_submit" value="Change Password" class="ui-button ui-widget ui-corner-all settings_button"/>
            </form>

        <div class="settings_block">
            <div class="settings_block_header">Service Status</div>

            <div class="settings_block_subheader">myNode Startup Status</div>
            <div class="settings_block_subheader_status">
                <div class="settings_block_subheader_status_icon {{ startup_status_color }}"></div>
                {{ startup_status }}
            </div>
            <button id="show_startup_status" class="ui-button ui-widget ui-corner-all settings_button_small">Show</button>
            <div id="startup_status" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{startup_status_log}}</pre></div>
            <div class="divider"></div>

            <div class="settings_block_subheader">QuickSync Status</div>
            <div class="settings_block_subheader_status">
                <div class="settings_block_subheader_status_icon {{ quicksync_status_color }}"></div>
                {{ quicksync_status }}
            </div>
            <button id="show_quicksync_status" class="ui-button ui-widget ui-corner-all settings_button_small">Show</button>
            <div id="quicksync_status" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{quicksync_status_log}}</pre></div>
            <div class="divider"></div>

            <div class="settings_block_subheader">Tor Status</div>
            <div class="settings_block_subheader_status">
                <div class="settings_block_subheader_status_icon {{ tor_status_color }}"></div>
                {{ tor_status }}
            </div>
            <button id="show_tor_status" class="ui-button ui-widget ui-corner-all settings_button_small">Show</button>
            <div id="tor_status" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{tor_status_log}}</pre></div>
            <div class="divider"></div>

            <div class="settings_block_subheader">Bitcoin Status</div>
            <div class="settings_block_subheader_status">
                <div class="settings_block_subheader_status_icon {{ bitcoin_status_color }}"></div>
                {{ bitcoin_status }}
            </div>
            <button id="show_bitcoin_status" class="ui-button ui-widget ui-corner-all settings_button_small">Show</button>
            <div id="bitcoin_status" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{bitcoin_status_log}}</pre></div>
            <div class="divider"></div>

            <div class="settings_block_subheader">Netdata Status</div>
            <div class="settings_block_subheader_status">
                <div class="settings_block_subheader_status_icon {{ netdata_status_color }}"></div>
                {{ netdata_status }}
            </div>
            <button id="show_netdata_status" class="ui-button ui-widget ui-corner-all settings_button_small">Show</button>
            <div id="netdata_status" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{netdata_status_log}}</pre></div>
            <div class="divider"></div>

            {% if is_bitcoin_synced %}
            <div class="settings_block_subheader">LND Status</div>
            <div class="settings_block_subheader_status">
                <div class="settings_block_subheader_status_icon {{ lnd_status_color }}"></div>
                {{ lnd_status }}
            </div>
            <button id="show_lnd_status" class="ui-button ui-widget ui-corner-all settings_button_small">Show</button>
            <div id="lnd_status" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{lnd_status_log}}</pre></div>
            <div class="divider"></div>

            <div class="settings_block_subheader">Electrum Server Status</div>
            <div class="settings_block_subheader_status">
                <div class="settings_block_subheader_status_icon {{ electrs_status_color }}"></div>
                {{ electrs_status }}
            </div>
            <button id="show_electrs_status" class="ui-button ui-widget ui-corner-all settings_button_small">Show</button>
            <div id="electrs_status" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{electrs_status_log}}</pre></div>
            <div class="divider"></div>

            <div class="settings_block_subheader">LNDHub Status</div>
            <div class="settings_block_subheader_status">
                <div class="settings_block_subheader_status_icon {{ lndhub_status_color }}"></div>
                {{ lndhub_status }}
            </div>
            <button id="show_lndhub_status" class="ui-button ui-widget ui-corner-all settings_button_small">Show</button>
            <div id="lndhub_status" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{lndhub_status_log}}</pre></div>
            <div class="divider"></div>

            <div class="settings_block_subheader">RTL Status</div>
            <div class="settings_block_subheader_status">
                <div class="settings_block_subheader_status_icon {{ rtl_status_color }}"></div>
                {{ rtl_status }}
            </div>
            <button id="show_rtl_status" class="ui-button ui-widget ui-corner-all settings_button_small">Show</button>
            <div id="rtl_status" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{rtl_status_log}}</pre></div>
            <div class="divider"></div>

            <div class="settings_block_subheader">Docker Status</div>
            <div class="settings_block_subheader_status">
                <div class="settings_block_subheader_status_icon {{ docker_status_color }}"></div>
                {{ docker_status }}
            </div>
            <button id="show_docker_status" class="ui-button ui-widget ui-corner-all settings_button_small">Show</button>
            <div id="docker_status" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{docker_status_log}}</pre></div>
            <div class="divider"></div>

            <div class="settings_block_subheader">Docker Image Build Status</div>
            <div class="settings_block_subheader_status">
                <div class="settings_block_subheader_status_icon {{ docker_image_build_status_color }}"></div>
                {{ docker_image_build_status }}
            </div>
            <button id="show_docker_image_build_status" class="ui-button ui-widget ui-corner-all settings_button_small">Show</button>
            <div id="docker_image_build_status" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{docker_image_build_status_log}}</pre></div>
            <div class="divider"></div>

            <div class="settings_block_subheader">Dojo Status</div>
            <div class="settings_block_subheader_status">
                <div class="settings_block_subheader_status_icon {{ dojo_status_color }}"></div>
                {{ dojo_status }}
            </div>
            <button id="show_dojo_status" class="ui-button ui-widget ui-corner-all settings_button_small">Show</button>
            <div id="dojo_status" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{dojo_status_log}}</pre></div>
            <div class="divider"></div>

            <div class="settings_block_subheader">BTCPay Server Status</div>
            <div class="settings_block_subheader_status">
                <div class="settings_block_subheader_status_icon {{ btcpayserver_status_color }}"></div>
                {{ btcpayserver_status }}
            </div>
            <button id="show_btcpayserver_status" class="ui-button ui-widget ui-corner-all settings_button_small">Show</button>
            <div id="btcpayserver_status" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{btcpayserver_status_log}}</pre></div>
            <div class="divider"></div>

            <div class="settings_block_subheader">Mempool Status</div>
            <div class="settings_block_subheader_status">
                <div class="settings_block_subheader_status_icon {{ mempoolspace_status_color }}"></div>
                {{ mempoolspace_status }}
            </div>
            <button id="show_mempoolspace_status" class="ui-button ui-widget ui-corner-all settings_button_small">Show</button>
            <div id="mempoolspace_status" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{mempoolspace_status_log}}</pre></div>
            <div class="divider"></div>

            {% endif %}

            <div class="settings_block_subheader">Firewall Status</div>
            <div class="settings_block_subheader_status">
                <div class="settings_block_subheader_status_icon {{ firewall_status_color }}"></div>
                {{ firewall_status }}
            </div>
            <button id="show_firewall_status" class="ui-button ui-widget ui-corner-all settings_button_small">Show</button>
            <div id="firewall_status" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{firewall_status_log}}</pre></div>


        </div>

        <div class="settings_block">
            <div class="settings_block_header">User Interface</div>

            <div class="settings_block_subheader">Dark Mode</div>
            This will enable or disable dark mode in the user interface.
            <br/>
            {% if ui_settings['darkmode'] %}
                <a href="/settings/toggle-darkmode" class="ui-button ui-widget ui-corner-all settings_button">Disable</a>
            {% else %}
                <a href="/settings/toggle-darkmode" class="ui-button ui-widget ui-corner-all settings_button">Enable</a>
            {% endif %}

        </div>


        <div class="settings_block">
            <div class="settings_block_header">Device</div>

            <div class="settings_block_subheader">Reboot Device</div>
            This will reboot your myNode.
            <br/>
            <button id="reboot-device" class="ui-button ui-widget ui-corner-all settings_button">Reboot Device</button>
            
            <div class="divider"></div>

            <div class="settings_block_subheader">Shutdown Device</div>
            This will shutdown your myNode. You will need to power cycle the device to turn it back on.
            <br/>
            <button id="shutdown-device" class="ui-button ui-widget ui-corner-all settings_button">Shutdown Device</button>

            <div class="divider"></div>

            <div class="settings_block_subheader">Download Debug Logs</div>
            This will download all recent logs from your myNode. This can be helpful for debugging issues.
            <br/>
            It may take about one minute to gather and download the logs.
            <br/>
            Do not share these logs in a public place. They may contain sensitive information.
            <br/>
            <a href="/settings/mynode_logs.tar.gz" class="ui-button ui-widget ui-corner-all settings_button">Download Logs</a>
        </div>


        <div class="settings_block">
            <div class="settings_block_header">Firewall</div>

            <div class="settings_block_subheader">Rules</div>
            Show the current firewall configuration.
            <br/>
            <button id="show_firewall_rules" class="ui-button ui-widget ui-corner-all settings_button">Show</button>
            <div id="firewall_rules" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{firewall_rules}}</pre></div>
            
            <div class="divider"></div>

            <div class="settings_block_subheader">Reset</div>
            Resetting the firewall will disable and reenable the firewall and then reboot the device.
            <br/>
            <a href="/settings/reset-firewall" class="ui-button ui-widget ui-corner-all settings_button">Reset Firewall</a>

        </div>


        <div class="settings_block">
            <div class="settings_block_header">QuickSync</div>

            <div class="settings_block_subheader">Toggle QuickSync</div>
            Disabling QuickSync will remove the QuickSync files and stop the process. 
            <br/>
            This may take a long time if Bitcoin is not already synced, but you can reenable QuickSync later.
            <br/>
            {% if is_quicksync_disabled %}
            <a href="/settings/toggle-quicksync" class="ui-button ui-widget ui-corner-all settings_button">Enable QuickSync</a>
            {% else %}
            <a href="/settings/toggle-quicksync" class="ui-button ui-widget ui-corner-all settings_button">Disable QuickSync</a>
            {% endif %}

            {% if not is_quicksync_disabled %}
            <div class="divider"></div>

            <div class="settings_block_subheader">Restart QuickSync</div>
            This will reset Bitcoin and redownload the blockchain via QuickSync.
            <br/>
            <button id="restart-quicksync" class="ui-button ui-widget ui-corner-all settings_button">Restart QuickSync</button>

            <div class="divider"></div>

            <div class="settings_block_subheader">QuickSync Rates</div>
            You can control the background upload and download rates for QuickSync. This helps the myNode network.
            <br/>

            <form action="/settings/quicksync_rates" method="POST">
                <p><b>Download Rate</b></p>
                <div id="download-slider">
                    <div id="download-handle" class="quicksync-handle ui-slider-handle "></div>
                </div>
                <input type="hidden" id="download-rate" name="download-rate"/>

                <p><b>Upload Rate</b></p>
                <div id="upload-slider">
                    <div id="upload-handle" class="quicksync-handle ui-slider-handle"></div>
                </div>
                <input type="hidden" id="upload-rate" name="upload-rate"/>
                
                <br/>
                <input type="submit" id="quicksync_rates_submit" value="Save" class="ui-button ui-widget ui-corner-all settings_button"/>
            </form>
            {% endif %}
        </div>


        <div class="settings_block">
            <div class="settings_block_header">Bitcoin</div>

            <div class="settings_block_subheader">Reset Blockchain</div>
            If Bitcoin is having issues, you can reset the blockchain data.
            <br/>
            If QuickSync is enabled, it will use QuickSync data as the starting point.
            <br/>
            Otherwise, Bitcoin will sync from scratch. This may take a long time.
            <br/>
            <button id="reset-blockchain" class="ui-button ui-widget ui-corner-all settings_button">Reset Blockchain</button>

            <div class="divider"></div>

            <div class="settings_block_subheader">Rescan Blockchain</div>
            Advanced: If you are having issues parsing the Bitcoin blockchain or blocks cannot be found, please try rescanning.
            <br/>
            <button id="rescan-blockchain" class="ui-button ui-widget ui-corner-all settings_button">Rescan Blockchain</button>

            <div class="divider"></div>

            <div class="settings_block_subheader">Reindex Blockchain</div>
            Advanced: If you are having issues parsing the Bitcoin blockchain or blocks cannot be found, please try reindexing. 
            <br/>
            This will take a long time.
            <br/>
            <button id="reindex-blockchain" class="ui-button ui-widget ui-corner-all settings_button">Reindex Blockchain</button>
        </div>


        <div class="settings_block">
            <div class="settings_block_header">Lightning</div>
            
            <div class="settings_block_subheader">Delete Lightning Wallet</div>
            {{lnd_delete_message}}
            Advanced: This will delete your Lightning Wallet.
            <br/>
            <button id="delete_lnd_wallet" class="ui-button ui-widget ui-corner-all settings_button">Delete Wallet</button>
        </div>


        <div class="settings_block">
            <div class="settings_block_header">Electrum Server</div>
            
            <div class="settings_block_subheader">Reset Electrum Server</div>
            Advanced: This will delete your Electrum Server data and reboot your device.
            <br/>
            <a href="/settings/reset-electrs" class="ui-button ui-widget ui-corner-all settings_button">Reset Data</a>

            <div class="divider"></div>

            <div class="settings_block_subheader">Reset Electrum Server Certificates</div>
            This will regenerate your Electrum Server certificates.
            <br/>
            <a href="/settings/regen-electrs-certs" class="ui-button ui-widget ui-corner-all settings_button">Regenerate</a>

        </div>


        <div class="settings_block">
            <div class="settings_block_header">Tor</div>

            <div class="settings_block_subheader">Bitcoin and Lightning Tor</div>
            You can use Tor for Bitcoin and Lightning to increase privacy. However, it can slow down block download, 
            especially during IBD. If you have customized your Bitcoin or LND config, this setting has no effect.
            <br/><br/>
            Saving will trigger a reboot.
            <br/><br/>
            <label class="switch">
                <input type="checkbox" id="btc_lnd_tor_checkbox" {% if is_btc_lnd_tor_enabled %}checked{% endif %}>
                <span class="slider round"></span>
            </label>
            <br/><br/>
            <button id="btc_lnd_tor" style="display: none;" class="ui-button ui-widget ui-corner-all settings_button_small">Save</button>

            <div class="divider"></div>
            
            <div class="settings_block_subheader">Reset Tor</div>
            This will reset all of your Tor service settings and regenerate your Onion URLs.
            <br/>
            <button id="reset_tor" class="ui-button ui-widget ui-corner-all settings_button">Reset Tor</button>

        </div>

        <div class="settings_block">
            <div class="settings_block_header">Services</div>
            
            <div class="settings_block_subheader">Netdata</div>
            This will enable or disable Netdata device monitoring.
            <br/>
            {% if is_netdata_enabled %}
                <a href="/settings/toggle-netdata" class="ui-button ui-widget ui-corner-all settings_button">Disable</a>
            {% else %}
                <a href="/settings/toggle-netdata" class="ui-button ui-widget ui-corner-all settings_button">Enable</a>
            {% endif %}

        </div>

        <div class="settings_block">
            <div class="settings_block_header">Advanced</div>

            <div class="settings_block_subheader">Reset HTTP Certificates</div>
            This will regenerate your HTTPS certificates.
            <br/>
            <a href="/settings/regen-https-certs" class="ui-button ui-widget ui-corner-all settings_button">Regenerate</a>

            <div class="divider"></div>

            <div class="settings_block_subheader">Reinstall Applications</div>
            If you are having issues with a specific application, you can try to reinstall them via the list below.
            <br/>
            Reinstalling an app will trigger a reboot of your device.
            <br/><br/>

            <select name="reinstall_app" id="reinstall_app">
                <option value="none" selected="selected">Choose...</option>
                <option value="bitcoin">Bitcoin</option>
                <option value="lnd">LND</option>
                <option value="btcrpcexplorer">BTC RPC Explorer</option>
                <option value="dojo">Dojo</option>
                <option value="joinmarket">JoinMarket</option>
                <option value="loopd">Lightning Loop</option>
                <option value="webssh2">Linux Terminal</option>
                <option value="lndconnect">LND Connect</option>				
                <option value="lndhub">LNDHub</option>
                <option value="mempoolspace">Mempool</option>	
                <option value="netdata">Netdata</option>				
                <option value="rtl">RTL</option>
                <option value="tor">Tor</option>
                <option value="ufw">UFW</option>
                <option value="whirlpool">Whirlpool</option>

            </select>
            <button id="reinstall_button">Reinstall</button>
            
            <div class="divider"></div>

            <div class="settings_block_subheader">Factory Reset</div>
            This will factory reset your mynode and all storage will be completely reset.
            <br/>
            Make sure you have backed up all your keys and wallets!
            <br/>
            <button id="factory-reset" class="ui-button ui-widget ui-corner-all settings_button">Factory Reset</button>
        </div>


        <div class="settings_block">
            <div class="settings_block_header">Developer</div>

            {% if not product_key_skipped %}
                <div class="settings_block_subheader">Reinstall Latest Version</div>
                If you are running a beta or are having issues, it may be helpful to reinstall the latest official release.
                <br/>
                <button id="upgrade" class="ui-button ui-widget ui-corner-all settings_button">Install Latest Version</button>

                <div class="divider"></div>
            {% endif %}

            {% if not product_key_skipped %}
                <div class="settings_block_subheader">Install Beta</div>
                You can install beta releases of myNode software to help test. These may be less stable.
                <br/><br/>
                <table border="0">
                    <tr>
                        <td>Current Beta Version</td>
                        <td>{{current_beta_version}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Latest Beta Version</td>
                        <td>{{latest_beta_version}}</td>
                        <td>&nbsp;<a href="/settings/get-latest-version" class="ui-button ui-widget ui-corner-all settings_button_small">Check for Updates</a></td>
                    </tr>
                </table>
                {% if current_beta_version != latest_beta_version and latest_beta_version != "" %}
                    <button id="upgrade-beta" class="ui-button ui-widget ui-corner-all settings_button">Install Beta</button>
                    {% if product_key_skipped %}
                        <p>Upgrade to myNode Premium to get one-click updates!</p>
                        <p>For manual upgrades, see our <a target="_blank" href="https://mynodebtc.com/guide/upgrading_your_device">upgrade guide</a>!</p>
                    {% endif %}
                {% elif upgrade_error %}
                    <p style="color: red;">It appears a recent upgrade may not have fully completed.</p>
                    <button id="upgrade" class="ui-button ui-widget ui-corner-all settings_button">Retry Upgrade</button>
                    <button id="show_upgrade_status_beta" class="ui-button ui-widget ui-corner-all settings_button">Show Upgrade Logs</button>
                    <div id="upgrade_status_beta" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{upgrade_logs}}</pre></div>
                {% endif %}

                <div class="divider"></div>
            {% endif %}

            <div class="settings_block_subheader">Uploader Device</div>
            This disables most features and prioritize sharing QuickSync files. It can be reversed later.
            <br/>
            {% if is_uploader_device %}
            <a href="/settings/toggle-uploader" class="ui-button ui-widget ui-corner-all settings_button">Disable Uploader Device</a>
            {% else %}
            <a href="/settings/toggle-uploader" class="ui-button ui-widget ui-corner-all settings_button">Enable Uploader Device</a>
            {% endif %}
        </div>



        <div id="confirm-dialog"></div>

        <div id="upgrade-changelog-info"></div>

        <div id="delete-lnd-wallet-dialog" title="Delete Wallet" style="display:none;">
            <form id="delete_lnd_wallet_form" name="delete_lnd_wallet_form" action="/settings/delete-lnd-wallet" method="POST">
                <p class="red_text">Attention! This will delete your wallet and all remaining bitcoin!</p>
                <p>Please ensure you have closed all channels and withdrawn all bitcoin. If you still want to delete your wallet,
                    enter the admin password for your myNode.</p>
                <p>This will restart your device.</p>
                <p>myNode is not responsible for any lost assets.</p>
                <b>Password:</b>
                <br/>
                <input type="password" name="password_lnd_delete" id="password_lnd_delete" value="" class="text ui-widget-content ui-corner-all">
            
                <!-- Allow form submission with keyboard without duplicating the dialog button -->
                <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
            </form>
        </div>

        <div id="reset-tor-dialog" title="Reset Tor" style="display:none;">
            <form id="reset_tor_form" name="reset_tor_form" action="/settings/reset-tor" method="POST">
                <p>This will reset all your Tor services. After rebooting, they will get new IDs and certificates.</p>
                <p>This will reboot your device.</p>   
                <b>Password:</b>
                <br/>
                <input type="password" name="password_reset_tor" id="password_reset_tor" value="" class="text ui-widget-content ui-corner-all">
            
                <!-- Allow form submission with keyboard without duplicating the dialog button -->
                <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
            </form>
        </div>

        <div id="factory-reset-dialog" title="Factory Reset" style="display:none;">
            <form id="factory_reset_form" name="factory_reset_form" action="/settings/factory-reset" method="POST">
                <p>Factory reset will revert your device and all storage to the initial state.</p>
                <p class='red_text'>BACKUP ALL KEYS AND WALLETS BEFORE RESETTING YOUR DEVICE!</p>
                <p>This will reboot your device.</p>
                <p>Would you still like to reset your device?</p>
                <b>Password:</b>
                <br/>
                <input type="password" name="password_factory_reset" id="password_factory_reset" value="" class="text ui-widget-content ui-corner-all">
            
                <!-- Allow form submission with keyboard without duplicating the dialog button -->
                <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
            </form>
        </div>

        {% include 'includes/footer.html' %}
     </body>
</html>
