<!DOCTYPE html lang="en">
    <head>
        <title>{{ title }}</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        {% include 'includes/head.html' %}

        <script>
            $(document).ready(function() {

                $("#upgrade").on("click", function() {
                    // Enable electrs
                    var okFunction = function() {
                        window.location.href="/settings/upgrade"
                    }
                    openConfirmDialog("confirm-dialog", 
                                      "Upgrade myNode",
                                      "<p>This will upgrade your myNode to the latest version and reboot your device.</p>" +
                                      "<p>Would you still like to upgrade your device?</p>",
                                      okFunction)
                });
                $("#upgrade-beta").on("click", function() {
                    // Enable electrs
                    var okFunction = function() {
                        window.location.href="/settings/upgrade-beta"
                    }
                    openConfirmDialog("confirm-dialog", 
                                      "Upgrade myNode",
                                      "<p>This will upgrade your myNode to the latest beta version and reboot your device.</p>" +
                                      "<p>Would you still like to upgrade your device?</p>",
                                      okFunction)
                });

                function deleteLndWallet() {
                    $("#delete_lnd_wallet_form").submit();
                    delete_lnd_wallet_dialog.dialog( "close" );
                }

                delete_lnd_wallet_dialog = $( "#delete-lnd-wallet-dialog" ).dialog({
                    autoOpen: false,
                    resizable: false,
                    height: "auto",
                    width: 600,
                    modal: true,
                    position: { my: "center top", at: "center top", of: window, collision: "none" },
                    buttons: {
                        "Delete Wallet": deleteLndWallet,
                        Cancel: function() {
                            delete_lnd_wallet_dialog.dialog( "close" );
                        }
                    },
                    open: function() {
                        $("#password_lnd_delete").val("")
                    }
                });

                $("#delete_lnd_wallet").on("click", function() {
                    delete_lnd_wallet_dialog.dialog( "open" );
                });


                function resetTor() {
                    $("#reset_tor_form").submit();
                    reset_tor_dialog.dialog( "close" );
                }
                reset_tor_dialog = $( "#reset-tor-dialog" ).dialog({
                    autoOpen: false,
                    resizable: false,
                    height: "auto",
                    width: 600,
                    modal: true,
                    position: { my: "center top", at: "center top", of: window, collision: "none" },
                    buttons: {
                        "Reset Tor": resetTor,
                        Cancel: function() {
                            reset_tor_dialog.dialog( "close" );
                        }
                    },
                    open: function() {
                        $("#password_reset_tor").val("")
                    }
                });
                $("#reset_tor").on("click", function() {
                    reset_tor_dialog.dialog( "open" );
                });



                $("#reset-blockchain").on("click", function() {
                    // Enable electrs
                    var okFunction = function() {
                        window.location.href="/settings/reset-blockchain"
                    }
                    openConfirmDialog("confirm-dialog",
                                      "Reset Bitcoin Blockchain",
                                      "Resetting the blockchain will restart bitcoind from scratch or from QuickSync, " +
                                      "depending on your settings. This may take a long time. "+
                                      "Would you still like to reset the bitcoin blockchain?",
                                      okFunction)
                });

                $("#restart-quicksync").on("click", function() {
                    // Enable electrs
                    var okFunction = function() {
                        window.location.href="/settings/restart-quicksync"
                    }
                    openConfirmDialog("confirm-dialog",
                                      "Reset QuickSync",
                                      "<p>Restarting QuickSync will delete all current bitcoind blockchain data and redownload " +
                                      "the pre-synced blockchain. This will take a while.</p>"+
                                      "<p>Would you still like to restart QuickSync?</p>",
                                      okFunction)
                });

                $("#reboot-device").on("click", function() {
                    // Enable electrs
                    var okFunction = function() {
                        window.location.href="/settings/reboot-device"
                    }
                    openConfirmDialog("confirm-dialog",
                                      "Reboot Device",
                                      "Are you sure you want to reboot your device?",
                                      okFunction)
                });

                $("#shutdown-device").on("click", function() {
                    // Enable electrs
                    var okFunction = function() {
                        window.location.href="/settings/shutdown-device"
                    }
                    openConfirmDialog("confirm-dialog",
                                      "Shutdown Device",
                                      "Are you sure you want to shutdown your device?",
                                      okFunction)
                });

                $("#reindex-blockchain").on("click", function() {
                    // Enable electrs
                    var okFunction = function() {
                        window.location.href="/settings/reindex-blockchain"
                    }
                    openConfirmDialog("confirm-dialog",
                                      "Reindex Bitcoin Blockchain",
                                      "Reindexing may take a VERY LONG time. "+
                                      "Would you still like to reindex the bitcoin blockchain?",
                                      okFunction)
                });

                $("#rescan-blockchain").on("click", function() {
                    // Enable electrs
                    var okFunction = function() {
                        window.location.href="/settings/rescan-blockchain"
                    }
                    openConfirmDialog("confirm-dialog",
                                      "Rescan Bitcoin Blockchain",
                                      "This will take a few hours. " +
                                      "Would you still like to rescan the bitcoin blockchain?",
                                      okFunction)
                });

                function factoryReset() {
                    $("#factory_reset_form").submit();
                    factory_reset_dialog.dialog( "close" );
                }

                factory_reset_dialog = $( "#factory-reset-dialog" ).dialog({
                    autoOpen: false,
                    resizable: false,
                    height: "auto",
                    width: 600,
                    modal: true,
                    position: { my: "center top", at: "center top", of: window, collision: "none" },
                    buttons: {
                        "Reset Device": factoryReset,
                        Cancel: function() {
                            factory_reset_dialog.dialog( "close" );
                        }
                    },
                    open: function() {
                        $("#password_factory_reset").val("")
                    }
                });

                $("#factory-reset").on("click", function() {
                    factory_reset_dialog.dialog( "open" );
                });

                $("#show_upgrade_status").on("click", function() {
                    $("#show_upgrade_status").hide(0);
                    $("#upgrade_status").show();
                });

                $("#show_upgrade_status_beta").on("click", function() {
                    $("#show_upgrade_status_beta").hide(0);
                    $("#upgrade_status_beta").show();
                });

                $("#show_firewall_status").on("click", function() {
                    $("#show_firewall_status").hide(0);
                    $("#firewall_status").show();
                });

                $("#show_firewall_rules").on("click", function() {
                    $("#show_firewall_rules").hide(0);
                    $("#firewall_rules").show();
                });

                $("#show_product_key").on("click", function() {
                    $("#show_product_key").hide(0);
                    $("#product_key").show();
                });

                $("#upgrade_changelog").on("click", function() {
                    $.get("https://raw.githubusercontent.com/mynodebtc/mynode/master/CHANGELOG")
                        .done(function( data ) {
                            var parts = data.split("=== v{{current_version}} ===");
                            var changes = parts[0];
                            parts = changes.split("=== v{{latest_version}} ===")
                            if (parts.length > 1) {
                                changes = "=== v{{latest_version}} ===" + parts[1];
                            }

                            changes = "<pre style='font-size: 10px;'>"+changes+"</pre>";
                            openInfoDialog("upgrade-changelog-info",
                                    "Recent Changes",
                                    changes);
                        }
                    );
                });

                $("#glances").on("click", function() {
                    url = 'http://'+location.hostname+':61208'
                    window.open(url,'_blank');
                })

                $("#netdata").on("click", function() {
                    url = 'http://'+location.hostname+':19999'
                    window.open(url,'_blank');
                })

                $("#linux_terminal").on("click", function() {
                    url = 'http://'+location.hostname+':2222/ssh/host/'+"{{local_ip}}"
                    window.open(url,'_blank');
                })

                $( function() {
                    var downloadHandle = $( "#download-handle" );
                    var uploadHandle = $( "#upload-handle" );
                    $( "#download-slider" ).slider({
                        value: {{download_rate}} / 100,
                        orientation: "horizontal",
                        range: "min",
                        animate: true,
                        create: function() {
                            rate = parseInt($( this ).slider( "value" ) * 100)
                            text = rate + " kbps"
                            downloadHandle.text(text);
                            $('#download-rate').val(rate);
                        },
                        slide: function( event, ui ) {
                            rate = parseInt(ui.value * 100)
                            text = rate + " kbps"
                            downloadHandle.text( text );
                            $('#download-rate').val(rate);
                        }
                    });
                    $( "#upload-slider" ).slider({
                        value: {{upload_rate}} / 100,
                        orientation: "horizontal",
                        range: "min",
                        animate: true,
                        create: function() {
                            rate = parseInt($( this ).slider( "value" ) * 100)
                            text = rate + " kbps"
                            uploadHandle.text(text);
                            $('#upload-rate').val(rate);
                        },
                        slide: function( event, ui ) {
                            rate = parseInt(ui.value * 100)
                            text = rate + " kbps"
                            uploadHandle.text( text );
                            $('#upload-rate').val(rate);
                        }
                    });
                } );

                {% if product_key_skipped %}
                $( "#upgrade" ).button({
                    disabled: true
                });
                {% endif %}

                var reinstall_app_choice="";
                $("#reinstall_app").selectmenu( {
                    change: function( event, data ) {
                        reinstall_app_choice = data.item.value;
                        if (data.item.value == "none")
                        {
                            $("#reinstall_button").button("disable");
                        }
                        else
                        {
                            $("#reinstall_button").button("enable");
                        }
                    }
                });
                
                $("#reinstall_button").button({
                    disabled: true
                });
                $("#reinstall_button").on("click", function() {
                    window.location.href='/settings/reinstall-app?app='+reinstall_app_choice
                });

                $('#btc_lnd_tor_checkbox').change(function () {
                    $("#btc_lnd_tor").show();
                });
                $("#btc_lnd_tor").on("click", function() {
                    enabled=$('#btc_lnd_tor_checkbox').is(":checked")
                    if (enabled)
                    {
                        window.location.href='/settings/enable_btc_lnd_tor?enable=1'
                    }
                    else
                    {
                        window.location.href='/settings/enable_btc_lnd_tor?enable=0'
                    }
                });
            });
        </script>
     </head>

    <body>
        {% include 'includes/logo_header.html' %}
        <div class="mynode_back_div">
            <a class="ui-button ui-widget ui-corner-all mynode_back" href="/"><span class="ui-icon ui-icon-home"></span>home&nbsp;</a>
        </div>

        <div class="main_header">Settings</div>

        {% include 'includes/message_display.html' %}

        <br/>
        <div class="settings_block" id="overview-block">
            <div class="settings_block_header">Overview</div>
            <div class="settings_block_subheader">Info</div>
            <table class="table table-borderless table-sm">
                <tr>
                    <td>Serial Number</td>
                    <td>{{serial_number}}</td>
                </tr>
                <tr>
                    <td>Product Key</td>
                    <td>
                    {% if product_key_skipped %}
                    {{product_key}}
                    &nbsp;<a href="/product-key" class="ui-button ui-widget ui-corner-all settings_button_small">Enter Product Key</a>
                    {% else %}
                    <button id="show_product_key" class="ui-button ui-widget ui-corner-all settings_button_small">Show</button>
                    <div id="product_key" style="display: none;">{{product_key}}</div>
                    {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Device Type</td>
                    <td>{{device_type}}</td>
                </tr>
                <tr>
                    <td>Local IP</td>
                    <td>{{local_ip}}</td>
                </tr>
            </table>

            <nav><div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-status-tab" data-toggle="tab" href="#nav-status" role="tab" aria-controls="nav-status" aria-selected="true">Status</a>
                <a class="nav-item nav-link" id="nav-version-tab" data-toggle="tab" href="#nav-version" role="tab" aria-controls="nav-version" aria-selected="false">Version</a>
                <a class="nav-item nav-link" id="nav-changelog-tab" data-toggle="tab" href="#nav-changelog" role="tab" aria-controls="nav-changelog" aria-selected="false">Change log</a>
                <a class="nav-item nav-link" id="nav-changepasswd-tab" data-toggle="tab" href="#nav-changepasswd" role="tab" aria-controls="nav-changepasswd" aria-selected="false">Change password</a>
                <a class="nav-item nav-link" id="nav-debuglog-tab" data-toggle="tab" href="#nav-debuglog" role="tab" aria-controls="nav-debuglog" aria-selected="false">Debug log</a>
                <a class="nav-item nav-link" id="nav-darkmode-tab" data-toggle="tab" href="#nav-darkmode" role="tab" aria-controls="nav-darkmode" aria-selected="false">Dark mode</a>
                <a class="nav-item nav-link" id="nav-power-tab" data-toggle="tab" href="#nav-power" role="tab" aria-controls="nav-power" aria-selected="false">Power</a>
            </div></nav>
            
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-status" role="tabpanel" aria-labelledby="nav-status-tab">
                    <table class="table table-borderless table-sm">
                        <tr>
                            <td>Details</td>
                            <td>
                                {% if is_netdata_enabled %}
                                <a id="netdata" class="ui-button ui-widget ui-corner-all settings_button_small" href="#">Open Netdata</a>
                                {% endif %}
                                <a id="glances" class="ui-button ui-widget ui-corner-all settings_button_small" href="#">Open glances</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Manage</td>
                            <td>
                                <a id="linux_terminal" class="ui-button ui-widget ui-corner-all settings_button_small" href="#">Linux Terminal</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Disk Usage</td>
                            <td>{{drive_usage}}</td>
                        </tr>
                        <tr>
                            <td>CPU</td>
                            <td>{{cpu_usage}}</td>
                        </tr>
                        <tr>
                            <td>RAM</td>
                            <td>{{ram_usage}}</td>
                        </tr>
                        {% if device_temp != '...' %}
                        <tr>
                            <td>Temperature</td>
                            <td>{{device_temp}} &deg;C</td>
                        </tr>
                        {% endif %}
                        <tr>
                            <td>Uptime</td>
                            <td>{{uptime}}</td>
                        </tr>
                        <tr>
                            <td>Date</td>
                            <td>{{date}}</td>
                        </tr>
                    </table>
                </div>
                <div class="tab-pane fade" id="nav-version" role="tabpanel" aria-labelledby="nav-version-tab">
                    <table class="table table-borderless table-sm">
                        <tr>
                            <td>Current Version</td>
                            <td>{{current_version}}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Latest Version</td>
                            <td>{{latest_version}}</td>
                            <td>&nbsp;<a href="/settings/get-latest-version" class="ui-button ui-widget ui-corner-all settings_button_small">Check for Updates</a></td>
                        </tr>
                    </table>
                    {% if current_version != latest_version and latest_version != "" %}
                    <button id="upgrade" class="ui-button ui-widget ui-corner-all settings_button">Upgrade</button>
                    <button id="upgrade_changelog" class="ui-button ui-widget ui-corner-all settings_button">See Changes</button>
                        {% if product_key_skipped %}
                        <p>Upgrade to myNode Premium to get one-click updates!</p>
                        <p>For manual upgrades, see our <a target="_blank" href="https://mynodebtc.com/guide/upgrading_your_device">upgrade guide</a>!</p>
                        {% endif %}
                    {% elif not product_key_skipped and upgrade_error %}
                    <p style="color: red;">It appears a recent upgrade may not have fully completed.</p>
                    <button id="upgrade" class="ui-button ui-widget ui-corner-all settings_button">Retry Upgrade</button>
                    <button id="show_upgrade_status" class="ui-button ui-widget ui-corner-all settings_button">Show Upgrade Logs</button>
                    <div id="upgrade_status" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{upgrade_logs}}</pre></div>
                    {% endif %}
                </div>
                <div class="tab-pane fade" id="nav-changelog" role="tabpanel" aria-labelledby="nav-changelog-tab">
                    <div class="log"><pre>{{changelog}}</pre></div>
                </div>
                <div class="tab-pane fade" id="nav-changepasswd" role="tabpanel" aria-labelledby="nav-changepasswd-tab">
                    {{password_message}}
                    This will change the password you use in the myNode GUI, the password for SSH, and the password for apps like RTL.
                    <br/><br/>
                    <form action="/settings/password" method="POST">
                        <table class="table table-borderless table-sm">
                            <tr>
                                <td>Current Password</td>
                                <td><input type="password" id="current_password" name="current_password" width="20" class="ui-corner-all settings_input"/></td>
                            </tr>
                            <tr>
                                <td>Password</td>
                                <td><input type="password" id="password1" name="password1" width="20" class="ui-corner-all settings_input"/></td>
                            </tr>
                            <tr>
                                <td>Repeat Password</td>
                                <td><input type="password" id="password2" name="password2" width="20" class="ui-corner-all settings_input"/></td>
                            </tr>
                        </table>
                        <input type="submit" id="password_submit" value="Change Password" class="ui-button ui-widget ui-corner-all settings_button"/>
                    </form>
                </div>
                <div class="tab-pane fade" id="nav-power" role="tabpanel" aria-labelledby="nav-power-tab">
                    <p>
                        This will reboot your myNode.
                        <button id="reboot-device" class="btn btn-outline-warning btn-sm">Reboot Device</button>
                    </p>
                    <p>
                        This will shutdown your myNode. You will need to power cycle the device to turn it back on.
                        <button id="shutdown-device" class="btn btn-outline-danger btn-sm">Shutdown</button>
                    </p>
                </div>
                <div class="tab-pane fade" id="nav-debuglog" role="tabpanel" aria-labelledby="nav-debuglog-tab">
                    This will download all recent logs from your myNode. This can be helpful for debugging issues.
                    <br/>
                    It may take ~60 seconds to gather and download the logs.
                    <br/>
                    Do not share these logs in a public place. They may contain sensitive information.
                    <br/>
                    <a href="/settings/mynode_logs.tar.gz" class="ui-button ui-widget ui-corner-all settings_button">Download Logs</a>
                </div>
                <div class="tab-pane fade" id="nav-darkmode" role="tabpanel" aria-labelledby="nav-darkmode-tab">
                    <!-- <div class="settings_block_subheader">Dark Mode</div> -->
                    This will enable or disable dark mode in the user interface.
                    <br/>
                    {% if ui_settings['darkmode'] %}
                        <a href="/settings/toggle-darkmode" class="ui-button ui-widget ui-corner-all settings_button">Disable</a>
                    {% else %}
                        <a href="/settings/toggle-darkmode" class="ui-button ui-widget ui-corner-all settings_button">Enable</a>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="settings_block" id="core-block">
            <div class="settings_block_header">Core Apps</div>
            
            <nav><div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-mynode-tab" data-toggle="tab" href="#nav-mynode" role="tab" aria-controls="nav-mynode" aria-selected="true">
                    myNode
                    <div class="settings_block_subheader_status_icon {{ startup_status_color }}"></div>
                </a>
                <a class="nav-item nav-link" id="nav-quicksync-tab" data-toggle="tab" href="#nav-quicksync" role="tab" aria-controls="nav-quicksync" aria-selected="false">
                    QuickSync
                    <div class="settings_block_subheader_status_icon {{ quicksync_status_color }}"></div>
                </a>
                <a class="nav-item nav-link" id="nav-tor-tab" data-toggle="tab" href="#nav-tor" role="tab" aria-controls="nav-tor" aria-selected="false">
                    Tor
                    <div class="settings_block_subheader_status_icon {{ tor_status_color }}"></div>
                </a>
                <a class="nav-item nav-link" id="nav-firewall-tab" data-toggle="tab" href="#nav-firewall" role="tab" aria-controls="nav-firewall" aria-selected="false">
                    Firewall
                    <div class="settings_block_subheader_status_icon {{ firewall_status_color }}"></div>
                </a>
                <a class="nav-item nav-link" id="nav-bitcoin-tab" data-toggle="tab" href="#nav-bitcoin" role="tab" aria-controls="nav-bitcoin" aria-selected="false">
                    Bitcoin
                    <div class="settings_block_subheader_status_icon {{ bitcoin_status_color }}"></div>
                </a>
                {% if is_bitcoin_synced %}
                <a class="nav-item nav-link" id="nav-lnd-tab" data-toggle="tab" href="#nav-lnd" role="tab" aria-controls="nav-lnd" aria-selected="false">
                    LND
                    <div class="settings_block_subheader_status_icon {{ lnd_status_color }}"></div>
                </a>
                <a class="nav-item nav-link" id="nav-electrs-tab" data-toggle="tab" href="#nav-electrs" role="tab" aria-controls="nav-electrs" aria-selected="false">
                    Electrum
                    <div class="settings_block_subheader_status_icon {{ electrs_status_color }}"></div>
                </a>
                {% endif %}
            </div></nav>

            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-mynode" role="tabpanel" aria-labelledby="nav-mynode-tab">
                    <div class="settings_block_subheader">myNode Startup Status</div>
                    <div class="log"><pre>{{startup_status_log}}</pre></div>
                </div>
                    
                <div class="tab-pane fade" id="nav-quicksync" role="tabpanel" aria-labelledby="nav-quicksync-tab">
                    <div class="settings_block_subheader">QuickSync Status</div>
                    <div class="log"><pre>{{quicksync_status_log}}</pre></div>
                    
                    <div class="divider"></div>
                    
                    <div class="settings_block_subheader">Toggle QuickSync</div>
                    Disabling QuickSync will remove the QuickSync files and stop the process. 
                    <br/>
                    This may take a long time if Bitcoin is not already synced, but you can reenable QuickSync later.
                    <br/>
                    {% if is_quicksync_disabled %}
                    <a href="/settings/toggle-quicksync" class="ui-button ui-widget ui-corner-all settings_button">Enable QuickSync</a>
                    {% else %}
                    <a href="/settings/toggle-quicksync" class="ui-button ui-widget ui-corner-all settings_button">Disable QuickSync</a>
                    {% endif %}

                    {% if not is_quicksync_disabled %}
                    <div class="divider"></div>

                    <div class="settings_block_subheader">Restart QuickSync</div>
                    This will reset Bitcoin and redownload the blockchain via QuickSync.
                    <br/>
                    <button id="restart-quicksync" class="ui-button ui-widget ui-corner-all settings_button">Restart QuickSync</button>

                    <div class="divider"></div>

                    <div class="settings_block_subheader">QuickSync Rates</div>
                    You can control the background upload and download rates for QuickSync. This helps the myNode network.
                    <br/>

                    <form action="/settings/quicksync_rates" method="POST">
                        <p><b>Download Rate</b></p>
                        <div id="download-slider">
                            <div id="download-handle" class="quicksync-handle ui-slider-handle "></div>
                        </div>
                        <input type="hidden" id="download-rate" name="download-rate"/>

                        <p><b>Upload Rate</b></p>
                        <div id="upload-slider">
                            <div id="upload-handle" class="quicksync-handle ui-slider-handle"></div>
                        </div>
                        <input type="hidden" id="upload-rate" name="upload-rate"/>
                        
                        <br/>
                        <input type="submit" id="quicksync_rates_submit" value="Save" class="ui-button ui-widget ui-corner-all settings_button"/>
                    </form>
                    {% endif %}
                </div>

                <div class="tab-pane fade" id="nav-tor" role="tabpanel" aria-labelledby="nav-tor-tab">
                    <div class="settings_block_subheader">Tor Status</div>
                    <div class="log"><pre>{{tor_status_log}}</pre></div>
                    <div class="divider"></div>
                    <div class="settings_block_subheader">Bitcoin and Lightning Tor</div>
                    You can use Tor for Bitcoin and Lightning to increase privacy. However, it can slow down block download, 
                    especially during IBD. If you have customized your Bitcoin or LND config, this setting has no effect.
                    <br/><br/>
                    Saving will trigger a reboot.
                    <br/><br/>
                    <label class="switch">
                        <input type="checkbox" id="btc_lnd_tor_checkbox" {% if is_btc_lnd_tor_enabled %}checked{% endif %}>
                        <span class="slider round"></span>
                    </label>
                    <br/><br/>
                    <button id="btc_lnd_tor" style="display: none;" class="ui-button ui-widget ui-corner-all settings_button_small">Save</button>

                    <div class="divider"></div>
                    
                    <div class="settings_block_subheader">Reset Tor</div>
                    This will reset all of your Tor service settings and regenerate your Onion URLs.
                    <br/>
                    <button id="reset_tor" class="ui-button ui-widget ui-corner-all settings_button">Reset Tor</button>
                </div>

                <div class="tab-pane fade" id="nav-firewall" role="tabpanel" aria-labelledby="nav-firewall-tab">
                    <div class="settings_block_subheader">Firewall Status</div>
                    <div class="log"><pre>{{firewall_status_log}}</pre></div>
                    <div class="divider"></div>

                    <div class="settings_block_subheader">Rules</div>
                    <div class="log"><pre>{{firewall_rules}}</pre></div>
                    
                    <div class="divider"></div>

                    <div class="settings_block_subheader">Reset</div>
                    <p>
                        Resetting the firewall will disable and re-enable the firewall and then reboot the device.
                        <a href="/settings/reset-firewall" class="ui-button ui-widget ui-corner-all settings_button">Reset Firewall</a>
                    </p>
                </div>

                <div class="tab-pane fade" id="nav-bitcoin" role="tabpanel" aria-labelledby="nav-bitcoin-tab">
                    <div class="settings_block_subheader">Bitcoin Status</div>
                    <div class="log"><pre>{{ bitcoin_status_log}}</pre></div>
                    <div class="divider"></div>

                    <div class="settings_block_subheader">Reset Blockchain</div>
                    If Bitcoin is having issues, you can reset the blockchain data.
                    <br/>
                    If QuickSync is enabled, it will use QuickSync data as the starting point.
                    <br/>
                    Otherwise, Bitcoin will sync from scratch. This may take a long time.
                    <br/>
                    <button id="reset-blockchain" class="btn btn-outline-danger btn-sm">Reset Blockchain</button>
                    <div class="divider"></div>

                    <div class="settings_block_subheader">Rescan Blockchain</div>
                    Advanced: If you are having issues parsing the Bitcoin blockchain or blocks cannot be found, please try rescanning.
                    <br/>
                    <button id="rescan-blockchain" class="btn btn-outline-warning btn-sm">Rescan Blockchain</button>
                    <div class="divider"></div>

                    <div class="settings_block_subheader">Reindex Blockchain</div>
                    Advanced: If you are having issues parsing the Bitcoin blockchain or blocks cannot be found, please try reindexing. 
                    <br/>
                    This will take a long time.
                    <br/>
                    <button id="reindex-blockchain" class="btn btn-outline-warning btn-sm">Reindex Blockchain</button>
                </div>

                <div class="tab-pane fade" id="nav-lnd" role="tabpanel" aria-labelledby="nav-lnd-tab">
                    <div class="settings_block_subheader">LND Status</div>
                    <div class="log"><pre>{{lnd_status_log}}</pre></div>
                    <div class="divider"></div>

                    <div class="settings_block_subheader">Delete Lightning Wallet</div>
                    {{lnd_delete_message}}
                    <p>
                        Advanced: This will delete your Lightning Wallet.
                        <button id="delete_lnd_wallet" class="btn btn-outline-danger btn-sm">Delete Wallet</button>
                    </p>
                </div>

                <div class="tab-pane fade" id="nav-electrs" role="tabpanel" aria-labelledby="nav-electrs-tab">
                    <div class="settings_block_subheader">Electrum Server Status</div>
                    <div class="log"><pre>{{electrs_status_log}}</pre></div>
                    <div class="divider"></div>
                    
                    <div class="settings_block_subheader">Reset Electrum Server</div>
                    <p>
                        Advanced: This will delete your Electrum Server data and reboot your device.
                        <a href="/settings/reset-electrs" class="ui-button ui-widget ui-corner-all settings_button">Reset Data</a>
                    </p>
                    <div class="divider"></div>

                    <div class="settings_block_subheader">Reset Electrum Server Certificates</div>
                    <p>
                        This will regenerate your Electrum Server certificates.
                        <a href="/settings/regen-electrs-certs" class="ui-button ui-widget ui-corner-all settings_button">Regenerate</a>
                    </p>
                </div>
            </div>
        </div>

        {% if is_bitcoin_synced %}
        <div class="settings_block" id="others-block">
            <div class="settings_block_header">Other Apps</div>

            <nav><div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-docker-tab" data-toggle="tab" href="#nav-docker" role="tab" aria-controls="nav-docker" aria-selected="true">
                    Docker
                </a>
                <a class="nav-item nav-link" id="nav-rtl-tab" data-toggle="tab" href="#nav-rtl" role="tab" aria-controls="nav-rtl" aria-selected="false">
                    RTL
                    <div class="settings_block_subheader_status_icon {{ rtl_status_color }}"></div>
                </a>
                <a class="nav-item nav-link" id="nav-dojo-tab" data-toggle="tab" href="#nav-dojo" role="tab" aria-controls="nav-dojo" aria-selected="false">
                    Dojo
                    <div class="settings_block_subheader_status_icon {{ dojo_status_color }}"></div>
                </a>
                <a class="nav-item nav-link" id="nav-btcpayserver-tab" data-toggle="tab" href="#nav-btcpayserver" role="tab" aria-controls="nav-btcpayserver" aria-selected="false">
                    BTCPay Server
                    <div class="settings_block_subheader_status_icon {{ btcpayserver_status_color }}"></div>
                </a>
                <a class="nav-item nav-link" id="nav-mempoolspace-tab" data-toggle="tab" href="#nav-mempoolspace" role="tab" aria-controls="nav-mempoolspace" aria-selected="false">
                    Mempool.Space
                    <div class="settings_block_subheader_status_icon {{ mempoolspace_status_color }}"></div>
                </a>
                <a class="nav-item nav-link" id="nav-netdata-tab" data-toggle="tab" href="#nav-netdata" role="tab" aria-controls="nav-netdata" aria-selected="false">
                    NetData
                </a>
            </div></nav>

            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-docker" role="tabpanel" aria-labelledby="nav-docker-tab">
                    <div class="settings_block_subheader">
                        Docker Status
                        <div class="settings_block_subheader_status_icon {{ docker_status_color }}"></div>
                    </div>
                    <div class="log"><pre>{{docker_status_log}}</pre></div>
                    <div class="divider"></div>

                    <div class="settings_block_subheader">
                        Docker Image Build Status
                        <div class="settings_block_subheader_status_icon {{ docker_image_build_status_color }}"></div>
                    </div>
                    <div class="log"><pre>{{docker_image_build_status_log}}</pre></div>
                </div>
                <div class="tab-pane fade" id="nav-rtl" role="tabpanel" aria-labelledby="nav-rtl-tab">
                    <div class="log"><pre>{{rtl_status_log}}</pre></div>
                </div>
                <div class="tab-pane fade" id="nav-dojo" role="tabpanel" aria-labelledby="nav-dojo-tab">
                    <div class="log"><pre>{{dojo_status_log}}</pre></div>
                </div>
                <div class="tab-pane fade" id="nav-btcpayserver" role="tabpanel" aria-labelledby="nav-btcpayserver-tab">
                    <div class="log" ><pre>{{btcpayserver_status_log}}</pre></div>
                </div>
                <div class="tab-pane fade" id="nav-mempoolspace" role="tabpanel" aria-labelledby="nav-mempoolspace-tab">
                    <div class="log"><pre>{{mempoolspace_status_log}}</pre></div>
                </div>
                <div class="tab-pane fade" id="nav-netdata" role="tabpanel" aria-labelledby="nav-netdata-tab">
                    <p>
                        This will enable or disable Netdata device monitoring.
                        {% if is_netdata_enabled %}
                        <a href="/settings/toggle-netdata" class="ui-button ui-widget ui-corner-all settings_button">Disable</a>
                        {% else %}
                        <a href="/settings/toggle-netdata" class="ui-button ui-widget ui-corner-all settings_button">Enable</a>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
        {% endif %}

        <div class="settings_block" id="advanced-block">
            <div class="settings_block_header">Advanced &amp; Developer</div>

            <nav><div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-reinstall-tab" data-toggle="tab" href="#nav-reinstall" role="tab" aria-controls="nav-reinstall" aria-selected="true">Reinstall Apps</a>
                <a class="nav-item nav-link" id="nav-beta-tab" data-toggle="tab" href="#nav-beta" role="tab" aria-controls="nav-beta" aria-selected="false">Beta Release</a>
                <a class="nav-item nav-link" id="nav-http-tab" data-toggle="tab" href="#nav-http" role="tab" aria-controls="nav-http" aria-selected="false">Reset HTTP</a>
                <a class="nav-item nav-link" id="nav-uploader-tab" data-toggle="tab" href="#nav-uploader" role="tab" aria-controls="nav-uploader" aria-selected="false">Uploader</a>
                <a class="nav-item nav-link" id="nav-factory-tab" data-toggle="tab" href="#nav-factory" role="tab" aria-controls="nav-factory" aria-selected="false">Factory Reset</a>
            </div></nav>

            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-reinstall" role="tabpanel" aria-labelledby="nav-reinstall-tab">
                    <!-- <div class="settings_block_subheader">Reinstall Applications</div> -->
                    If you are having issues with a specific application, you can try to reinstall them via the list below.
                    <br/>
                    Reinstalling an app will trigger a reboot of your device.
                    <br/><br/>

                    <select name="reinstall_app" id="reinstall_app">
                        <option value="none" selected="selected">Choose...</option>
                        <option value="bitcoin">Bitcoin</option>
                        <option value="lnd">LND</option>
                        <option value="loopd">Loop</option>
                        <option value="btcrpcexplorer">BTC RPC Explorer</option>
                        <option value="joinmarket">JoinMarket</option>
                        <option value="lndconnect">LND Connect</option>             
                        <option value="lndhub">LNDHub</option>
                        <option value="mempoolspace">Mempool.Space</option>             
                        <option value="rtl">RTL</option>
                        <option value="tor">Tor</option>
                        <option value="ufw">UFW</option>
                        <option value="webssh2">WebSSH2</option>
                        <option value="whirlpool">Whirlpool</option>
                        <option value="dojo">Dojo</option>
                    </select>
                    <button class="btn btn-outline-warning btn-sm" id="reinstall_button">Reinstall</button>
                </div>

                <div class="tab-pane fade" id="nav-beta" role="tabpanel" aria-labelledby="nav-beta-tab">
                    {% if not product_key_skipped %}
                        <div class="settings_block_subheader">Reinstall Latest Version</div>
                        <button id="upgrade" class="btn btn-light btn-sm">Install Latest Version</button>
                        <p>If you are running a beta or are having issues, it may be helpful to reinstall the latest official release.</p>
                        <div class="divider"></div>
                    {% endif %}

                    {% if not product_key_skipped %}
                        <div class="settings_block_subheader">Install Beta</div>
                        You can install beta releases of myNode software to help test. These may be less stable.
                        <br/><br/>
                        <table class="table table-borderless table-sm">
                            <tr>
                                <td>Current Beta Version</td>
                                <td>{{current_beta_version}}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Latest Beta Version</td>
                                <td>{{latest_beta_version}}</td>
                                <td>&nbsp;<a href="/settings/get-latest-version" class="ui-button ui-widget ui-corner-all settings_button_small">Check for Updates</a></td>
                            </tr>
                        </table>
                        {% if current_beta_version != latest_beta_version and latest_beta_version != "" %}
                            <button id="upgrade-beta" class="btn btn-light btn-sm">Install Beta</button>
                            {% if product_key_skipped %}
                                <p>Upgrade to myNode Premium to get one-click updates!</p>
                                <p>For manual upgrades, see our <a target="_blank" href="https://mynodebtc.com/guide/upgrading_your_device">upgrade guide</a>!</p>
                            {% endif %}
                        {% elif upgrade_error %}
                            <p style="color: red;">It appears a recent upgrade may not have fully completed.</p>
                            <button id="upgrade" class="btn btn-light btn-sm">Retry Upgrade</button>
                            <button id="show_upgrade_status_beta" class="btn btn-light btn-sm">Show Upgrade Logs</button>
                            <div id="upgrade_status_beta" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{upgrade_logs}}</pre></div>
                        {% endif %}
                    {% endif %}
                </div>

                <div class="tab-pane fade" id="nav-http" role="tabpanel" aria-labelledby="nav-http-tab">
                    <!-- <div class="settings_block_subheader">Reset HTTP Certificates</div> -->
                    <a id="regenerate" href="/settings/regen-https-certs" class="ui-button ui-widget ui-corner-all settings_button">Regenerate</a>
                    <p>This will regenerate your HTTPS certificates.</p>
                </div>

                <div class="tab-pane fade" id="nav-uploader" role="tabpanel" aria-labelledby="nav-uploader-tab">
                    <!-- <div class="settings_block_subheader">Uploader Device</div> -->
                    {% if is_uploader_device %}
                    <a href="/settings/toggle-uploader" class="ui-button ui-widget ui-corner-all settings_button" id="uploader">Disable Uploader Device</a>
                    {% else %}
                    <a href="/settings/toggle-uploader" class="ui-button ui-widget ui-corner-all settings_button" id="uploader">Enable Uploader Device</a>
                    {% endif %}
                    <p>This disables most features and prioritize sharing QuickSync files. It can be reversed later.</p>
                </div>
                <div class="tab-pane fade" id="nav-factory" role="tabpanel" aria-labelledby="nav-factory-tab">
                    <!-- <div class="settings_block_subheader">Factory Reset</div> -->
                    <button id="factory-reset" class="btn btn-outline-danger btn-sm">Factory Reset</button>
                    <p>
                        This will factory reset your mynode and all storage will be completely reset.
                        <br/>
                        Make sure you have backed up all your keys and wallets!
                    </p>
                </div>
            </div>
        </div>

        <div id="confirm-dialog"></div>

        <div id="upgrade-changelog-info"></div>

        <div id="delete-lnd-wallet-dialog" title="Delete Wallet" style="display:none;">
            <form id="delete_lnd_wallet_form" name="delete_lnd_wallet_form" action="/settings/delete-lnd-wallet" method="POST">
                <p class="red_text">Attention! This will delete your wallet and all remaining bitcoin!</p>
                <p>Please ensure you have closed all channels and withdrawn all bitcoin. If you still want to delete your wallet,
                    enter the admin password for your myNode.</p>
                <p>This will restart your device.</p>
                <p>myNode is not responsible for any lost assets.</p>
                <b>Password:</b>
                <br/>
                <input type="password" name="password_lnd_delete" id="password_lnd_delete" value="" class="text ui-widget-content ui-corner-all">
            
                <!-- Allow form submission with keyboard without duplicating the dialog button -->
                <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
            </form>
        </div>

        <div id="reset-tor-dialog" title="Reset Tor" style="display:none;">
            <form id="reset_tor_form" name="reset_tor_form" action="/settings/reset-tor" method="POST">
                <p>This will reset all your Tor services. After rebooting, they will get new IDs and certificates.</p>
                <p>This will reboot your device.</p>   
                <b>Password:</b>
                <br/>
                <input type="password" name="password_reset_tor" id="password_reset_tor" value="" class="text ui-widget-content ui-corner-all">
            
                <!-- Allow form submission with keyboard without duplicating the dialog button -->
                <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
            </form>
        </div>

        <div id="factory-reset-dialog" title="Factory Reset" style="display:none;">
            <form id="factory_reset_form" name="factory_reset_form" action="/settings/factory-reset" method="POST">
                <p>Factory reset will revert your device and all storage to the initial state.</p>
                <p class='red_text'>BACKUP ALL KEYS AND WALLETS BEFORE RESETTING YOUR DEVICE!</p>
                <p>This will reboot your device.</p>
                <p>Would you still like to reset your device?</p>
                <b>Password:</b>
                <br/>
                <input type="password" name="password_factory_reset" id="password_factory_reset" value="" class="text ui-widget-content ui-corner-all">
            
                <!-- Allow form submission with keyboard without duplicating the dialog button -->
                <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
            </form>
        </div>

        {% include 'includes/footer.html' %}
        <!-- Bootstrap JS -->
        <!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script> -->
        <!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script> -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
     </body>
</html>
