<!DOCTYPE html lang="en">
    <head>
        <title>{{ title }}</title>
        {% include 'includes/head.html' %}

        <script>
            function redirectHome() {
                window.location.replace("/");
            }

            $(document).ready(function() {
                setInterval(redirectHome, 30000);
            });
        </script>

     </head>

    <body>
        {% include 'includes/logo_header.html' %}
        
        <div class="state_header">{{ header_text }}</div>
        <div class="state_subheader">
            {{ subheader_text }}
            
            <br/><br/>
        </div>

     </body>
</html>