<!DOCTYPE html lang="en">
    <head>
        <title>{{ title }}</title>
        {% include 'includes/head.html' %}

        <script>
            $(document).ready(function() {
                hasShutdown = 0

                function redirectHome() {
                    window.location.replace("/");
                }

                function checkStatus() {
                    var jqxhr = $.get("/settings/ping", function() {
                        if (hasShutdown) {
                            // Redirect to home
                            setTimeout(redirectHome, 2500)
                        }
                    })
                    .done(function() {
                        if (hasShutdown) {
                            // Redirect to home
                            setTimeout(redirectHome, 2500)
                        }
                    })
                    .fail(function() {
                        hasShutdown = 1
                    })
                }
                
                checkStatus()
                setInterval(checkStatus, 2500);
            });
        </script>

     </head>

    <body>
        {% include 'includes/logo_header.html' %}
        
        <div class="state_header">{{ header_text }}</div>
        <div class="state_subheader">
            {{ subheader_text }}
            
            <br/><br/>
        </div>

     </body>
</html>