<!DOCTYPE html lang="en">
    <head>
        <title>{{ title }}</title>
        {% include 'includes/head.html' %}

        {% if refresh_rate is not none %}  
        <meta http-equiv="refresh" content="{{ refresh_rate }}"> 
        {% else %}
        <meta http-equiv="refresh" content="30">
        {% endif %}
     </head>

    <body>
        {% include 'includes/logo_header.html' %}
        
        <div class="state_header">{{ header_text }}</div>
        <div class="state_error">{{ error_message }}</div>

        <div class="state_subheader">{{ subheader_text }}</div>

        <div style="height: 40px;">&nbsp;</div>
        {% include 'includes/footer.html' %}
     </body>
</html>