<!DOCTYPE html lang="en">
    <head>
        <title>{{ title }}</title>
        {% include 'includes/head.html' %}

        <script>
            function showLog(name) {
                visible = $("#"+name+"_status").is(':visible');
                if (visible) {
                    $("#show_"+name+"_status").html("Show Log");
                    $("#"+name+"_status").hide();
                } else {
                    $("#show_"+name+"_status").html("Hide Log");
                    $("#"+name+"_status").show();
                }
            }

            $(document).ready(function() {
                $("#show_upgrade_status").on("click", function() {
                    $("#show_upgrade_status").hide(0);
                    $("#upgrade_status").show();
                });

                $("#show_upgrade_status_beta").on("click", function() {
                    $("#show_upgrade_status_beta").hide(0);
                    $("#upgrade_status_beta").show();
                });

                $("#show_product_key").on("click", function() {
                    $("#show_product_key").hide(0);
                    $("#product_key").show();
                });

                $("#glances").on("click", function() {
                    port="61208";
                    if (location.protocol == "https:") {
                        port="61209";
                    }
                    url = location.protocol+'//'+location.hostname+':'+port;
                    window.open(url,'_blank');
                })

                $("#netdata").on("click", function() {
                    port="19999";
                    if (location.protocol == "https:") {
                        port="20000";
                    }
                    url = location.protocol+'//'+location.hostname+':'+port;
                    window.open(url,'_blank');
                })

                $("#linux_terminal").on("click", function() {
                    port="2222";
                    if (location.protocol == "https:") {
                        port="2223";
                    }
                    url = location.protocol+'//'+location.hostname+':'+port+'/ssh/host/'+"{{local_ip}}";
                    window.open(url,'_blank');
                })
            });
        </script>
     </head>

    <body>
        {% include 'includes/logo_header.html' %}
        <div class="mynode_back_div">
            <a class="ui-button ui-widget ui-corner-all mynode_back" href="/"><span class="ui-icon ui-icon-home"></span>home&nbsp;</a>
        </div>

        <div class="main_header">Status</div>

        {% include 'includes/message_display.html' %}

        <!-- {{load_time}} ms -->

        <br/>
        <div class="settings_block">
            <div class="settings_block_header">myNode</div>
            
            <div class="settings_block_subheader">Version</div>
            <table class="info_table">
                <tr>
                    <th>Current Version</th>
                    <td>{{current_version}}</td>
                    <td></td>
                </tr>
            </table>
            <div class="divider"></div>

            {% include 'includes/info_table.html' %}

            {% include 'includes/status_table.html' %}

            <div class="settings_block_subheader">Settings</div>
            <a href="/settings" class="ui-button ui-widget ui-corner-all settings_button">Settings</a>
        </div>

        <div class="settings_block">
            <div class="settings_block_header">Service Status</div>

            <div class="settings_block_subheader">myNode Startup Status</div>
            <div class="settings_block_subheader_status">
                <div class="settings_block_subheader_status_icon {{ startup_status_color }}"></div>
                {{ startup_status }}
            </div>
            <button id="show_startup_status" onclick="showLog('startup')" class="ui-button ui-widget ui-corner-all settings_button_small">Show Log</button>
            <div id="startup_status" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{startup_status_log}}</pre></div>
            <div class="divider"></div>

            <div class="settings_block_subheader">QuickSync Status</div>
            <div class="settings_block_subheader_status">
                <div class="settings_block_subheader_status_icon {{ quicksync_status_color }}"></div>
                {{ quicksync_status }}
            </div>
            <button id="show_quicksync_status" onclick="showLog('quicksync')" class="ui-button ui-widget ui-corner-all settings_button_small">Show Log</button>
            <div id="quicksync_status" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{quicksync_status_log}}</pre></div>
            <div class="divider"></div>

            <div class="settings_block_subheader">Tor Status</div>
            <div class="settings_block_subheader_status">
                <div class="settings_block_subheader_status_icon {{ tor_status_color }}"></div>
                {{ tor_status }}
            </div>
            <button id="show_tor_status" onclick="showLog('tor')" class="ui-button ui-widget ui-corner-all settings_button_small">Show Log</button>
            <div id="tor_status" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{tor_status_log}}</pre></div>
            <div class="divider"></div>

            <div class="settings_block_subheader">Bitcoin Status</div>
            <div class="settings_block_subheader_status">
                <div class="settings_block_subheader_status_icon {{ bitcoin_status_color }}"></div>
                {{ bitcoin_status }}
            </div>
            <button id="show_bitcoin_status" onclick="showLog('bitcoin')" class="ui-button ui-widget ui-corner-all settings_button_small">Show Log</button>
            <div id="bitcoin_status" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{bitcoin_status_log}}</pre></div>
            <div class="divider"></div>

            {% if is_bitcoin_synced %}

            <div class="settings_block_subheader">LND Status</div>
            <div class="settings_block_subheader_status">
                <div class="settings_block_subheader_status_icon {{ lnd_status_color }}"></div>
                {{ lnd_status }}
            </div>
            <button id="show_lnd_status" onclick="showLog('lnd')" class="ui-button ui-widget ui-corner-all settings_button_small">Show Log</button>
            <div id="lnd_status" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{lnd_status_log}}</pre></div>
            <div class="divider"></div>

            {% if lnd_wallet_exists %}
            <div class="settings_block_subheader">Loop Status</div>
            <div class="settings_block_subheader_status">
                <div class="settings_block_subheader_status_icon {{ loop_status_color }}"></div>
                {{ loop_status }}
            </div>
            <button id="show_loop_status" onclick="showLog('loop')" class="ui-button ui-widget ui-corner-all settings_button_small">Show Log</button>
            <div id="loop_status" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{loop_status_log}}</pre></div>
            <div class="divider"></div>
            {% endif %}

            {% if lnd_wallet_exists %}
            <div class="settings_block_subheader">Pool Status</div>
            <div class="settings_block_subheader_status">
                <div class="settings_block_subheader_status_icon {{ pool_status_color }}"></div>
                {{ pool_status }}
            </div>
            <button id="show_pool_status" onclick="showLog('pool')" class="ui-button ui-widget ui-corner-all settings_button_small">Show Log</button>
            <div id="pool_status" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{pool_status_log}}</pre></div>
            <div class="divider"></div>
            {% endif %}

            {% if lnd_wallet_exists %}
            <div class="settings_block_subheader">Lightning Terminal Status</div>
            <div class="settings_block_subheader_status">
                <div class="settings_block_subheader_status_icon {{ lit_status_color }}"></div>
                {{ lit_status }}
            </div>
            <button id="show_lit_status" onclick="showLog('lit')" class="ui-button ui-widget ui-corner-all settings_button_small">Show Log</button>
            <div id="lit_status" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{lit_status_log}}</pre></div>
            <div class="divider"></div>
            {% endif %}

            <div class="settings_block_subheader">Electrum Server Status</div>
            <div class="settings_block_subheader_status">
                <div class="settings_block_subheader_status_icon {{ electrs_status_color }}"></div>
                {{ electrs_status }}
            </div>
            <button id="show_electrs_status" onclick="showLog('electrs')" class="ui-button ui-widget ui-corner-all settings_button_small">Show Log</button>
            <div id="electrs_status" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{electrs_status_log}}</pre></div>
            <div class="divider"></div>

            <div class="settings_block_subheader">LNDHub Status</div>
            <div class="settings_block_subheader_status">
                <div class="settings_block_subheader_status_icon {{ lndhub_status_color }}"></div>
                {{ lndhub_status }}
            </div>
            <button id="show_lndhub_status" onclick="showLog('lndhub')" class="ui-button ui-widget ui-corner-all settings_button_small">Show Log</button>
            <div id="lndhub_status" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{lndhub_status_log}}</pre></div>
            <div class="divider"></div>

            <div class="settings_block_subheader">RTL Status</div>
            <div class="settings_block_subheader_status">
                <div class="settings_block_subheader_status_icon {{ rtl_status_color }}"></div>
                {{ rtl_status }}
            </div>
            <button id="show_rtl_status" onclick="showLog('rtl')" class="ui-button ui-widget ui-corner-all settings_button_small">Show Log</button>
            <div id="rtl_status" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{rtl_status_log}}</pre></div>
            <div class="divider"></div>

            <div class="settings_block_subheader">LNbits Status</div>
            <div class="settings_block_subheader_status">
                <div class="settings_block_subheader_status_icon {{ lnbits_status_color }}"></div>
                {{ lnbits_status }}
            </div>
            <button id="show_lnbits_status" onclick="showLog('lnbits')" class="ui-button ui-widget ui-corner-all settings_button_small">Show Log</button>
            <div id="lnbits_status" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{lnbits_status_log}}</pre></div>
            <div class="divider"></div>

            <div class="settings_block_subheader">Thunderhub Status</div>
            <div class="settings_block_subheader_status">
                <div class="settings_block_subheader_status_icon {{ thunderhub_status_color }}"></div>
                {{ thunderhub_status }}
            </div>
            <button id="show_thunderhub_status" onclick="showLog('thunderhub')" class="ui-button ui-widget ui-corner-all settings_button_small">Show Log</button>
            <div id="thunderhub_status" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{thunderhub_status_log}}</pre></div>
            <div class="divider"></div>

            <div class="settings_block_subheader">Docker Status</div>
            <div class="settings_block_subheader_status">
                <div class="settings_block_subheader_status_icon {{ docker_status_color }}"></div>
                {{ docker_status }}
            </div>
            <button id="show_docker_status" onclick="showLog('docker')" class="ui-button ui-widget ui-corner-all settings_button_small">Show Log</button>
            <div id="docker_status" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{docker_status_log}}</pre></div>
            <div class="divider"></div>

            <div class="settings_block_subheader">Docker Image Build Status</div>
            <div class="settings_block_subheader_status">
                <div class="settings_block_subheader_status_icon {{ docker_image_build_status_color }}"></div>
                {{ docker_image_build_status }}
            </div>
            <button id="show_docker_image_build_status" onclick="showLog('docker_image_build')" class="ui-button ui-widget ui-corner-all settings_button_small">Show Log</button>
            <div id="docker_image_build_status" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{docker_image_build_status_log}}</pre></div>
            <div class="divider"></div>

            {% if not ui_settings['reseller'] %}
            <div class="settings_block_subheader">Whirlpool Status</div>
            <div class="settings_block_subheader_status">
                <div class="settings_block_subheader_status_icon {{ whirlpool_status_color }}"></div>
                {{ whirlpool_status }}
            </div>
            <button id="show_whirlpool_status" onclick="showLog('whirlpool')" class="ui-button ui-widget ui-corner-all settings_button_small">Show Log</button>
            <div id="whirlpool_status" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{whirlpool_status_log}}</pre></div>
            <div class="divider"></div>

            <div class="settings_block_subheader">Dojo Status</div>
            <div class="settings_block_subheader_status">
                <div class="settings_block_subheader_status_icon {{ dojo_status_color }}"></div>
                {{ dojo_status }}
                <span class='status_container_list'>
                    Running Containers: 
                    {% if 'tor' in running_containers %} tor {% endif %}
                    {% if 'nodejs' in running_containers %} nodejs {% endif %}
                    {% if 'db' in running_containers %} db {% endif %}
                    {% if 'nginx' in running_containers %} nginx {% endif %}
                </span>
            </div>
            <button id="show_dojo_status" onclick="showLog('dojo')" class="ui-button ui-widget ui-corner-all settings_button_small">Show Log</button>
            <div id="dojo_status" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{dojo_status_log}}</pre></div>
            <div class="divider"></div>
            {% endif %}

            <div class="settings_block_subheader">BTCPay Server Status</div>
            <div class="settings_block_subheader_status">
                <div class="settings_block_subheader_status_icon {{ btcpayserver_status_color }}"></div>
                {{ btcpayserver_status }}
                <span class='status_container_list'>
                    Running Containers: 
                    {% if 'btcpayserver_btcpayserver_1' in running_containers %} btcpayserver {% endif %}
                    {% if 'btcpayserver_nbxplorer_1' in running_containers %} nbxplorer {% endif %}
                    {% if 'btcpayserver_postgres_1' in running_containers %} postgres {% endif %}
                </span>
            </div>
            <button id="show_btcpayserver_status" onclick="showLog('btcpayserver')" class="ui-button ui-widget ui-corner-all settings_button_small">Show Log</button>
            <div id="btcpayserver_status" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{btcpayserver_status_log}}</pre></div>
            <div class="divider"></div>

            <div class="settings_block_subheader">Mempool Status</div>
            <div class="settings_block_subheader_status">
                <div class="settings_block_subheader_status_icon {{ mempool_status_color }}"></div>
                {{ mempool_status }}
                <span class='status_container_list'>
                    Running Containers: 
                    {% if 'mempool_web_1' in running_containers %} mempool_web_1 {% endif %}
                    {% if 'mempool_db_1' in running_containers %} mempool_db_1 {% endif %}
                    {% if 'mempool_api_1' in running_containers %} mempool_api_1 {% endif %}
                </span>
            </div>
            <button id="show_mempool_status" onclick="showLog('mempool')" class="ui-button ui-widget ui-corner-all settings_button_small">Show Log</button>
            <div id="mempool_status" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{mempool_status_log}}</pre></div>
            <div class="divider"></div>

            <div class="settings_block_subheader">Caravan Status</div>
            <div class="settings_block_subheader_status">
                <div class="settings_block_subheader_status_icon {{ caravan_status_color }}"></div>
                {{ caravan_status }}
            </div>
            <button id="show_caravan_status" onclick="showLog('caravan')" class="ui-button ui-widget ui-corner-all settings_button_small">Show Log</button>
            <div id="caravan_status" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{caravan_status_log}}</pre></div>
            <div class="divider"></div>

            <div class="settings_block_subheader">CKBunker Status</div>
            <div class="settings_block_subheader_status">
                <div class="settings_block_subheader_status_icon {{ ckbunker_status_color }}"></div>
                {{ ckbunker_status }}
            </div>
            <button id="show_ckbunker_status" onclick="showLog('ckbunker')" class="ui-button ui-widget ui-corner-all settings_button_small">Show Log</button>
            <div id="ckbunker_status" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{ckbunker_status_log}}</pre></div>
            <div class="divider"></div>

            <div class="settings_block_subheader">Specter Status</div>
            <div class="settings_block_subheader_status">
                <div class="settings_block_subheader_status_icon {{ specter_status_color }}"></div>
                {{ specter_status }}
            </div>
            <button id="show_specter_status" onclick="showLog('specter')" class="ui-button ui-widget ui-corner-all settings_button_small">Show Log</button>
            <div id="specter_status" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{specter_status_log}}</pre></div>
            <div class="divider"></div>

            {% if lnd_wallet_exists %}
            <div class="settings_block_subheader">Sphinx Relay Status</div>
            <div class="settings_block_subheader_status">
                <div class="settings_block_subheader_status_icon {{ sphinxrelay_status_color }}"></div>
                {{ sphinxrelay_status }}
            </div>
            <button id="show_sphinxrelay_status" onclick="showLog('sphinxrelay')" class="ui-button ui-widget ui-corner-all settings_button_small">Show Log</button>
            <div id="sphinxrelay_status" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{sphinxrelay_status_log}}</pre></div>
            <div class="divider"></div>
            {% endif %}

            {% if netdata_enabled %}
            <div class="settings_block_subheader">Netdata Status</div>
            <div class="settings_block_subheader_status">
                <div class="settings_block_subheader_status_icon {{ netdata_status_color }}"></div>
                {{ netdata_status }}
            </div>
            <button id="show_netdata_status" onclick="showLog('netdata')" class="ui-button ui-widget ui-corner-all settings_button_small">Show Log</button>
            <div id="netdata_status" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{netdata_status_log}}</pre></div>
            <div class="divider"></div>
            {% endif %}

            {% endif %}

            <div class="settings_block_subheader">NGINX Status</div>
            <div class="settings_block_subheader_status">
                <div class="settings_block_subheader_status_icon {{ nginx_status_color }}"></div>
                {{ nginx_status }}
            </div>
            <button id="show_nginx_status" onclick="showLog('nginx')" class="ui-button ui-widget ui-corner-all settings_button_small">Show Log</button>
            <div id="nginx_status" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{nginx_status_log}}</pre></div>
            <div class="divider"></div>

            <div class="settings_block_subheader">Firewall Status</div>
            <div class="settings_block_subheader_status">
                <div class="settings_block_subheader_status_icon {{ firewall_status_color }}"></div>
                {{ firewall_status }}
            </div>
            <button id="show_firewall_status" onclick="showLog('firewall')" class="ui-button ui-widget ui-corner-all settings_button_small">Show Log</button>
            <div id="firewall_status" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{firewall_status_log}}</pre></div>
        </div>


        {% include 'includes/footer.html' %}
     </body>
</html>
