<!DOCTYPE html lang="en">
    <head>
        <title>{{ title }}</title>
        {% include 'includes/head.html' %}

        <script>
            function showLog(name) {
                visible = $("#"+name+"_log").is(':visible');
                if (visible) {
                    $("#show_"+name+"_log").html("Show Log");
                    $("#"+name+"_log").hide();
                } else {
                    $("#show_"+name+"_log").html("Hide Log");
                    $.get( "/api/get_log?app="+name, function( data ) {
                        $("#"+name+"_log").html("<pre>"+data["log"]+"</pre>");
                        $("#"+name+"_log").show();
                    });
                }
            }

            $(document).ready(function() {

                $("#show_product_key").on("click", function() {
                    $("#show_product_key").hide(0);
                    $("#product_key").show();
                });

                $("#show_os_drive_usage_details").on("click", function() {
                    if($("#os_drive_usage_details").is(":visible")){
                        $("#show_os_drive_usage_details").text("Show Details")
                        $("#os_drive_usage_details").hide();
                    } else {
                        $("#show_os_drive_usage_details").text("Hide Details")
                        $("#os_drive_usage_details").show();
                    }
                });

                $("#show_data_drive_usage_details").on("click", function() {
                    if($("#data_drive_usage_details").is(":visible")){
                        $("#show_data_drive_usage_details").text("Show Details")
                        $("#data_drive_usage_details").hide();
                    } else {
                        $("#show_data_drive_usage_details").text("Hide Details")
                        $("#data_drive_usage_details").show();
                    }
                });

                showing_info_table_advanced_rows=0;
                $("#info_table_show_advanced_info").on("click", function() {
                    if (showing_info_table_advanced_rows) {
                        $("#info_table_show_advanced_info").html("Show");
                        $(".info_table_advanced_row").hide();
                        showing_info_table_advanced_rows = 0;
                    } else {
                        $("#info_table_show_advanced_info").html("Hide");
                        $(".info_table_advanced_row").show();
                        showing_info_table_advanced_rows = 1;
                    }
                });

                $("#glances").on("click", function() {
                    port="61208";
                    if (location.protocol == "https:") {
                        port="61209";
                    }
                    url = location.protocol+'//'+location.hostname+':'+port;
                    window.open(url,'_blank');
                })

                $("#netdata").on("click", function() {
                    port="19999";
                    if (location.protocol == "https:") {
                        port="20000";
                    }
                    url = location.protocol+'//'+location.hostname+':'+port;
                    window.open(url,'_blank');
                })

                $("#linux_terminal").on("click", function() {
                    port="2222";
                    if (location.protocol == "https:") {
                        port="2223";
                    }
                    url = location.protocol+'//'+location.hostname+':'+port+'/ssh/host/'+"{{local_ip}}";
                    window.open(url,'_blank');
                })

                // Functions to update status and status color
                function update_status_basic(status_name, data) {
                    if (data != null && "status" in data && data["status_basic"] != null) {
                        $("#"+status_name).html(data["status_basic"]);
                    }
                }
                function update_status_icon(status_icon_name, data) {
                    if (data != null && "color" in data && data["color"] != null) {
                        $("#"+status_icon_name).removeClass("red");
                        $("#"+status_icon_name).removeClass("yellow");
                        $("#"+status_icon_name).removeClass("green");
                        $("#"+status_icon_name).removeClass("gray");
                        $("#"+status_icon_name).removeClass("blue");
                        $("#"+status_icon_name).removeClass("clear");
                        $("#"+status_icon_name).addClass(data["color"]);
                    }
                }
                {% for app in apps %}
                    {% if app.show_on_status_page %}
                        $.getJSON("/api/get_service_status?service={{app.short_name}}", function( data ) {
                            update_status_basic("{{app.short_name}}_status", data);
                            update_status_icon("{{app.short_name}}_status_icon", data);
                        });
                    {% endif %}
                {% endfor %}
            });
        </script>
     </head>

    <body>
        {% include 'includes/logo_header.html' %}
        <div class="mynode_top_left_div">
            <a href="/"><img class="mynode_nav_icon" src="{{ url_for('static', filename="images/home.png")}}"/></a>
        </div>

        <div class="main_header">Status</div>

        {% include 'includes/message_display.html' %}

        <!-- {{load_time}} ms -->

        <br/>
        <div class="settings_block">
            <div class="settings_block_header">myNode</div>
            
            <div class="settings_block_subheader">Version</div>
            <table class="info_table">
                <tr>
                    <th>Current Version</th>
                    <td>{{current_version}}</td>
                    <td></td>
                </tr>
            </table>
            <div class="divider"></div>

            {% include 'includes/info_table.html' %}

            {% include 'includes/status_table.html' %}

            <div class="settings_block_subheader">Settings</div>
            <a href="/settings" class="ui-button ui-widget ui-corner-all settings_button">Settings</a>
        </div>

        <div class="settings_block">
            <div class="settings_block_header">Service Status</div>

            <div class="settings_block_subheader">myNode Startup Status</div>
            <div class="settings_block_subheader_status">
                <div class="settings_block_subheader_status_icon {{ startup_status_color }}"></div>
                {{ startup_status }}
            </div>
            <button id="show_startup_log" onclick="showLog('startup')" class="ui-button ui-widget ui-corner-all settings_button_small">Show Log</button>
            <div id="startup_log" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{startup_status_log}}</pre></div>
            <div class="divider"></div>

            {% if is_quicksync_enabled %}
            <div class="settings_block_subheader">QuickSync Status</div>
            <div class="settings_block_subheader_status">
                <div class="settings_block_subheader_status_icon {{ quicksync_status_color }}"></div>
                {{ quicksync_status }}
            </div>
            <button id="show_quicksync_log" onclick="showLog('quicksync')" class="ui-button ui-widget ui-corner-all settings_button_small">Show Log</button>
            <div id="quicksync_log" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{quicksync_status_log}}</pre></div>
            <div class="divider"></div>
            {% endif %}

            <div class="settings_block_subheader">Tor Status</div>
            <div class="settings_block_subheader_status">
                <div class="settings_block_subheader_status_icon {{ tor_status_color }}"></div>
                {{ tor_status }}
            </div>
            <button id="show_tor_log" onclick="showLog('tor')" class="ui-button ui-widget ui-corner-all settings_button_small">Show Log</button>
            <div id="tor_log" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{tor_status_log}}</pre></div>
            <div class="divider"></div>

            <div class="settings_block_subheader">Bitcoin Status</div>
            <div class="settings_block_subheader_status">
                <div class="settings_block_subheader_status_icon {{ bitcoin_status_color }}"></div>
                {{ bitcoin_status }}
            </div>
            <button id="show_bitcoin_log" onclick="showLog('bitcoin')" class="ui-button ui-widget ui-corner-all settings_button_small">Show Log</button>
            <div id="bitcoin_log" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{bitcoin_status_log}}</pre></div>
            <div class="divider"></div>

            {% if is_bitcoin_synced %}

            <div class="settings_block_subheader">LND Status</div>
            <div class="settings_block_subheader_status">
                <div class="settings_block_subheader_status_icon {{ lnd_status_color }}"></div>
                {{ lnd_status }}
            </div>
            <button id="show_lnd_log" onclick="showLog('lnd')" class="ui-button ui-widget ui-corner-all settings_button_small">Show Log</button>
            <div id="lnd_log" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{lnd_status_log}}</pre></div>
            <div class="divider"></div>

            {% for app in apps %}
                {% if app.show_on_status_page %}
                    {% set display = 1 %}

                    {% if app.requires_bitcoin and not is_bitcoin_synced %}
                        {% set display = 0 %}
                    {% endif %}
                    {% if app.requires_lightning %}
                        {% set display = 0 %}
                        {% if lnd_wallet_exists and lnd_ready %}
                            {% set display = 1 %}
                        {% endif %}
                    {% endif %}
                    {% if not app.is_enabled %}
                        {% set display = 0 %}
                    {% endif %}
                    
                    {% if display %}
                        <div class="settings_block_subheader">{{app.name}} Status</div>
                        <div class="settings_block_subheader_status">
                            <div id="{{app.short_name}}_status_icon" class="settings_block_subheader_status_icon clear"></div>
                            <span id="{{app.short_name}}_status">Loading....</span>
                        </div>
                        <button id="show_{{app.short_name}}_log" onclick="showLog('{{app.short_name}}')" class="ui-button ui-widget ui-corner-all settings_button_small">Show Log</button>
                        <div id="{{app.short_name}}_log" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>Loading...</pre></div>
                        <div class="divider"></div>
                    {% endif %}
                {% endif %}
            {% endfor %}


            <div class="settings_block_subheader">Whirlpool Status</div>
            <div class="settings_block_subheader_status">
                <div class="settings_block_subheader_status_icon {{ whirlpool_status_color }}"></div>
                {{ whirlpool_status }}
            </div>
            <button id="show_whirlpool_log" onclick="showLog('whirlpool')" class="ui-button ui-widget ui-corner-all settings_button_small">Show Log</button>
            <div id="whirlpool_log" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{whirlpool_status_log}}</pre></div>
            <div class="divider"></div>

            <div class="settings_block_subheader">Dojo Status</div>
            <div class="settings_block_subheader_status">
                <div class="settings_block_subheader_status_icon {{ dojo_status_color }}"></div>
                {{ dojo_status }}
                <span class='status_container_list'>
                    Running Containers: 
                    {% if 'tor' in running_containers %} tor {% endif %}
                    {% if 'nodejs' in running_containers %} nodejs {% endif %}
                    {% if 'db' in running_containers %} db {% endif %}
                    {% if 'nginx' in running_containers %} nginx {% endif %}
                </span>
            </div>
            <button id="show_dojo_log" onclick="showLog('dojo')" class="ui-button ui-widget ui-corner-all settings_button_small">Show Log</button>
            <div id="dojo_log" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{dojo_status_log}}</pre></div>
            <div class="divider"></div>

            <div class="settings_block_subheader">BTCPay Server Status</div>
            <div class="settings_block_subheader_status">
                <div class="settings_block_subheader_status_icon {{ btcpayserver_status_color }}"></div>
                {{ btcpayserver_status }}
                <span class='status_container_list'>
                    Running Containers: 
                    {% if 'generated_btcpayserver_1' in running_containers %} btcpayserver {% endif %}
                    {% if 'generated_nbxplorer_1' in running_containers %} nbxplorer {% endif %}
                    {% if 'generated_postgres_1' in running_containers %} postgres {% endif %}
                </span>
            </div>
            <button id="show_btcpayserver_log" onclick="showLog('btcpayserver')" class="ui-button ui-widget ui-corner-all settings_button_small">Show Log</button>
            <div id="btcpayserver_log" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{btcpayserver_status_log}}</pre></div>
            <div class="divider"></div>

            <div class="settings_block_subheader">Mempool Status</div>
            <div class="settings_block_subheader_status">
                <div class="settings_block_subheader_status_icon {{ mempool_status_color }}"></div>
                {{ mempool_status }}
                <span class='status_container_list'>
                    Running Containers: 
                    {% if 'mempool_web_1' in running_containers %} mempool_web_1 {% endif %}
                    {% if 'mempool_db_1' in running_containers %} mempool_db_1 {% endif %}
                    {% if 'mempool_api_1' in running_containers %} mempool_api_1 {% endif %}
                </span>
            </div>
            <button id="show_mempool_log" onclick="showLog('mempool')" class="ui-button ui-widget ui-corner-all settings_button_small">Show Log</button>
            <div id="mempool_log" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{mempool_status_log}}</pre></div>
            <div class="divider"></div>

            {% endif %}

            <div class="settings_block_subheader">Docker Status</div>
            <div class="settings_block_subheader_status">
                <div class="settings_block_subheader_status_icon {{ docker_status_color }}"></div>
                {{ docker_status }}
            </div>
            <button id="show_docker_log" onclick="showLog('docker')" class="ui-button ui-widget ui-corner-all settings_button_small">Show Log</button>
            <div id="docker_log" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{docker_status_log}}</pre></div>
            <div class="divider"></div>

            {% if is_bitcoin_synced %}
            <div class="settings_block_subheader">Docker Image Build Status</div>
            <div class="settings_block_subheader_status">
                <div class="settings_block_subheader_status_icon {{ docker_image_build_status_color }}"></div>
                {{ docker_image_build_status }}
            </div>
            <button id="show_docker_image_build_log" onclick="showLog('docker_image_build')" class="ui-button ui-widget ui-corner-all settings_button_small">Show Log</button>
            <div id="docker_image_build_log" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{docker_image_build_status_log}}</pre></div>
            <div class="divider"></div>
            {% endif %}

            <div class="settings_block_subheader">NGINX Status</div>
            <div class="settings_block_subheader_status">
                <div class="settings_block_subheader_status_icon {{ nginx_status_color }}"></div>
                {{ nginx_status }}
            </div>
            <button id="show_nginx_log" onclick="showLog('nginx')" class="ui-button ui-widget ui-corner-all settings_button_small">Show Log</button>
            <div id="nginx_log" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{nginx_status_log}}</pre></div>
            <div class="divider"></div>

            {% if is_bitcoin_synced %}
            <div class="settings_block_subheader">USB Extras Status</div>
            <div class="settings_block_subheader_status">
                <div class="settings_block_subheader_status_icon {{ usb_extras_status_color }}"></div>
                {{ usb_extras_status }}
            </div>
            <button id="show_usb_extras_log" onclick="showLog('usb_extras')" class="ui-button ui-widget ui-corner-all settings_button_small">Show Log</button>
            <div id="usb_extras_log" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{usb_extras_status_log}}</pre></div>
            <div class="divider"></div>
            {% endif %}

            <div class="settings_block_subheader">Web Server Status</div>
            <div class="settings_block_subheader_status">
                <div class="settings_block_subheader_status_icon {{ www_status_color }}"></div>
                {{ www_status }}
            </div>
            <button id="show_www_log" onclick="showLog('www')" class="ui-button ui-widget ui-corner-all settings_button_small">Show Log</button>
            <div id="www_log" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{www_status_log}}</pre></div>
            <div class="divider"></div>

            <div class="settings_block_subheader">I2PD Status</div>
            <div class="settings_block_subheader_status">
                <div class="settings_block_subheader_status_icon {{ i2pd_status_color }}"></div>
                {{ i2pd_status }}
            </div>
            <button id="show_i2pd_log" onclick="showLog('i2pd')" class="ui-button ui-widget ui-corner-all settings_button_small">Show Log</button>
            <div id="i2pd_log" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{i2pd_status_log}}</pre></div>
            <div class="divider"></div>

            <div class="settings_block_subheader">Firewall Status</div>
            <div class="settings_block_subheader_status">
                <div class="settings_block_subheader_status_icon {{ ufw_status_color }}"></div>
                {{ ufw_status }}
            </div>
            <button id="show_ufw_log" onclick="showLog('ufw')" class="ui-button ui-widget ui-corner-all settings_button_small">Show Log</button>
            <div id="ufw_log" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{ufw_status_log}}</pre></div>
            <div class="divider"></div>
            
            <div class="settings_block_subheader">Linux Status</div>
            <div class="settings_block_subheader_status">
                <div class="settings_block_subheader_status_icon {{ linux_status_color }}"></div>
                {{ linux_status }}
            </div>
            <button id="show_linux_log" onclick="showLog('linux')" class="ui-button ui-widget ui-corner-all settings_button_small">Show Log</button>
            <div id="linux_log" style='text-align: left; font-size: 12px; width: 800px; display: none;'><pre>{{linux_status_log}}</pre></div>
        </div>


        {% include 'includes/footer.html' %}
     </body>
</html>
