<!DOCTYPE html lang="en">
    <head>
        <title>{{ title }}</title>
        {% include 'includes/head.html' %}

        <script>
            $(document).ready(function() {
                hidden=1
                $("#show_onion_urls").on("click", function() {
                    if (hidden == 1) {
                        $("#show_onion_urls").html('Hide Onion URLs');
                        $(".onion_url_placeholder").hide(0)
                        $(".onion_url").show();
                        $(".onion_password_placeholder").hide(0)
                        $(".onion_password").show();
                        hidden=0;
                    } else {
                        $("#show_onion_urls").html('Show Onion URLs');
                        $(".onion_url_placeholder").show()
                        $(".onion_url").hide(0);
                        $(".onion_password_placeholder").show()
                        $(".onion_password").hide(0);
                        hidden=1;
                    }
                });

                fully_noded_qr_dialog = $( "#fully-noded-qr-dialog" ).dialog({
                    autoOpen: false,
                    resizable: false,
                    height: "auto",
                    width: 600,
                    modal: true,
                    position: { my: "center top", at: "center top", of: window, collision: "none" },
                });
                $("#fully_noded_show_qr_button").on("click", function() {
                    fully_noded_qr_dialog.dialog( "open" );
                });


                {% for service in v3_services %}
                $("#{{ service.id }}").tooltip({ content: "<img style='width: 300px; height: 300px;' src='/api/get_qr_code_image?url={{ service.link }}'/>" });
                {% endfor %}
            });
        </script>
        <style>
            .onion_url {
                display: none;
            }
            .onion_password {
                display: none;
            }
        </style>
    </head>

    <body>
        {% include 'includes/logo_header.html' %}
        <div class="mynode_back_div">
            <a class="ui-button ui-widget ui-corner-all mynode_back" href="/"><span class="ui-icon ui-icon-home"></span>home&nbsp;</a>
        </div>

        {% include 'includes/message_display.html' %}

        <div class="main_header">Core Services</div>
        <br/>
        
        <div class="app_tile_row">
            <div class="info_tile">
                <div class="info_tile_header">Bitcoin</div>
                <div class="info_tile_contents">Tor Enabled</div>
            </div>
            <div class="info_tile">
                <div class="info_tile_header">Lightning</div>
                <div class="info_tile_contents">Tor Enabled</div>
            </div>
            <div class="info_tile">
                <div class="info_tile_header">Version</div>
                <div class="info_tile_contents">{{version}}</div>
            </div>
        </div>

        <br/>
        <div class="main_header">Tor Onion Addresses</div>
        <div class="main_header_sub_text">
            Sharing these Onion URLs will allow others to access your device. Keep them private unless there is someone you specifically want to share access with.
            <br/><br/>
            <button id="show_onion_urls" class="ui-button ui-widget ui-corner-all">Show Onion URLs</button>
        </div>
        <br/>

        <div class="sub_header">Tor Services</div>
        <table class="bitcoin_table">
            <thead class="bitcoin_table_header">
                <td>Service</td>
                <td>Address</td>
                <td>Port</td>
                <td>Link</td>
                <td></td>
                <td>Guide</td>
            </thead>
            <tbody>
                {% for service in v3_services %}
                    <tr>
                        <td><b>{{ service.service }}</b></td>
                        <td>
                            <span class="onion_url">{{ service.url }}</span>
                            <span class="onion_url_placeholder">..................................................</span>
                        </td>
                        <td>{{ service.port }}</td>
                        <td>
                            {% if service.show_link %}
                                <a href="{{ service.link }}" target="_blank">Link</a>
                            {% endif %}
                        </td>
                        <td>
                            {% if service.show_link %}
                                <img id="{{ service.id }}" style="width: 18px;" title="" src="{{ url_for('static', filename="images/qr_code.png") }}"/>
                            {% endif %}
                        </td>
                        <td>
                            {% if service.guide|length %}
                                <a href="{{ service.guide }}" target="_blank">Guide</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <br/>

        <br/>
        <div class="main_header">Tor Connected Apps</div>
        <div class="app_tile_row">
            <div class="app_tile_short">
                <div class="app_status_icon"></div>
                <div class="app_logo"><img class="app_logo_icon" src="{{ url_for('static', filename="images/fully_noded_logo.png")}}"/></div>
                <div class="app_title">Fully Noded</div>
                <div class="app_status"></div>
                <div class="app_contents">
                    <button id="fully_noded_show_qr_button" class="ui-button ui-widget ui-corner-all mynode_button">Show QR</button>
                </div>
            </div>
        </div>


        <div id="fully-noded-qr-dialog" title="Fully Noded QR Code" style="display:none; width: 600px;">
            <p>Scan this QR code in Fully Noded to pair your myNode.</p>
            <center>
            <img style="height:400px; width: 400px; margin: auto;" src="/api/get_qr_code_image?url={{ fully_noded_link|urlencode }}"/>

            <br/><br/>
            
            <span style="font-size: 8px;">{{fully_noded_link}}</span>
            <br/><br/>
            <a class="ui-button ui-widget ui-corner-all mynode_button" style="margin:auto;" href="{{ fully_noded_link }}" target="_blank">Link</a>
            <br/>
            </center>
        </div>
    </div>

        </div>


        {% include 'includes/footer.html' %}
     </body>
</html>