<!DOCTYPE html lang="en">
    <head>
        <title>{{ title }}</title>
        {% include 'includes/head.html' %}

    </head>

    <body>
        {% include 'includes/logo_header.html' %}
        <div class="mynode_back_div">
            <a class="ui-button ui-widget ui-corner-all mynode_back" href="/"><span class="ui-icon ui-icon-home"></span>home&nbsp;</a>
        </div>

        {% include 'includes/message_display.html' %}

        <div class="main_header">Core Services</div>
        <br/>
        
        <div class="app_tile_row">
            <div class="info_tile">
                <div class="info_tile_header">Bitcoin</div>
                <div class="info_tile_contents">Tor Enabled</div>
            </div>
            <div class="info_tile">
                <div class="info_tile_header">Lightning</div>
                <div class="info_tile_contents">Tor Enabled</div>
            </div>
        </div>

        <br/>
        <div class="main_header">Tor Onion Addresses</div>
        <table class="bitcoind_table">
            <thead class="bitcoind_table_header">
                <td>Service</td>
                <td>Address</td>
                <td>Port</td>
                <td>Password</td>
                <td>Guide</td>
            </thead>
            <tbody>
                {% for service in services %}
                    <tr>
                        <td><b>{{ service.service }}</b></td>
                        <td>{{ mynode_onion_hostname }}</td>
                        <td>{{ service.port }}</td>
                        <td>{{ mynode_onion_password }}</td>
                        <td>
                            {% if service.guide|length %}
                                <a href="{{ service.guide }}" target="_blank">Guide</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>


        {% include 'includes/footer.html' %}
     </body>
</html>