<!DOCTYPE html lang="en">
    <head>
        <title>{{ title }}</title>
        {% include 'includes/head.html' %}

        <script>
            $(document).ready(function() {

                function downloadOvpn() {
                    $("#download_ovpn_form").submit();
                    download_ovpn_dialog.dialog( "close" );
                }
                download_ovpn_dialog = $( "#download-ovpn-dialog" ).dialog({
                    autoOpen: false,
                    resizable: false,
                    height: "auto",
                    width: 600,
                    modal: true,
                    position: { my: "center top", at: "center top", of: window, collision: "none" },
                    buttons: {
                        "Download": downloadOvpn,
                        Cancel: function() {
                            download_ovpn_dialog.dialog( "close" );
                        }
                    },
                    open: function() {
                        $("#password_download_ovpn").val("")
                    }
                });
                $("#download_ovpn").on("click", function() {
                    download_ovpn_dialog.dialog( "open" );
                });
                $("#download_ovpn_form").on("submit", function() {
                    download_ovpn_dialog.dialog( "close" );
                });

                function regenOvpn() {
                    $("#regen_ovpn_form").submit();
                    download_ovpn_dialog.dialog( "close" );
                }
                regen_ovpn_dialog = $( "#regen-ovpn-dialog" ).dialog({
                    autoOpen: false,
                    resizable: false,
                    height: "auto",
                    width: 600,
                    modal: true,
                    position: { my: "center top", at: "center top", of: window, collision: "none" },
                    buttons: {
                        "Regnerate": regenOvpn,
                        Cancel: function() {
                            regen_ovpn_dialog.dialog( "close" );
                        }
                    },
                    open: function() {
                        $("#password_regen_ovpn").val("")
                    }
                });
                $("#regen_ovpn").on("click", function() {
                    regen_ovpn_dialog.dialog( "open" );
                });
                $("#regen_ovpn_form").on("submit", function() {
                    regen_ovpn_dialog.dialog( "close" );
                });
            });
        </script>
    </head>

    <body>
        {% include 'includes/logo_header.html' %}
        <div class="mynode_back_div">
            <a class="ui-button ui-widget ui-corner-all mynode_back" href="/"><span class="ui-icon ui-icon-home"></span>home&nbsp;</a>
        </div>

        {% include 'includes/message_display.html' %}

        <div class="main_header">VPN Status</div>
        <br/>
        
        <div class="app_tile_row">
            <div class="info_tile">
                <div class="info_tile_header">Status</div>
                <div class="info_tile_contents">{{status}}</div>
            </div>
            <div class="info_tile">
                <div class="info_tile_header">VPN Port</div>
                <div class="info_tile_contents">{{port}}</div>
            </div>
            <div class="info_tile">
                <div class="info_tile_header">Port Forwarded</div>
                <div class="info_tile_contents">
                    {% if port_forwarded %}
                    <div class="port_forwarded_icon green"></div>
                    {% else %}
                    <div class="port_forwarded_icon red"></div>
                    <p style="font-size: 10px;">Please forward port 51194 to your myNode's local IP address</p>
                    {% endif %}
                </div>
            </div>
            <div class="info_tile">
                <div class="info_tile_header">Public IP Address</div>
                <div class="info_tile_contents">{{public_ip}}</div>
            </div>
        </div>

        <div class="app_tile_row">
            <div class="info_tile">
                <div class="info_tile_header">Download OVPN File</div>
                <div class="info_tile_contents">
                    {% if vpn_file_exists %}
                    <a class="ui-button ui-widget ui-corner-all mynode_button_small" id="download_ovpn" style="width: 70%;" href="#">download</a>
                    {% else %}
                    Generating file...
                    {% endif %}
                </div>
            </div>
            <div class="info_tile">
                <div class="info_tile_header">Regenerate VPN Files</div>
                <div class="info_tile_contents">
                    {% if vpn_file_exists %}
                    <a class="ui-button ui-widget ui-corner-all mynode_button_small" id="regen_ovpn" style="width: 70%;" href="#">regenerate</a>
                    {% else %}
                    Generating file...
                    {% endif %}
                </div>
            </div>
        </div>


        <div id="download-ovpn-dialog" title="Download OVPN File" style="display:none;">
            <form id="download_ovpn_form" name="download_ovpn_form" action="/mynode.ovpn" method="POST">
                <p>The OVPN file is required to connect to your device remotely with Open VPN. Do not share this with others or
                    they will be able to access your myNode device and your network.</p>
                <p>Please enter your password to download your OVPN file.</p>
                <b>Password:</b>
                <br/>
                <input type="password" name="password_download_ovpn" id="password_download_ovpn" value="" class="text ui-widget-content ui-corner-all">
            
                <!-- Allow form submission with keyboard without duplicating the dialog button -->
                <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
            </form>
        </div>

        <div id="regen-ovpn-dialog" title="Regnerate VPN Files" style="display:none;">
            <form id="regen_ovpn_form" name="regen_ovpn_form" action="/regen-vpn" method="POST">
                <p>If you are having issues and want to regnerate your VPN files, please enter your password below. 
                   Be sure to re-download and re-import your OVPN files on any VPN clients.</p>
                <b>Password:</b>
                <br/>
                <input type="password" name="password_regen_ovpn" id="password_regen_ovpn" value="" class="text ui-widget-content ui-corner-all">
            
                <!-- Allow form submission with keyboard without duplicating the dialog button -->
                <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
            </form>
        </div>

        {% include 'includes/footer.html' %}
     </body>
</html>