<!DOCTYPE html lang="en">
    <head>
        <title>{{ title }}</title>
        {% include 'includes/head.html' %}
    </head>
    <body>
        {% include 'includes/logo_header.html' %}
        <div class="mynode_back_div">
            <a class="ui-button ui-widget ui-corner-all mynode_back" href="/"><span class="ui-icon ui-icon-home"></span>home&nbsp;</a>
        </div>
        
        <div class="main_header">Samourai Whirlpool</div>
        <!-- Big textbox to enter pairing key -->
        <!-- Submit button which on-click: disabled, executes whirlpool with the pairing key, sends error message to let the User retry, reloads the page if successful, shows the API key for next steps.  -->
        <div class="instructions">
            <div class="instructions-header">Instructions to setup Whirlpool</div>
            <ol class="instructions-steps">
                <li>Open up your Samourai mobile wallet. Press 3 dots on top right -> Settings -> Transactions-> Pair to Whirlpool GUI. Copy the code to clipboard and send the code to yourself securely for later use. It would look something like: </br>{"pairing":{"type":"whirlpool.gui","version":"3.0.0"...</li>
                <li>Remote login to your myNode using SSH. (Setup SSH key authentication using this <a href="https://www.mynodebtc.com/guide/ssh_key_auth" target="_blank">guide</a>)</li>
                <li>Navigate to whirlpool directorty: <span class='instructions-terminal'>cd /opt/mynode/whirlpool</span></li>
                <li>Run the Whirlpool executable: <span class='instructions-terminal'>sudo java -jar whirlpool-client-cli-0.9.1-run.jar --init --tor</span>. Type in your password when prompted. (Default password is bolt)</li>
                <li>Paste the Pairing Payload using <span class='instructions-keyboard'>Ctrl+Shift+V</span> (<span class='instructions-keyboard'>command+v</span> in MacOS) and press <span class='instructions-keyboard'>enter</span> (<span class='instructions-keyboard'>return</span> in MacOS).</li>
                <li>Type <span class='instructions-keyboard'>y</span> to enable Tor and press <span class='instructions-keyboard'>enter</span> (<span class='instructions-keyboard'>return</span> in MacOS).</li>
                <li>Initialization is successful if you see <span class="instructions-terminal">INITIALIZATION SUCCESS</span>. Repeat steps 3-6 if you don't see it.</li>
                <li>On the homepage, Whirlpool status should be "Initialized". Click on enable button to start the Whirlpool background service. Status should now be "Running".</li>
                <li>Install Whirlpool GUI from <a href="https://github.com/Samourai-Wallet/whirlpool-gui/releases" target="_blank">https://github.com/Samourai-Wallet/whirlpool-gui/releases</a>.</li>
                <li>Select "Connect of remote CLI". Type in the IP address of your myNode, leave the port as 8899 and copy/paste the API key shown below.</li>
                <li>Type in the passphrase used in Samourai mobule wallet and click on "Sign in".</li>
                <li>Enjoy mixing your coins!</li>
            </ol>
        </div>
        <div class="app_tile_row">
            <div class="info_tile">
                <div class="info_tile_header">Status</div>
                <div class="info_tile_contents">{{whirlpool_status}}</div>
            </div>
            {% if whirlpool_enabled %}
            <div class="info_tile">
                <div class="info_tile_header">API Key for Whirlpool GUI</div>
                <div class="info_tile_contents">{{whirlpool_api_key}}</div>
            </div>
            {% endif %}
        </div>
    </body>
</html>