<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='/favicons/apple-touch-icon.png') }}">
<link rel="shortcut icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='/favicons/favicon-32x32.png') }}">
<link rel="shortcut icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='/favicons/favicon-16x16.png') }}">
<link rel="manifest" href="{{ url_for('static', filename='/favicons/site.webmanifest') }}">
<link rel="mask-icon" href="{{ url_for('static', filename='/favicons/safari-pinned-tab.svg') }}" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<link href="{{ url_for('static', filename='jquery_ui/jquery-ui.css')}}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/mynode.css')}}" rel="stylesheet">
{% if ui_settings['darkmode'] %}
<link href="{{ url_for('static', filename='css/mynode_dark.css')}}" rel="stylesheet">
{% endif %}
<link href="{{ url_for('static', filename='jquery_ui/jquery-ui.css')}}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/font-awesome-all.css')}}" rel="stylesheet">
<meta http-equiv="Content-Language" content="en">
<meta name="google" content="notranslate">
<script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
<script src="{{ url_for('static', filename='jquery_ui/jquery-ui.js')}}"></script>
<script src="{{ url_for('static', filename='js/font-awesome-all.js')}}"></script>
<script src="{{ url_for('static', filename='js/mynode.js')}}"></script>

{% if ui_settings['background'] and ui_settings['background'] != "none" %}
<style>
body {
    background-image: url("{{ url_for('static', filename='images/backgrounds/')}}{{ui_settings['background']}}.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
</style>
{% endif %}

<script>
    $(document).ready(function() {
        $( document ).tooltip();
    });
</script>