<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
<link href="{{ url_for('static', filename='jquery_ui/jquery-ui.css')}}" rel="stylesheet">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<!-- myNode CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/mynode.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/mynode_bitcoind.css')}}">
{% if ui_settings['darkmode'] %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/mynode_dark.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/mynode_bitcoind_dark.css')}}">
{% endif %}
<link href="{{ url_for('static', filename='jquery_ui/jquery-ui.css')}}" rel="stylesheet">
<meta http-equiv="Content-Language" content="en">
<meta name="google" content="notranslate">
<script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
<script src="{{ url_for('static', filename='jquery_ui/jquery-ui.js')}}"></script>
<script src="{{ url_for('static', filename='js/mynode.js')}}"></script>
