<div class="settings_block_subheader">
    Info
</div>
<table border="0">
    <tr>
        <td class="td_left_header">Serial Number</td>
        <td>{{serial_number}}</td>
    </tr>
    <tr>
        <td class="td_left_header">Product Key</td>
        <td>
            {% if product_key_skipped %}
                {{product_key}}
                &nbsp;<a href="/product-key" class="ui-button ui-widget ui-corner-all settings_button_small">Enter Product Key</a>
            {% else %}
                <button id="show_product_key" class="ui-button ui-widget ui-corner-all settings_button_small">Show</button>
                <span id="product_key" style="display: none;">{{product_key}}</span>
                &nbsp;<a href="/product-key" class="ui-button ui-widget ui-corner-all settings_button_small">Change</a>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td class="td_left_header">Device Type</td >
        <td>{{device_type}}</td>
    </tr>
    <tr>
        <td class="td_left_header">Device RAM</td>
        <td>{{device_ram}} GB</td>
    </tr>
    <tr>
        <td class="td_left_header">Local IP</td>
        <td>{{local_ip}}</td>
    </tr>
    {% if throttled_data['RAW_DATA'] != "0x0" and throttled_data['RAW_DATA'] != "MISSING" %}
    {% if throttled_data['UNDERVOLTED'] or throttled_data['CAPPED'] or throttled_data['THROTTLED'] or throttled_data['SOFT_TEMPLIMIT'] %}
    <tr>
        <td class="td_left_header">Active Throttling Data</td>
        <td style="color: red; font-size: 10px">
            {% if throttled_data['UNDERVOLTED'] %}Undervolted<br/>{% endif %}
            {% if throttled_data['CAPPED'] %}Capped CPU<br/>{% endif %}
            {% if throttled_data['THROTTLED'] %}Throttled CPU<br/>{% endif %}
            {% if throttled_data['SOFT_TEMPLIMIT'] %}Hit Soft Temp Limit<br/>{% endif %}
        </td>
    </tr>
    {% endif %}
    {% if throttled_data['HAS_UNDERVOLTED'] or throttled_data['HAS_CAPPED'] or throttled_data['HAS_THROTTLED'] or throttled_data['HAS_SOFT_TEMPLIMIT'] %}
    <tr>
        <td class="td_left_header">Historic Throttling Data<br/><span style="font-size: 10px;">*Occurred since last reboot</span></td>
        <td style="color: red; font-size: 10px;">
            {% if throttled_data['HAS_UNDERVOLTED'] %}Undervolted<br/>{% endif %}
            {% if throttled_data['HAS_CAPPED'] %}Capped CPU<br/>{% endif %}
            {% if throttled_data['HAS_THROTTLED'] %}Throttled CPU<br/>{% endif %}
            {% if throttled_data['HAS_SOFT_TEMPLIMIT'] %}Hit Soft Temp Limit<br/>{% endif %}
        </td>
    </tr>
    {% endif %}
    {% endif %}
    {% if has_checkin_error %}
    <tr>
        <td class="td_left_header">Server</td>
        <td style="color: red;"><b>Error contacting mynodebtc.com via Tor!</b><br/>You may have issues checking for new versions or saving product keys.</td>
    </tr>
    {% endif %}
    
</table>
<div class="divider"></div>