<div class="settings_block_subheader">
    Info
</div>
<table border="0" class="info_table" id="info_table">
    <tr>
        <th>Serial Number</th>
        <td>{{serial_number}}</td>
    </tr>
    <tr>
        <th>Product Key</th>
        <td>
            {% if product_key_skipped %}
                {{product_key}}
                &nbsp;<a href="/product-key" class="ui-button ui-widget ui-corner-all settings_button_small">Enter Product Key</a>
            {% else %}
                <button id="show_product_key" class="ui-button ui-widget ui-corner-all settings_button_small">Show</button>
                <span id="product_key" style="display: none;">{{product_key}}</span>
                &nbsp;<a href="/product-key" class="ui-button ui-widget ui-corner-all settings_button_small">Change</a>
            {% endif %}
        </td>
    </tr>
    {% if not product_key_skipped and check_in_data %}
    <!-- Only show support and not P+, it would be redundant in most cases -->
    <tr>
        <th>Support</th>
        <td>
            {% if check_in_data.support is defined and check_in_data.support.active is defined %}
                {% if check_in_data.support.active %}
                    <i class='fas fa-check' style="vertical-align: middle;" data-toggle='tooltip' data-placement='bottom'
                        {% if check_in_data.support.days_remaining is defined %}
                            title='Active - Expires in {{check_in_data.support.days_remaining}} days'
                        {% else %}
                            title='Active'
                        {% endif %}
                        ></i>
                    {% if check_in_data.support.days_remaining is defined and check_in_data.support.days_remaining|int < 45 %}
                        <i class='fas fa-exclamation' style="color: red; vertical-align: middle; margin-left: 5px;" data-toggle='tooltip' data-placement='bottom' title='Expiring Soon! {{check_in_data.support.days_remaining}} days remaining.'></i>
                        <a href="https://mynodebtc.com/order/premium_plus" target="_blank" style="margin-left: 5px;" class="ui-button ui-widget ui-corner-all settings_button_small">Extend</a>
                    {% endif %}
                {% else %}
                    <i class='fas fa-times' style="vertical-align: middle;" data-toggle='tooltip' data-placement='bottom'
                        {% if check_in_data.support.days_remaining is defined %}
                            title='Inactive - Expired {{check_in_data.support.days_remaining|int|abs}} days ago'
                        {% else %}
                            title='Inactive - Expired'
                        {% endif %}
                    ></i>
                    {% if check_in_data.support.days_remaining is defined and check_in_data.support.days_remaining|int > -45 %}
                        <i class='fas fa-exclamation' style="color: red; vertical-align: middle; margin-left: 5px;" data-toggle='tooltip' data-placement='bottom' title='Expired recently! Expired {{check_in_data.support.days_remaining|int|abs}} days ago.'></i>
                    {% endif %}
                    <a href="https://mynodebtc.com/order/premium_plus" target="_blank" style="margin-left: 5px;" class="ui-button ui-widget ui-corner-all settings_button_small">Extend</a>
                {% endif %}
            {% else %}
                Unknown
            {% endif %}
        </td>
    </tr>
    {% endif %}
    <tr>
        <th>Device Type</th>
        <td>
            {{device_type}}
            {% if device_type == "raspi4" %}
                {% if device_arch == "aarch64" %}
                64-bit
                {% else %}
                32-bit<br/><br/><small>* It is recommended to upgrade to a 64-bit image by reflashing your OS. Some apps can no longer be updated on 32-bit.
                The image can be downloaded <a href="https://mynodebtc.com/download" target="_blank">here</a> and a guide is <a href="https://mynodebtc.github.io/advanced/flash-sd-card.html" target="_blank">available</a>.</small>
                {% endif %}
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>Device RAM</th>
        <td>{{device_ram}} GB</td>
    </tr>
    <tr>
        <th>Local IP</th>
        <td>
            {{local_ip}}
            {% if local_ip_subnet_conflit %}
                <br/><span style="color: red; font-size: 10px;">*Your IP address may conflict with internal subnets and cause issues</span>
            {% endif %}
        </td>
    </tr>
    {% if throttled_data['RAW_DATA'] != "0x0" and throttled_data['RAW_DATA'] != "MISSING" %}
    {% if throttled_data['UNDERVOLTED'] or throttled_data['CAPPED'] or throttled_data['THROTTLED'] or throttled_data['SOFT_TEMPLIMIT'] %}
    <tr>
        <th>Active Throttling Data</th>
        <td style="color: red; font-size: 10px">
            {% if throttled_data['UNDERVOLTED'] %}Undervolted<br/>{% endif %}
            {% if throttled_data['CAPPED'] %}Capped CPU<br/>{% endif %}
            {% if throttled_data['THROTTLED'] %}Throttled CPU<br/>{% endif %}
            {% if throttled_data['SOFT_TEMPLIMIT'] %}Hit Soft Temp Limit<br/>{% endif %}
        </td>
    </tr>
    {% endif %}
    {% if throttled_data['HAS_UNDERVOLTED'] or throttled_data['HAS_CAPPED'] or throttled_data['HAS_THROTTLED'] or throttled_data['HAS_SOFT_TEMPLIMIT'] %}
    <tr>
        <th>Historic Throttling Data<br/><span style="font-size: 10px;">*Occurred since last reboot</span></th>
        <td style="color: red; font-size: 10px;">
            {% if throttled_data['HAS_UNDERVOLTED'] %}Undervolted<br/>{% endif %}
            {% if throttled_data['HAS_CAPPED'] %}Capped CPU<br/>{% endif %}
            {% if throttled_data['HAS_THROTTLED'] %}Throttled CPU<br/>{% endif %}
            {% if throttled_data['HAS_SOFT_TEMPLIMIT'] %}Hit Soft Temp Limit<br/>{% endif %}
        </td>
    </tr>
    {% endif %}
    {% endif %}
    {% if oom_error %}
    <tr>
        <th>Memory</th>
        <td style="font-size: 12px;">
            <!--<span class="ui-icon ui-icon-alert"></span> <b>Low Memory</b> <span class="ui-icon ui-icon-alert"></span><br/>-->
            <b>Low Memory</b><br/>
            Your device was running low on memory and a process has been restarted. You may want to disable some applications.<br/>
            <span style="font-size: 10px;">{{ oom_info }}</span><br/><br/>
            <a href="/settings/clear-oom-error" class="ui-button ui-widget ui-corner-all settings_button_small">Clear Warning</a>
        </td>
    </tr>
    {% endif %}
    {% if has_checkin_error %}
    <tr>
        <th>Server</th>
        <td style="color: red;"><b>Error contacting mynodebtc.com via Tor!</b><br/>You may have issues checking for new versions or saving product keys. This may be a temporary issue.</td>
    </tr>
    {% endif %}

    <!-- From here down are the "Details" (hidden unless show details is clicked)-->
    <tr>
        <th>Advanced Info</th>
        <td>
            <button id="info_table_show_advanced_info" class="ui-button ui-widget ui-corner-all settings_button_small">Show</button>
        </td>
    </tr>
    <tr class="info_table_advanced_row" style="display: none;">
        <th>Debian Version</th>
        <td>{{debian_version}} ({{debian_codename}})</td>
    </tr>
    <tr class="info_table_advanced_row" style="display: none;">
        <th>Architecture</th>
        <td>{{device_arch}}</td>
    </tr>
    
</table>
<div class="divider"></div>