{% if product_key_skipped %}
<div class="main_page_warning_block">
    <p style="text-align: center;"><b>Community Edition</b></p>
    <p style="text-align: center;">You are currently using Community Edition. <a target="_blank" href="https://mynodebtc.com/order/premium">Upgrade now</a> or <a href="/product-key">add a key</a> for more features and support!</p>
</div>
{% endif %}

{% if fsck_error %}
<div class="main_page_error_block">
    <p style="text-align: center;"><b>Warning!</b></p>
    <p style="text-align: center;">There may be an error with the filesystem on your drive.</p>
    <p style="text-align: center;">
        {{ fsck_results }}
        <br/><br/><br/>
        <a href="/clear-fsck-error" class="ui-button ui-widget ui-corner-all settings_button_small">OK</a>
    </p>
</div>
{% endif %}

{% if sd_rw_error %}
<div class="main_page_error_block">
    <p style="text-align: center;">There may be an error with the filesystem on your SD card. It was mounted as read-only and has been updated to read/write.</p>
</div>
{% endif %}

{% if low_drive_space_error %}
<div class="main_page_error_block">
    <p style="text-align: center;"><b>Warning!</b></p>
    <p style="text-align: center;">Your drive is {{data_drive_usage}} full and free space is running very low. You may need to upgrade to a larger drive.</p>
    {% if not is_quicksync_disabled %}
    <p style="text-align: center;">QuickSync is enabled! Disable <a href="/settings#quicksync">QuickSync</a> to save significant disk space.</p>
    {% endif %}
    <p style="text-align: center;">To migrate to a larger drive, try the <a href="/settings#clone_tool">Clone Tool</a>.</p>
</div>
{% endif %}

{% if low_os_drive_space_error %}
<div class="main_page_error_block">
    <p style="text-align: center;"><b>Warning!</b></p>
    <p style="text-align: center;">Your SD card is {{os_drive_usage}} full and free space is running low.</p>
    <p style="text-align: center;">You can flash the latest image for your device onto a larger SD card. Instructions
        and download links are available <a href="https://mynodebtc.com/download" target="_blank">here</a>.</p>
</div>
{% endif %}

{% if oom_error %}
<!--
<div class="main_page_warning_block">
    <center>
    <p><b>Low Memory Warning</b><br/>Your device was running low on memory and a process has been killed. Please disable some applications and reboot the device.</p>
    <p>{{ oom_info }}</p>
    <a href="/clear-oom-error" class="ui-button ui-widget ui-corner-all settings_button_small">OK</a>
    </center>
</div>
-->
{% endif %}

{% if not has_changed_password and not hide_password_warning %}
<div class="main_page_warning_block">
    <p style="text-align: center;"><b>Warning!</b></p>
    <p style="text-align: center;">You appear to be using the default password! You should change it to
         something else on the <a href="/settings">settings</a> page.</p>
</div>
{% endif %}

<!-- Make sure blocks are syncing, otherwise on startup block 0 may show halving -->
{% if current_block > 100000 %}
    {% set blocks_until_halving = 210000 - (current_block % 210000) %}
    {% if blocks_until_halving < 1000 %}
    <div class="halving_message_main_page">
        <table class="halving_message_table">
            <tr>
                <td><img class="halving_image" src="{{ url_for('static', filename='images/stopwatch.png')}}"/></td>
                <td>{{ blocks_until_halving }} blocks to the halving...</td>
                <td><img class="halving_image" src="{{ url_for('static', filename='images/timer.png')}}"/></td>
            </tr>
        </table>
    </div>
    {% endif %}
    {% if blocks_until_halving > 209400 %}
    <div class="halving_message_main_page">
        <table class="halving_message_table">
            <tr>
                <td><img class="halving_image" src="{{ url_for('static', filename='images/fireworks1.png')}}"/></td>
                <td>Happy Halving!!!</td>
                <td><img class="halving_image" src="{{ url_for('static', filename='images/fireworks2.png')}}"/></td>
            </tr>
        </table>
    </div>
    {% endif %}
{% endif %}

<!-- USB Extras -->
{% if usb_extras %}
    {% for device in usb_extras %}
        {% if device.device_type == "opendime" %}
            <div class="main_page_warning_block">
                <p style="text-align: center;"><b>Opendime Detected!</b></p>
                <p style="text-align: center;">An Opendime has been found attached to your myNode! The interface 
                    can be accessed with the "Open" button below.
                    <br/><br/>
                    {% if device.state == "new" %}
                        Your Opendime appears to not be initialized. To seed it with randomness and setup the private
                        key, click the "Initialize" button.
                    {% elif device.state == "sealed" %}
                        Your Opendime appears to be initialized and ready to receive funds!
                    {% elif device.state == "unsealed" %}
                        Your Opendime appears to be unsealed and ready to redeem funds!
                    {% else %}
                        Uh oh! Your device state cannot be identified.
                        <br/><br/>
                        Device State: ({{ device.state }})
                    {% endif %}
                </p>
                <p style="text-align: center;">
                    {% if device.state == "new" %}
                    <a href="/usb_extras/opendime_init?id={{device.id}}" class="ui-button ui-widget ui-corner-all settings_button_small">Initialize</a>
                    {% endif %}
                    <a href="#" onclick="open_new_mynode_tab('{{device.port}}', 'http')" class="ui-button ui-widget ui-corner-all settings_button_small">Open</a>
                </p>
            </div>
        {% endif %}
    {% endfor %}
{% endif%}