<div class="settings_block_subheader">Status</div>
<table border="0">
    <tr>
        <td class="td_left_header">Details</td>
        <td>
            {% if is_netdata_enabled %}
                {% if is_bitcoin_synced %}
                    {% if not is_installing_docker_images %}
                        <a id="netdata" class="ui-button ui-widget ui-corner-all settings_button_small" href="#">Open Netdata</a>
                    {% else %}
                        <a class="ui-button ui-widget ui-corner-all settings_button_small" href="#" disabled>Netdata - Waiting on Docker</a>
                    {% endif %}
                {% else %}
                    <a class="ui-button ui-widget ui-corner-all settings_button_small" href="#" disabled>Netdata - Waiting on Bitcoin</a>
                {% endif %}
            {% endif %}
            <a id="glances" class="ui-button ui-widget ui-corner-all settings_button_small" href="#">Open Glances</a>
        </td>
    </tr>
    <tr>
        <td class="td_left_header">Manage</td>
        <td>
            <a id="linux_terminal" class="ui-button ui-widget ui-corner-all settings_button_small" href="#">Linux Terminal</a>
        </td>
    </tr>
    <tr>
        <td class="td_left_header">Disk Usage</td>
        <td>{{drive_usage}}</td>
    </tr>
    <tr>
        <td class="td_left_header">CPU</td>
        <td>{{cpu_usage}}</td>
    </tr>
    <tr>
        <td class="td_left_header">RAM</td>
        <td>{{ram_usage}}</td>
    </tr>
    {% if device_temp != '...' %}
    <tr>
        <td class="td_left_header">Temperature</td>
        <td>{{device_temp}} &deg;C</td>
    </tr>
    {% endif %}
    <tr>
        <td class="td_left_header">Uptime</td>
        <td>{{uptime}}</td>
    </tr>
    <tr>
        <td class="td_left_header">Date</td>
        <td>{{date}}</td>
    </tr>
</table>
<div class="divider"></div>