<div class="settings_block_subheader">Status</div>
<table class="info_table">
    <tr>
        <th>Details</th>
        <td>
            {% if netdata_enabled %}
                {% if is_bitcoin_synced %}
                    {% if not is_installing_docker_images %}
                        <a id="netdata" class="ui-button ui-widget ui-corner-all settings_button_small" href="#">Open Netdata</a>
                    {% else %}
                        <a class="ui-button ui-widget ui-corner-all settings_button_small" href="#" disabled>Netdata - Waiting on Docker</a>
                    {% endif %}
                {% else %}
                    <a class="ui-button ui-widget ui-corner-all settings_button_small" href="#" disabled>Netdata - Waiting on Bitcoin</a>
                {% endif %}
            {% endif %}
            <a id="glances" class="ui-button ui-widget ui-corner-all settings_button_small" href="#">Open Glances</a>
        </td>
    </tr>
    <tr>
        <th>Manage</th>
        <td>
            <a id="linux_terminal" class="ui-button ui-widget ui-corner-all settings_button_small" href="#">Linux Terminal</a>
        </td>
    </tr>
    <tr>
        <th>Data Disk Usage</th>
        <td>{{data_drive_usage}}</td>
    </tr>
    <tr>
        <th>OS Disk Usage</th>
        <td>{{os_drive_usage}}</td>
    </tr>
    <tr>
        <th>CPU</th>
        <td>{{cpu_usage}}</td>
    </tr>
    <tr>
        <th>RAM</th>
        <td>{{ram_usage}}</td>
    </tr>
    {% if device_temp != '...' %}
    <tr>
        <th>Temperature</th>
        <td>{{device_temp}} &deg;C</td>
    </tr>
    {% endif %}
    <tr>
        <th>Uptime</th>
        <td>{{uptime}}</td>
    </tr>
    <tr>
        <th>Date</th>
        <td>{{date}}</td>
    </tr>
</table>
<div class="divider"></div>