gnureadline
docker-compose
# Docker package pinned to <7 to prevent btcpayserver issue
# https://github.com/docker/docker-py/issues/3194
docker>=6.0.0,<7.0.0
pipenv
bcrypt
pysocks
redis
cysystemd<2.0.0
systemd
flask>=2.2.2,<2.4.0
pam
packaging>=22.0
python-bitcoinrpc
prometheus_client
psutil
transmissionrpc
qrcode
image
pyudev
inotify_simple
glances
bottle