.bitcoind_search_text {
    color: #888888;
}

.bitcoind_error_message {
    color: #BB4444;
}

.bitcoind_table_header {
    border-bottom: 2px solid gray;
}

table.bitcoind_table tbody tr:nth-child(odd) td{
    background-color: #222;
}
table.bitcoind_table tbody tr:nth-child(even) td{
    background-color: unset;
}