.logo_header {
    margin: auto;
    width: 300px;
    padding-bottom: 20px;
    cursor: pointer;
}

.logo_image {
    width: 100%;
}

.footer {
    margin: auto;
    padding-top: 25px;
    text-align: center;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

a:link {
    color: black;
    text-decoration: underline dashed orange;
}  
a:visited {
    color: black;
    text-decoration: underline dashed orange;
}
a:hover {
    color: black;
    text-decoration: underline solid orange;
}
a:active {
    color: black;
    text-decoration: underline dashed orange;
}

.mynode_back_div {
    position: fixed;
    top: 20px;
    left: 20px;
}

.mynode_top_right_div {
    position: fixed;
    top: 20px;
    right: 20px;
}

.state_header {
    color: #555555;
    text-align: center;
    font-size: 56px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 15px;
}

.state_subheader {
    color: #555555;
    text-align: center;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
}

.state_error {
    color: #DD5555;
    text-align: center;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.shutoff_warning {
    font-size: 12px;
}

.main_header {
    color: #555555;
    text-align: center;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5px;
}
.main_header_sub_text {
    width: 600px;
    color: #444444;
    margin: auto;
    text-align: center;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}

.sub_header {
    color: #555555;
    text-align: center;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;
    margin-bottom: 5px;
}
.sub_header_sub_text {
    width: 600px;
    color: #444444;
    margin: auto;
    text-align: center;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}

.error_message {
    color: red;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
}
.success_message {
    color: green;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
}

.app_tile_row_divider_left {
    width: 50%;
    float: left;
    margin: 0px;
}

.app_tile_row_divider_right {
    width: 50%;
    float: right;
    margin: 0px;

}

.app_tile_row {
    margin: auto;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 10px;
}
.app_tile_row_section {
    margin: auto;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 0px;
    margin-left: 20px;
    margin-right: 20px;
}
.app_tile {
    display: inline-block;
    position: relative;
    border: 3px solid orange;
    border-radius: 20px;
    width: 130px;
    min-width: 130px;
    height: 180px;
    padding: 10px;
    margin: 6px 10px 6px 10px;
}
.app_tile_short {
    display: inline-block;
    position: relative;
    border: 3px solid orange;
    border-radius: 20px;
    width: 130px;
    min-width: 130px;
    height: 150px;
    padding: 10px;
    margin: 10px;
}
.green { background-color: green; }
.yellow { background-color: yellow; }
.red { background-color: red; }
.gray { background-color: gray; }

.green_text {color: green;}
.yellow_text {color: yellow;}
.red_text {color: red;}

.app_status_icon {
    width: 14px;
    height: 14px;
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
.app_logo {
    margin: auto;
    height: 55px;
    padding-bottom: 5px;
}
.app_logo_icon {
    margin: auto;
    display: block;
    width: 40%;
}
.app_title {
    font-size: 18px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 6px;
}
.app_status {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 130%;
}
.app_contents {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    margin: auto;
    width: 130px;
    bottom: 10px;
    text-align: center;
}

.info_tile {
    display: inline-block;
    position: relative;
    border: 3px solid orange;
    border-radius: 25px;
    min-width: 120px;
    margin-left: 10px;
    margin-right: 10px;
}
.info_tile_header {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    background-color: orange;
    padding: 5px 10px 5px 10px;
    margin-top: -2px;
}
.info_tile_contents {
    margin-top: 5px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: middle;
    padding: 5px 10px 5px 10px;
}

.content_block {
    width: 600px;
    color: #444444;
    margin: auto;
    text-align: justify;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 40px;
}

.instructions {
    width: 75%;
    color: #444444;
    margin: auto;
    text-align: left;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 40px;
    margin-top: 40px;
}

.instructions-header {
    font-size: 18px;
    text-align: center;
}

.instructions-steps li {
    padding: 0.25em;
}

.instructions-terminal {
    font-family: "Courier New", Courier, monospace;
}

.instructions-keyboard {
    font-weight: bold;
}

.mynode_button {
    width: 80%;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
}

.mynode_button_small {
    font-size: 12px !important;
    font-family: Arial, Helvetica, sans-serif;
}

.drive_usage {
    margin-bottom: 25px;
    font-size: 24px;
    color: #222222;
}

.settings_block_header {
    color: #333333;
    border: 3px solid orange;
    border-radius: 25px;
    text-align: center;
    display: block;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    margin-bottom: 15px;
}
.settings_block_subheader {
    color: #333333;
    text-align: left;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 6px;
}
.settings_block_subheader_status {
    color: #333333;
    height: 18px;
    text-align: left;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    vertical-align: middle;
    margin-bottom: 2px;
}
.settings_block_subheader_status_icon {
    width: 10px;
    height: 10px;
    margin-right: 5px;
    display: inline-block;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
.settings_block {
    width: 800px;
    color: #444444;
    margin: auto;
    text-align: justify;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
}
.divider {
    width: 100%;
    margin-top: 12px;
    margin-bottom: 12px;
    border-bottom: 3px dashed orange;
    margin-left: auto;
    margin-right: auto;
}
.settings_button {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
}
.settings_button_small {
    font-size: 10px !important;
    font-family: Arial, Helvetica, sans-serif;
}
.settings_input {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.seed_textbox {
    width: 99%;
    height: 120px;
    font-size: 14px;
}

.small_message {
    width: 500px;
    font-size: 12px;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 40px;
    margin: auto;
}

#lndconnect_tabs {
    margin: auto;
    width: 500px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    line-height: 1.2;
    word-wrap: break-word;
    text-align: center;
}
.lndconnect_qr_code {
    width: 500px;
    margin: auto;
}

.product_key_form {
    width: 400px;
    margin: auto;
}
.product_key_input {
    width: 100%;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center; 
}
.product_key_save_button {
    width: 100%;
    margin-top: 10px;
    font-size: 20px !important;
}
.product_key_skip_button {
    width: 100%;
    margin-top: 10px;
    font-size: 14px !important;
}

.main_page_warning_block {
    color: #333333;
    border: 3px solid orange;
    background-color: rgb(255, 250, 238);
    width: 600px;
    border-radius: 25px;
    text-align: justify;
    display: block;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    margin: auto;
    margin-bottom: 20px;
}

.main_page_error_block {
    color: #333333;
    border: 3px solid red;
    background-color: rgb(255, 238, 238);
    width: 600px;
    border-radius: 25px;
    text-align: justify;
    display: block;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    margin: auto;
    margin-bottom: 20px;
}

#product_key_message {
    margin: auto;
    padding-bottom: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.upgrade_ad_main_page {
    color: #333333;
    border: 3px solid orange;
    background-color: rgb(255, 250, 238);
    width: 600px;
    border-radius: 25px;
    text-align: justify;
    display: block;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    padding-left: 12px;
    margin: auto;
    margin-bottom: 20px;
}

.port_forwarded_icon {
    width: 26px;
    height: 24px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.cli_command {
    width: 800px;
    margin: auto;
    display: table;
    padding: 10px;
    vertical-align: middle;
}
.cli_command_input {
    width: 685px;
    font-size: 20px;
    vertical-align: middle;
}
.cli_enter_button {
    width: 100px;
    font-size: 16px;
    vertical-align: middle;
}

.cli_contents {
    margin: auto;
    width: 800px;
    max-height: 500px;
    height: 500px;
    overflow-y: scroll;
    border: 2px solid #222222;
    border-radius: 5px;
}
.login_div {
    width: 300px;
    color: #444444;
    margin: auto;
    text-align: justify;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-bottom: 40px;
}
.login_password {
    width: 100%;
    font-size: 18px;
    padding: 5px 8px;
    margin: 8px 0;
    box-sizing: border-box;
}
.login_submit {
    width: 100%;
    margin-top: 5px;
}

.format_div {
    width: 800px;
    color: #444444;
    margin: auto;
    text-align: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-bottom: 40px;
}
.format_button {
    width: 500px;
    margin-top: 5px;
}

#download-handle {
    width: 6em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
}
#upload-handle {
    width: 6em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
}

.centered_text_div {
    width: 800px;
    margin: auto;
    text-align: justify;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-bottom: 40px;
}

.config_textarea {
    width: 800px;
    height: 400px;
    font-size: 14px;
    font-family: "Courier New", Courier, monospace;
}

.loading_image {
    width: 128px;
}

.halving_message_main_page {
    color: #333333;
    border: 3px solid orange;
    background-color: rgb(255, 250, 238);
    width: 600px;
    border-radius: 25px;
    text-align: center;
    display: block;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    padding-left: 12px;
    margin: auto;
    margin-bottom: 20px;
}
.halving_message_table {
    width: 100%;
    font-size: 32px;
    border: 0px;
    text-align: center;
}
.halving_image {
    width: 86px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 22px;
}
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: #2196F3;
}
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
    -webkit-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(14px);
}
/* Rounded sliders */
.slider.round {
    border-radius: 20px;
}
.slider.round:before {
    border-radius: 50%;
}

.log {
    font-size: 12px;
    max-height: 300px;
    overflow: auto;
    margin-top: 1em;
}

.nav-tabs {
    border-bottom-color: #f9c132;
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link.active {
    border-color: #f9c132;
}

.tab-content>.active {
    padding: 1em;
}

#overview-block .tab-content {
    height: 340px;
    overflow: auto;
}

#core-block .tab-content {
    height: 500px;
    overflow: auto;
}

#advanced-block .tab-content {
    height: 300px;
    overflow: auto;
}
