/* mynode color: #f9c132 */
/* dark grey for background: #303841 */
/* lighter gray: #3a4750 */
/* light gray: #eee */

body {
    background: #303841;
}

.footer {
    color: #eee;
}

a:link {
    color: #eee;
    text-decoration: underline dashed #eee;
}  
a:visited {
    color: #eee;
    text-decoration: underline dashed #eee;
}
a:hover {
    color: #eee;
    text-decoration: underline solid #eee;
}
a:active {
    color: #eee;
    text-decoration: underline dashed #eee;
}

.state_header {
    color: #eee;
}

.state_subheader {
    color: #eee;
}

.main_header {
    color: #eee;
}
.main_header_sub_text {
    color: #eee;
}

.app_tile {
    border: 3px solid #f9c132;
}
.app_tile_short {
    border: 3px solid #f9c132;
}

.app_title {
    color: #eee;
}
.app_status {
    color: #eee;
}
.app_contents {
    color: #eee;
}

.info_tile {
    border: 3px solid #f9c132;
}
.info_tile_header {
    color: #FFFFFF;
    background-color: #f9c132;
}
.info_tile_contents {
    color: #eee;
}

.content_block {
    color: #eee;
}

.drive_usage {
    color: #eee;
}

.settings_block_header {
    color: #eee;
    border: 3px solid #f9c132;
}
.settings_block_subheader {
    color: #eee;
}
.settings_block {
    color: #eee;
}

table {
    color: #eee;
}

.divider {
    border-bottom: 3px dashed #f9c132;
}

.ui-button.ui-widget.ui-corner-all{
    color: #303841;
    background-color: #eee;
    border-color: #eee;
}

.settings_input {
    color: white;
    background: #eee;
}

.main_page_warning_block {
    color: #eee;
    border: 3px solid #f9c132;
    background-color: #3a4750;
}

.main_page_error_block {
    color: #eee;
    border: 3px solid red;
    background-color: rgb(255, 238, 238);
}

.upgrade_ad_main_page {
    color: #eee;
    border: 3px solid #f9c132;
    background-color: #3a4750;
}

.slider {
  background-color: #ccc;
}

.slider:before {
  background-color: white;
}

input:checked + .slider {
  background-color: #eee;
}

input:focus + .slider {
  box-shadow: 0 0 1px #eee;
}

.cli_contents {
    border: 2px solid #222222;
}
#cli_contents {
    color: #eee;
}
.config_textarea {
	color: #eee;
	background-color: #303841;
}
