/* mynode color: #f9c132  - not used in UI*/
/* dark grey for background: #303841 */
/* lighter gray: #3a4750 */
/* light gray: #ddd */

body {
    background: #1b2127;
}

a:link,
a:visited,
a:hover,
a:active {
    color: #ddd;
    text-decoration: underline solid #eeeeee5e;
}

.footer,
.state_header,
.state_subheader,
.shutoff_warning,
.main_header,
.main_header_sub_text,
.sub_header,
.sub_header_sub_text,
.warning_div,
.format_div,
.app_title,
.app_status,
.app_contents,
.info_tile_contents,
.content_block,
.instructions,
.device_status_info,
.bitcoin_block,
.app_tile_lightning_details,
.lightning_channel_container,
.settings_block_subheader,
.settings_block_subheader_status,
.settings_block,
table,
#cli_contents,
.small_message {
    color: #ddd;
}

.app_tile,
.app_tile_short,
.app_tile_wide,
.app_tile_bitcoin_recent_blocks,
.app_tile_lightning_details,
.info_tile {
    border: none;
}

.app_tile,
.app_tile_wide,
.app_tile_bitcoin_recent_blocks,
.app_tile_lightning_details,
.app_tile_short {
  background-color: #121C21;
}

.info_tile {
    background: #121C1F;
}

.info_tile_header {
    color: #121C21;
    background-color: orange;
}

.bitcoin_table_header {
    border-bottom: 2px solid gray;
    background-color: unset;
}

table.bitcoin_table tbody tr:nth-child(odd) td{
    background-color: #ffffff05;
}
table.bitcoin_table tbody tr:nth-child(even) td{
    background-color: unset;
}


.settings_block_header {
  color: orange;
  font-weight: bold;
}

.settings_block_subheader {
    color: orange;
}


.divider {
    border-bottom: 1px solid #ffb7001c;
}

th td {
    border-top: #323640 1px solid;
}

.ui-button.ui-widget.ui-corner-all {
    color: #c3c3c3;
    background-color: #2a343d;
}

.ui-button.ui-widget.ui-corner-all:hover{
  background-color: #3a4854;
}

.loading_spinner_overlay {
    color: #ddd;
    background-color: #303841;
}

.main_page_warning_block,
.halving_message_main_page {
    color: #ddd;
    border: 3px solid orange;
    background-color: #3a4750;
}

.main_page_error_block a {
    color: black;
    text-decoration: underline dashed black;
}

.slider {
  background-color: #ccc;
}

.slider:before {
  background-color: white;
}

input:checked + .slider {
  background-color: #ddd;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ddd;
}

.cli_contents {
    border: 2px solid #222222;
}
.config_textarea {
	color: #ddd;
	background-color: #303841;
}

input:checked + .slider {
    background-color: #2196F3;
}
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
