<!DOCTYPE html lang="en">
    <head>
        <title>{{ title }}</title>
        {% include 'includes/head.html' %}
    </head>
    <body>
        {% include 'includes/logo_header.html' %}
        <div class="mynode_back_div">
            <a class="ui-button ui-widget ui-corner-all mynode_back" href="/"><span class="ui-icon ui-icon-home"></span>home&nbsp;</a>
        </div>

        <div class="main_header">{{app.name}} (custom page - remove)</div>
        <br/>

         <div class="app_tile_row">
            <div class="info_tile">
                <div class="info_tile_header">Status</div>
                <div class="info_tile_contents">
                    <table class="info_table">
                        <tr>
                            <th>Status</th>
                            <td>{{app_status}}</td>
                        </tr>
                        <tr>
                            <th>Actions</th>
                            <td>
                                <a class="ui-button ui-widget ui-corner-all mynode_button_small" style="width: 100px;" href="#">Open</a>
                                <a class="ui-button ui-widget ui-corner-all mynode_button_small" style="width: 100px;" href="#">Button A</a>
                                <a class="ui-button ui-widget ui-corner-all mynode_button_small" style="width: 100px;" href="#">Button B</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>


        <div class="instructions">
            <div class="instructions-header">Instructions</div>
            <ol class="instructions-steps">
                <li>Custom instructions?</li>
            </ol>

        </div>
    </body>
</html>
