# wetty service
# /etc/systemd/system/wetty.service

[Unit]
Description=wetty
Wants=www.service
After=www.service

[Service]
WorkingDirectory=/opt/mynode/wetty

ExecStartPre=/usr/bin/is_not_shutting_down.sh
ExecStartPre=/bin/bash -c 'if [ -f /usr/bin/service_scripts/pre_wetty.sh ]; then /bin/bash /usr/bin/service_scripts/pre_wetty.sh; fi'
ExecStart=/usr/bin/yarn run start -p 2224 --host 0.0.0.0 -b /
ExecStartPost=/bin/bash -c 'if [ -f /usr/bin/service_scripts/post_wetty.sh ]; then /bin/bash /usr/bin/service_scripts/post_wetty.sh; fi'
#ExecStop=TODO

User=wetty
Group=wetty
Type=simple
TimeoutSec=120
Restart=always
RestartSec=60
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=wetty

[Install]
WantedBy=multi-user.target