# bitcoin service
# /etc/systemd/system/bitcoin.service

[Unit]
Description=Bitcoin daemon
After=network.target mynode.service

[Service]
ExecStartPre=/usr/bin/is_not_shutting_down.sh
ExecStartPre=/usr/bin/wait_on_uploader.sh
ExecStartPre=/bin/sh -c 'cat /mnt/hdd/mynode/quicksync/.quicksync_complete'
ExecStartPre=+/usr/bin/mynode_gen_bitcoin_config.sh
EnvironmentFile=/mnt/hdd/mynode/bitcoin/env
ExecStart=/usr/local/bin/bitcoind -daemon $BTCARGS -deprecatedrpc=accounts -par=-1 -conf=/home/bitcoin/.bitcoin/bitcoin.conf -printtoconsole -pid=/home/bitcoin/.bitcoin/bitcoin.pid
ExecStartPost=+/usr/bin/service_post/post_bitcoin.sh
PIDFile=/home/bitcoin/.bitcoin/bitcoin.pid
User=bitcoin
Group=bitcoin
Type=forking
KillMode=process
Restart=always
Nice=0
IOAccounting=true
IOWeight=200
TimeoutSec=300
RestartSec=30
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=bitcoin

[Install]
WantedBy=multi-user.target