# bitcoind service
# /etc/systemd/system/bitcoind.service

[Unit]
Description=Bitcoin daemon
After=network.target mynode.service

[Service]
ExecStartPre=/usr/bin/wait_on_uploader.sh
ExecStartPre=/bin/sh -c 'cat /mnt/hdd/mynode/quicksync/.quicksync_complete'
EnvironmentFile=/mnt/hdd/mynode/bitcoin/env
ExecStart=/usr/local/bin/bitcoind -daemon $BTCARGS -deprecatedrpc=accounts -par=-1 -conf=/home/bitcoin/.bitcoin/bitcoin.conf -printtoconsole -pid=/home/bitcoin/.bitcoin/bitcoind.pid
PIDFile=/home/bitcoin/.bitcoin/bitcoind.pid
User=bitcoin
Group=bitcoin
Type=forking
KillMode=process
Restart=always
Nice=-1
TimeoutSec=300
RestartSec=30
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=bitcoind

[Install]
WantedBy=multi-user.target