# BTC RPC Explorer service
# /etc/systemd/system/btc_rpc_explorer.service

[Unit]
Description=BTC RPC Explorer
Wants=bitcoind.service
After=bitcoind.service

[Service]
ExecStartPre=/usr/bin/wait_on_bitcoin.sh
WorkingDirectory=/opt/mynode/btc-rpc-explorer
ExecStart=/usr/bin/npm start

User=bitcoin
Group=bitcoin
Type=simple
LimitNOFILE=128000
TimeoutSec=240
Restart=always
RestartSec=60
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=btc_rpc_explorer

[Install]
WantedBy=multi-user.target