# myNode btcpayserver service
# /etc/systemd/system/btcpayserver.service

[Unit]
Description=BTCPayServer service
After=docker.service network-online.target bitcoin.service
Requires=docker.service network-online.target bitcoin.service

[Service]
Type=oneshot
RemainAfterExit=yes

# myNode Customizations
ExecStartPre=/usr/bin/is_not_shutting_down.sh
ExecStartPre=/usr/bin/is_mainnet.sh
ExecStartPre=/usr/bin/wait_on_docker_image_install.sh
ExecStartPre=+/usr/bin/service_scripts/pre_btcpayserver.sh

ExecStart=/bin/bash -c  '. "/etc/profile.d/btcpay-env.sh" && cd "$BTCPAY_BASE_DIRECTORY/btcpayserver-docker" && . helpers.sh && btcpay_up'
ExecStop=/bin/bash -c   '. "/etc/profile.d/btcpay-env.sh" && cd "$BTCPAY_BASE_DIRECTORY/btcpayserver-docker" && . helpers.sh && btcpay_down'
ExecReload=/bin/bash -c '. "/etc/profile.d/btcpay-env.sh" && cd "$BTCPAY_BASE_DIRECTORY/btcpayserver-docker" && . helpers.sh && btcpay_restart'

[Install]
WantedBy=multi-user.target