# caravan service
# /etc/systemd/system/caravan.service

[Unit]
Description=Caravan
Wants=bitcoin.service
After=bitcoin.service

[Service]
ExecStartPre=/usr/bin/is_not_shutting_down.sh
ExecStartPre=/usr/bin/wait_on_bitcoin.sh
WorkingDirectory=/opt/mynode/caravan
#ExecStart=/usr/bin/npm start --port 3020 --base=/ --host
ExecStart=/usr/bin/sleep 365d

StandardInput=tty-force
TTYVHangup=yes
TTYPath=/dev/tty20
TTYReset=yes

User=bitcoin
Group=bitcoin
Type=simple
KillMode=control-group
TimeoutSec=30
Restart=on-failure
RestartSec=120
StandardOutput=journal
StandardError=journal
SyslogIdentifier=caravan

[Install]
WantedBy=multi-user.target
