# myNode check in service
# /etc/systemd/system/check_in.service

[Unit]
Description=myNode Check In
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/python3 /usr/bin/mynode_check_in.py
User=root
Group=root
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=mynode
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
