# corsproxy_btcrpc service
# /etc/systemd/system/corsproxy_btcrpc.service

[Unit]
Description=corsproxy_btcrpc
Wants=bitcoind.service
After=bitcoind.service

[Service]
ExecStartPre=/usr/bin/is_not_shutting_down.sh
ExecStartPre=/usr/bin/wait_on_bitcoin.sh
WorkingDirectory=/opt/mynode/corsproxy
Environment="CORSPROXY_PORT=8334" "CORSPROXY_HOST=0.0.0.0" "CORSPROXY_TARGET=localhost:8332" "CORSPROXY_USE_HTTPS=true" "CORSPROXY_HTTPS_KEY=/home/bitcoin/.mynode/https/myNode.local.key" "CORSPROXY_HTTPS_CERT=/home/bitcoin/.mynode/https/myNode.local.crt"
ExecStart=/usr/bin/npm start

User=root
Group=root
Type=simple
KillMode=process
TimeoutSec=30
Restart=on-failure
RestartSec=120
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=corsproxy_btcrpc

[Install]
WantedBy=multi-user.target
