# myNode Install Docker Images
# /etc/systemd/system/docker_images.service

[Unit]
Description=myNode Install Docker Images
Wants=mynode.service
After=mynode.service

[Service]
Type=simple
KillMode=control-group
ExecStart=/usr/bin/mynode_docker_images.sh
User=root
Group=root
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=mynode_docker_images
Restart=always
RestartSec=300

[Install]
WantedBy=multi-user.target
