# samourai dojo service
# /etc/systemd/system/dojo.service

[Unit]
Description=Dojo
After=network.target mynode.service docker_images.service

[Service]
Type=forking
RemainAfterExit=yes
ExecStartPre=/usr/bin/is_not_shutting_down.sh
ExecStartPre=/usr/bin/is_mainnet.sh
ExecStartPre=/usr/bin/wait_on_bitcoin.sh
ExecStartPre=/usr/bin/wait_on_docker_image_install.sh
WorkingDirectory=/mnt/hdd/mynode/dojo/docker/my-dojo
ExecStart=/mnt/hdd/mynode/dojo/docker/my-dojo/dojo.sh start
ExecStop=/mnt/hdd/mynode/dojo/docker/my-dojo/dojo.sh stop
User=root
Group=root
KillMode=control-group
TimeoutSec=180
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
