# myNode electrs service
# /etc/systemd/system/electrs.service

[Unit]
Description=myNode Electrum Server
Wants=bitcoind.service quicksync.service
After=bitcoind.service

[Service]
Type=simple
KillMode=process
EnvironmentFile=/mnt/hdd/mynode/settings/.btcrpc_environment
ExecStartPre=/usr/bin/wait_on_bitcoin.sh
ExecStart=/usr/bin/electrs --timestamp --db-dir /mnt/hdd/mynode/electrs --electrum-rpc-addr 0.0.0.0:50001 --cookie="mynode:${BTC_RPC_PASSWORD}" --jsonrpc-import --bulk-index-threads 3 --index-batch-size 12 --daemon-rpc-addr 127.0.0.1:8332  --tx-cache-size 10000 -vv
User=bitcoin
Group=bitcoin
TimeoutSec=300
Restart=always
RestartSec=60
Nice=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=electrs

[Install]
WantedBy=multi-user.target
