# myNode electrs service
# /etc/systemd/system/electrs.service

[Unit]
Description=myNode Electrum Server
Wants=bitcoin.service quicksync.service
After=bitcoin.service

[Service]
Type=simple
KillMode=process
ExecStartPre=/usr/bin/is_not_shutting_down.sh
ExecStartPre=/usr/bin/wait_on_bitcoin.sh
ExecStart=/usr/bin/electrs --conf=/mnt/hdd/mynode/electrs/electrs.toml -vv
User=bitcoin
Group=bitcoin
TimeoutSec=300
Restart=always
RestartSec=60
Nice=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=electrs

[Install]
WantedBy=multi-user.target
