# myNode electrs service
# /etc/systemd/system/electrs.service

[Unit]
Description=myNode Electrum Server
Wants=bitcoind.service quicksync.service
After=bitcoind.service

[Service]
Type=simple
KillMode=process
EnvironmentFile=/mnt/hdd/mynode/settings/.btcrpc_environment
ExecStartPre=/usr/bin/is_not_shutting_down.sh
ExecStartPre=/usr/bin/wait_on_bitcoin.sh
ExecStart=/usr/bin/electrs --conf=/mnt/hdd/mynode/electrs/electrs.toml -vvvv 
User=bitcoin
Group=bitcoin
TimeoutSec=300
Restart=always
RestartSec=60
Nice=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=electrs

[Install]
WantedBy=multi-user.target
