# MyNode invalid block service
# /etc/systemd/system/invalid_block_check.service

[Unit]
Description=MyNode Bitcoin Invalid Block Check
After=network.target mynode.service

[Service]
Type=simple
KillMode=control-group
ExecStart=/usr/bin/mynode_invalid_block_check.sh
User=root
Group=root
TimeoutSec=120
Restart=always
RestartSec=30
Nice=5
StandardOutput=journal
StandardError=journal
SyslogIdentifier=bitcoin

[Install]
WantedBy=multi-user.target
