# JAM service
# /etc/systemd/system/jam.service

[Unit]
Description=JAM
Wants=www.service docker_images.service
After=www.service docker_images.service

[Service]
WorkingDirectory=/mnt/hdd/mynode/jam
EnvironmentFile=/mnt/hdd/mynode/settings/.btcrpc_environment
ExecStartPre=/usr/bin/is_not_shutting_down.sh
ExecStartPre=/usr/bin/wait_on_bitcoin.sh
ExecStartPre=/usr/bin/wait_on_docker_image_install.sh
#ExecStartPre=/usr/bin/service_scripts/pre_jam.sh
#ExecStart=/usr/local/bin/docker-compose up
#ExecStartPost=/usr/bin/service_scripts/post_jam.sh
#ExecStop=/usr/local/bin/docker-compose down

User=root
Group=root
Type=simple
TimeoutSec=120
Restart=always
RestartSec=30
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=jam

[Install]
WantedBy=multi-user.target