# lit service
# /etc/systemd/system/lit.service

[Unit]
Description=Lightning Terminal
Wants=bitcoin.service lnd.service
After=bitcoin.service lnd.service

[Service]
ExecStartPre=/usr/bin/is_not_shutting_down.sh
ExecStartPre=/usr/bin/service_scripts/pre_lit.sh
ExecStartPre=/usr/bin/wait_on_bitcoin.sh
ExecStartPre=/usr/bin/wait_on_lnd.sh
ExecStartPre=+/usr/bin/mynode_gen_lit_config.sh
ExecStart=/usr/local/bin/litd --lit-dir=/mnt/hdd/mynode/lit

User=bitcoin
Group=bitcoin
Type=simple
KillMode=process
LimitNOFILE=128000
TimeoutSec=120
Nice=-1
IOAccounting=true
IOWeight=400
Restart=always
RestartSec=30
StandardOutput=journal
StandardError=journal
SyslogIdentifier=lit

[Install]
WantedBy=multi-user.target  
