# LNBits service
# /etc/systemd/system/lnbits.service

[Unit]
Description=LNBits
Wants=bitcoin.service lnd.service
After=bitcoin.service lnd.service

[Service]
ExecStartPre=/usr/bin/is_not_shutting_down.sh
ExecStartPre=/usr/bin/is_mainnet.sh
ExecStartPre=/usr/bin/wait_on_lnd.sh
ExecStartPre=/usr/bin/wait_on_docker_image_install.sh
ExecStartPre=/usr/bin/service_scripts/pre_lnbits.sh
WorkingDirectory=/opt/mynode/lnbits

ExecStart=/usr/bin/docker run --rm \
    --name lnbits \
    -p 5000:5000 \
    --volume /mnt/hdd/mynode/lnbits/.env:/app/.env \
    --volume /mnt/hdd/mynode/lnbits/:/app/data \
    --volume /mnt/hdd/mynode/lnd/tls.cert:/app/tls.cert \
    --volume /mnt/hdd/mynode/lnd/data/chain/bitcoin/mainnet/admin.macaroon:/app/admin.macaroon \
    --add-host=host.docker.internal:host-gateway \
    lnbits
ExecStop=/usr/bin/docker stop -t 2 lnbits

User=bitcoin
Group=bitcoin
Type=simple
TimeoutSec=120
Restart=always
RestartSec=30
StandardOutput=journal
StandardError=journal
SyslogIdentifier=lnbits

[Install]
WantedBy=multi-user.target