# lnd service
# /etc/systemd/system/lnd.service

[Unit]
Description=LND Lightning Daemon
Wants=bitcoind.service
After=bitcoind.service

[Service]
ExecStartPre=/usr/bin/is_not_shutting_down.sh
ExecStartPre=/usr/bin/pre_lnd.sh
ExecStartPre=/usr/bin/wait_on_bitcoin.sh
ExecStart=/usr/local/bin/lnd --caches.channel-cache-size=35000 --ignore-historical-gossip-filters --accept-keysend
ExecStartPost=/bin/echo 'abc' > /mnt/hdd/mynode/lnd/data/chain/bitcoin/mainnet/poke_login

User=bitcoin
Group=bitcoin
Type=simple
KillMode=control-group
LimitNOFILE=128000
TimeoutSec=240
Nice=-1
Restart=always
RestartSec=1
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=lnd

[Install]
WantedBy=multi-user.target  
