# LND Admin service
# /etc/systemd/system/admin_admin.service

[Unit]
Description=LND Admin
Wants=bitcoind.service
After=bitcoind.service

[Service]
ExecStartPre=/usr/bin/wait_on_lnd.sh
WorkingDirectory=/opt/mynode/lnd-admin
ExecStart=/usr/bin/npm start

User=bitcoin
Group=bitcoin
Type=simple
LimitNOFILE=128000
TimeoutSec=240
Restart=always
RestartSec=60
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=lnd_admin

[Install]
WantedBy=multi-user.target