# MyNode Backup LND
# /etc/systemd/system/lnd_backup.service

[Unit]
Description=Backup LND Channel File
Wants=lnd.service
After=lnd.service

[Service]
Type=simple
ExecStartPre=/usr/bin/is_not_shutting_down.sh
ExecStartPre=/usr/bin/wait_on_bitcoin.sh
ExecStartPre=/usr/bin/wait_on_lnd.sh
ExecStart=/usr/local/bin/python3 /usr/bin/mynode_backup_scb.py
Restart=always
RestartSec=1
User=bitcoin
Group=bitcoin
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=lndbackup

[Install]
WantedBy=multi-user.target
