# lndconnect qr code generation
# /etc/systemd/system/lndconnect.service

[Unit]
Description=LND Connect QR Code Generation
Wants=lnd.service
After=lnd.service

[Service]
ExecStart=/usr/bin/mynode_lndconnect.sh

User=root
Group=root
Type=simple
KillMode=control-group
TimeoutSec=30
Restart=always
RestartSec=30
StandardOutput=journal
StandardError=journal
SyslogIdentifier=lndconnect

[Install]
WantedBy=multi-user.target  
