# lndhub service
# /etc/systemd/system/lndhub.service

[Unit]
Description=LND Hub
Wants=lnd.service
After=lnd.service

[Service]
ExecStartPre=/usr/bin/is_not_shutting_down.sh
ExecStartPre=/usr/bin/wait_on_lnd.sh
Environment=PORT=3000
WorkingDirectory=/opt/mynode/LndHub
ExecStart=/usr/bin/npm start

User=bitcoin
Group=bitcoin
Type=simple
KillMode=control-group
TimeoutSec=240
Restart=always
RestartSec=60
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=lndhub

[Install]
WantedBy=multi-user.target