# loopd service
# /etc/systemd/system/loopd.service

[Unit]
Description=loopd
Wants=lnd.service
After=lnd.service

[Service]
ExecStartPre=/usr/bin/wait_on_lnd.sh
ExecStart=/usr/local/bin/loopd

User=bitcoin
Group=bitcoin
Type=simple
KillMode=process
LimitNOFILE=128000
TimeoutSec=240
Restart=always
RestartSec=60
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=loopd

[Install]
WantedBy=multi-user.target