# netdata service
# /etc/systemd/system/netdata.service

[Unit]
Description=Netdata
Wants=mynode.service docker_images.service
After=mynode.service docker_images.service

[Service]
WorkingDirectory=/opt/mynode/netdata
ExecStartPre=/usr/bin/wait_on_bitcoin.sh
ExecStart=/usr/local/bin/docker-compose -f netdata-compose.yml up
ExecStop=/usr/local/bin/docker-compose -f netdata-compose.yml down

User=bitcoin
Group=bitcoin
Type=simple
KillMode=process
TimeoutSec=240
Restart=always
RestartSec=60
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=netdata

[Install]
WantedBy=multi-user.target