# MyNode QuickSync Service
# /etc/systemd/system/quicksync.service

[Unit]
Description=MyNode QuickSync
Wants=mynode.service
After=mynode.service

[Service]
Type=simple
KillMode=control-group
TimeoutSec=60
Restart=always
RestartSec=30
Nice=5
ExecStartPre=/usr/bin/is_not_shutting_down.sh
ExecStart=/usr/bin/mynode_quicksync.sh
User=bitcoin
Group=bitcoin
StandardOutput=journal
StandardError=journal
SyslogIdentifier=mynode_quicksync

[Install]
WantedBy=multi-user.target
