[Unit]
Description=Redis In-Memory Data Store
After=mynode.service network.target lnd.target

[Service]
User=redis
Group=redis
ExecStart=/usr/bin/redis-server /etc/redis/redis.conf
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target