# RTL service
# /etc/systemd/system/rtl.service

[Unit]
Description=RTL
Wants=bitcoin.service
After=bitcoin.service

[Service]
ExecStartPre=/usr/bin/is_not_shutting_down.sh
ExecStartPre=/usr/bin/wait_on_lnd.sh
ExecStartPre=+/usr/bin/service_pre/pre_rtl.sh
WorkingDirectory=/opt/mynode/RTL
ExecStart=/usr/bin/node rtl

User=bitcoin
Group=bitcoin
Type=simple
TimeoutSec=120
Restart=always
RestartSec=60
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=rtl

[Install]
WantedBy=multi-user.target