# myNode Seed Bitcoin Peers
# /etc/systemd/system/seed_bitcoin_peers.service

[Unit]
Description=myNode Add Seed Peers
Wants=bitcoind.service
After=bitcoind.service

[Service]
Type=simple
KillMode=control-group
ExecStart=/usr/bin/mynode_add_bitcoin_peers.sh
User=bitcoin
Group=bitcoin
StandardOutput=journal
StandardError=journal
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
