# sphinxrelay service
# /etc/systemd/system/sphinxrelay.service

[Unit]
Description=Sphinx Relay
Wants=lnd.service
After=lnd.service

[Service]
ExecStartPre=/usr/bin/is_not_shutting_down.sh
ExecStartPre=/usr/bin/wait_on_lnd.sh
ExecStartPre=/usr/bin/mynode_pre_sphinxrelay.sh
WorkingDirectory=/opt/mynode/sphinxrelay
ExecStart=npm run prod

User=bitcoin
Group=bitcoin
Type=simple
KillMode=control-group
TimeoutSec=60
Restart=always
RestartSec=30
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=sphinxrelay

[Install]
WantedBy=multi-user.target
