# sphinx-relay service
# /etc/systemd/system/sphinx-relay.service

[Unit]
Description=Sphinx Relay
Wants=lnd.service
After=lnd.service

[Service]
ExecStartPre=/usr/bin/is_not_shutting_down.sh
ExecStartPre=/usr/bin/wait_on_lnd.sh
WorkingDirectory=/opt/mynode/sphinx-relay
ExecStart=npm run prod

User=bitcoin
Group=bitcoin
Type=simple
KillMode=control-group
TimeoutSec=240
Restart=always
RestartSec=60
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=sphinx-relay

[Install]
WantedBy=multi-user.target
