# myNode www service
# /etc/systemd/system/www.service

#############################################
## NOT USED ANYMORE - Now handled by NGINX ##
#############################################

[Unit]
Description=Proxy for Secure Electrs
Wants=mynode.service bitcoind.service
After=mynode.service bitcoind.service

[Service]
Type=simple
KillMode=control-group
TimeoutSec=30
Restart=always
RestartSec=10
ExecStartPre=/usr/bin/mynode_gen_cert_electrs.sh
ExecStart=/usr/sbin/hitch --tls --backend=[127.0.0.1]:50001 --frontend=[0.0.0.0]:50002 /home/bitcoin/.mynode/electrs/myNode.local.pem
User=bitcoin
Group=bitcoin

[Install]
WantedBy=multi-user.target
