# WebSSH2 service
# /etc/systemd/system/webssh2.service

[Unit]
Description=WebSSH2
Wants=www.service docker_images.service
After=www.service docker_images.service

[Service]
ExecStartPre=/usr/bin/is_not_shutting_down.sh
ExecStart=/usr/bin/docker run --rm --name webssh2 -p 2222:2222 -v /opt/mynode/webssh2/config.json:/usr/src/config.json webssh2
ExecStop=/usr/bin/docker stop -t 2 webssh2

User=root
Group=root
Type=simple
TimeoutSec=240
Restart=always
RestartSec=60
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=webssh2

[Install]
WantedBy=multi-user.target