[Unit]
Description=Whirlpool
After=tor.service

[Service]
WorkingDirectory=/opt/mynode/whirlpool
ExecStartPre=/usr/bin/is_not_shutting_down.sh
ExecStart=/usr/bin/java -jar /opt/mynode/whirlpool/whirlpool.jar --server=mainnet --tor --auto-mix --mixs-target=3 --listen
User=bitcoin
Group=bitcoin
Type=simple
KillMode=process
TimeoutSec=60
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
