# MyNode www service
# /etc/systemd/system/www.service

[Unit]
Description=MyNode Web Server
After=network.target

[Service]
Type=simple
KillMode=mixed
KillSignal=2
TimeoutSec=30
Restart=always
RestartSec=10
Nice=-15
IOAccounting=true
IOWeight=2000
ExecStart=/usr/bin/mynode_www.sh
User=root
Group=root
StandardOutput=journal
StandardError=journal
SyslogIdentifier=www

[Install]
WantedBy=multi-user.target
