# myNode www service
# /etc/systemd/system/www.service

[Unit]
Description=myNode Web Server
After=network.target

[Service]
Type=simple
KillMode=mixed
KillSignal=2
TimeoutSec=30
Restart=always
RestartSec=10
Nice=-15
IOAccounting=true
IOWeight=2000
ExecStart=/usr/bin/python /var/www/mynode/mynode.py
ExecStartPost=/usr/bin/mynode_post_www.sh
User=root
Group=root
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=www

[Install]
WantedBy=multi-user.target
