{% extends "warden/warden_layout.html" %}
{% block content %}

<!--  High Charts -->

<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <h1>Thank You!</h1>
      </br>
      </br>
      <p><strong style="font-size:  20px;" class="">This is an Open Source
          project</strong></p>
      </br></br>
      <p>We believe Open Source is the future of development for bitcoin. There is no other
        way when transparency and privacy are critical. </p>
      <p>Thanks for supporting a future where software is built with these ideals. All proceeds go towards improving
        the app.</p></br>
      <p><strong>We suggest a one time payment of 200,000 sats</strong>. But it's completely up to
        you the amount and if you want to contribute.</p>
      </br>
      <p> <a style="text-decoration : none" target='new_page' href="https://twitter.com/alphaazeta"> <i
            class="fab fa-twitter fa-xlg"></i>
          <span>@AlphaaZeta&nbsp;</span></a></p>

    </div>
    <div class='col-4'>
      <iframe src="https://hexawallet.io/donate/?donationid=f2f801d86997e87" width="100%" style="height: 800px;"
        frameborder="0" style="border: 0px;"></iframe>
    </div>
  </div>
</div>



{% endblock content %}