{% extends "warden/warden_layout.html" %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <h4>
        Seems like you don't have any wallets imported into <a href='https://mynode.local:25441/'>Specter</a></br>
      </h4><br>

      <h5>Getting Started?</br>
        <a href='https://mynode.local:25441/'>Open Specter</a> and import hardware wallets and other wallets. Everything
        imported there will eventually show up
        here.</h5>
      </br>
      <hr>


    </div>
    <div class="col-sm-4">
      <i class="fas fa-battery-empty fa-7x"></i>
    </div>
  </div>
</div>

{% endblock content %}