# MyNode Fan Control (RockPro64)
# /etc/systemd/system/fan_control.service

[Unit]
Description=MyNode Fan Control

[Service]
Type=simple
KillMode=control-group
ExecStart=/usr/bin/fan_control.py
User=root
Group=root
StandardOutput=journal
StandardError=journal
SyslogIdentifier=mynode_fan
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
